.container{
    width:100%;
}
.lr-padding{
    padding-left:10px;
    padding-right:10px;
}
.flex{
    display: flex;
    display: -webkit-flex;
}
.flex-col{
    flex-direction:column;
    -webkit-flex-direction:column;
}
.wrap{
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}
.wrap-reverse{
    flex-wrap:wrap-reverse;
    -webkit-flex-wrap:wrap-reverse;
}
.last{
    -webkit-order: 1;
    order: 1;
}
.first{
    -webkit-order: -1;
    order: -1;
}
.xs{
    flex:1;
}
.xs-1{
    flex-basis: 8.333333%;
}
.xs-2{
    flex-basis:16.666667%;
}
.xs-3{
    flex-basis:25%;
}
.xs-4{
    flex-basis:33.333333%;
}
.xs-5{
    flex-basis:41.666667%;
}
.xs-6{
    flex-basis:50%;
}
.xs-7{
    flex-basis:58.333333%;
}
.xs-8{
    flex-basis:66.666667%;
}
.xs-9{
    flex-basis:75%;
}
.xs-10{
    flex-basis:83.333333%;
}
.xs-11{
    flex-basis:91.666667%;
}
.xs-12{
    flex-basis:100%;
}
.start{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.center{
    -webkit-justify-content: center;
    justify-content: center;
}
.end{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.between{
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.around{
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.top{
    align-items:flex-start;
    -webkit-align-items:flex-start;
}
.middle{
    align-items:center;
    -webkit-align-items:center;
}
.bottom{
    align-items:flex-end;
    -webkit-align-items:flex-end;
}
.baseline{
    align-items:baseline;
    -webkit-align-items:baseline;
}
.xs-offset-1{
    flex-basis: 8.333333%;
}
.xs-offset-2{
    flex-basis:16.666667%;
}
.xs-offset-3{
    flex-basis:25%;
}
.xs-offset-4{
    flex-basis:33.333333%;
}
.xs-offset-5{
    flex-basis:41.666667%;
}
.xs-offset-6{
    flex-basis:50%;
}
.xs-offset-7{
    flex-basis:58.333333%;
}
.xs-offset-8{
    flex-basis:66.666667%;
}
.xs-offset-9{
    flex-basis:75%;
}
.xs-offset-10{
    flex-basis:83.333333%;
}
.xs-offset-11{
    flex-basis:91.666667%;
}
.xs-offset-12{
    flex-basis:100%;
}
@media (min-width:544px){
    .wrap-sm{
        flex-wrap:wrap;
        -webkit-flex-wrap:wrap;
    }
    .wrap-sm-no{
        flex-wrap:nowrap;
        -webkit-flex-wrap:nowrap;
    }
    .wrap-reverse-sm{
        flex-wrap:wrap-reverse;
        -webkit-flex-wrap:wrap-reverse;
    }
    .last-sm{
        -webkit-order: 1;
        order: 1;
    }
    .first-sm{
        -webkit-order: -1;
        order: -1;
    }
    .sm{
        flex:1;
    }
    .sm-1{
        flex-basis: 8.333333%;
    }
    .sm-2{
        flex-basis:16.666667%;
    }
    .sm-3{
        flex-basis:25%;
    }
    .sm-4{
        flex-basis:33.333333%;
    }
    .sm-5{
        flex-basis:41.666667%;
    }
    .sm-6{
        flex-basis:50%;
    }
    .sm-7{
        flex-basis:58.333333%;
    }
    .sm-8{
        flex-basis:66.666667%;
    }
    .sm-9{
        flex-basis:75%;
    }
    .sm-10{
        flex-basis:83.333333%;
    }
    .sm-11{
        flex-basis:91.666667%;
    }
    .sm-12{
        flex-basis:100%;
    }
    .start-sm{
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .center-sm{
        -webkit-justify-content: center;
        justify-content: center;
    }
    .end-sm{
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    .between-sm{
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .around-sm{
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    .top-sm{
        align-items:flex-start;
        -webkit-align-items:flex-start;
    }
    .middle-sm{
        align-items:center;
        -webkit-align-items:center;
    }
    .bottom-sm{
        align-items:flex-end;
        -webkit-align-items:flex-end;
    }
    .baseline-sm{
        align-items:baseline;
        -webkit-align-items:baseline;
    }
    .sm-offset-1{
        flex-basis: 8.333333%;
    }
    .sm-offset-2{
        flex-basis:16.666667%;
    }
    .sm-offset-3{
        flex-basis:25%;
    }
    .sm-offset-4{
        flex-basis:33.333333%;
    }
    .sm-offset-5{
        flex-basis:41.666667%;
    }
    .sm-offset-6{
        flex-basis:50%;
    }
    .sm-offset-7{
        flex-basis:58.333333%;
    }
    .sm-offset-8{
        flex-basis:66.666667%;
    }
    .sm-offset-9{
        flex-basis:75%;
    }
    .sm-offset-10{
        flex-basis:83.333333%;
    }
    .sm-offset-11{
        flex-basis:91.666667%;
    }
    .sm-offset-12{
        flex-basis:100%;
    }
}
@media (min-width:768px){
    .container{
        width:720px;
    }
    .wrap-md{
        flex-wrap:wrap;
        -webkit-flex-wrap:wrap;
    }
    .wrap-md-no{
        flex-wrap:nowrap;
        -webkit-flex-wrap:nowrap;
    }
    .wrap-reverse-md{
        flex-wrap:wrap-reverse;
        -webkit-flex-wrap:wrap-reverse;
    }
    .last-md{
        -webkit-order: 1;
        order: 1;
    }
    .first-md{
        -webkit-order: -1;
        order: -1;
    }
    .md{
        flex:1;
    }
    .md-1{
        flex-basis: 8.333333%;
    }
    .md-2{
        flex-basis:16.666667%;
    }
    .md-3{
        flex-basis:25%;
    }
    .md-4{
        flex-basis:33.333333%;
    }
    .md-5{
        flex-basis:41.666667%;
    }
    .md-6{
        flex-basis:50%;
    }
    .md-7{
        flex-basis:58.333333%;
    }
    .md-8{
        flex-basis:66.666667%;
    }
    .md-9{
        flex-basis:75%;
    }
    .md-10{
        flex-basis:83.333333%;
    }
    .md-11{
        flex-basis:91.666667%;
    }
    .md-12{
        flex-basis:100%;
    }
    .start-md{
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .center-md{
        -webkit-justify-content: center;
        justify-content: center;
    }
    .end-md{
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    .between-md{
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .around-md{
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    .top-md{
        align-items:flex-start;
        -webkit-align-items:flex-start;
    }
    .middle-md{
        align-items:center;
        -webkit-align-items:center;
    }
    .bottom-md{
        align-items:flex-end;
        -webkit-align-items:flex-end;
    }
    .baseline-md{
        align-items:baseline;
        -webkit-align-items:baseline;
    }
    .md-offset-1{
        flex-basis: 8.333333%;
    }
    .md-offset-2{
        flex-basis:16.666667%;
    }
    .md-offset-3{
        flex-basis:25%;
    }
    .md-offset-4{
        flex-basis:33.333333%;
    }
    .md-offset-5{
        flex-basis:41.666667%;
    }
    .md-offset-6{
        flex-basis:50%;
    }
    .md-offset-7{
        flex-basis:58.333333%;
    }
    .md-offset-8{
        flex-basis:66.666667%;
    }
    .md-offset-9{
        flex-basis:75%;
    }
    .md-offset-10{
        flex-basis:83.333333%;
    }
    .md-offset-11{
        flex-basis:91.666667%;
    }
    .md-offset-12{
        flex-basis:100%;
    }
}
@media(min-width:992px){
    .container{
        width:940px;
    }
    .wrap-lg{
        flex-wrap:wrap;
        -webkit-flex-wrap:wrap;
    }
    .wrap-lg-no{
        flex-wrap:nowrap;
        -webkit-flex-wrap:nowrap;
    }
    .wrap-reverse-lg{
        flex-wrap:wrap-reverse;
        -webkit-flex-wrap:wrap-reverse;
    }
    .last-lg{
        -webkit-order: 1;
        order: 1;
    }
    .first-lg{
        -webkit-order: -1;
        order: -1;
    }
    .lg{
        flex:1;
    }
    .lg-1{
        flex-basis: 8.333333%;
    }
    .lg-2{
        flex-basis:16.666667%;
    }
    .lg-3{
        flex-basis:25%;
    }
    .lg-4{
        flex-basis:33.333333%;
    }
    .lg-5{
        flex-basis:41.666667%;
    }
    .lg-6{
        flex-basis:50%;
    }
    .lg-7{
        flex-basis:58.333333%;
    }
    .lg-8{
        flex-basis:66.666667%;
    }
    .lg-9{
        flex-basis:75%;
    }
    .lg-10{
        flex-basis:83.333333%;
    }
    .lg-11{
        flex-basis:91.666667%;
    }
    .lg-12{
        flex-basis:100%;
    }
    .start-lg{
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .center-lg{
        -webkit-justify-content: center;
        justify-content: center;
    }
    .end-lg{
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    .between-lg{
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .around-lg{
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    .top-lg{
        align-items:flex-start;
        -webkit-align-items:flex-start;
    }
    .middle-lg{
        align-items:center;
        -webkit-align-items:center;
    }
    .bottom-lg{
        align-items:flex-end;
        -webkit-align-items:flex-end;
    }
    .baseline-lg{
        align-items:baseline;
        -webkit-align-items:baseline;
    }
    .lg-offset-1{
        flex-basis: 8.333333%;
    }
    .lg-offset-2{
        flex-basis:16.666667%;
    }
    .lg-offset-3{
        flex-basis:25%;
    }
    .lg-offset-4{
        flex-basis:33.333333%;
    }
    .lg-offset-5{
        flex-basis:41.666667%;
    }
    .lg-offset-6{
        flex-basis:50%;
    }
    .lg-offset-7{
        flex-basis:58.333333%;
    }
    .lg-offset-8{
        flex-basis:66.666667%;
    }
    .lg-offset-9{
        flex-basis:75%;
    }
    .lg-offset-10{
        flex-basis:83.333333%;
    }
    .lg-offset-11{
        flex-basis:91.666667%;
    }
    .lg-offset-12{
        flex-basis:100%;
    }
}
@media(min-width:1200px){
    .container{
        width:1140px;
    }
    .wrap-xl{
        flex-wrap:wrap;
        -webkit-flex-wrap:wrap;
    }
    .wrap-xl-no{
        flex-wrap:nowrap;
        -webkit-flex-wrap:nowrap;
    }
    .wrap-reverse-xs{
        flex-wrap:wrap-reverse;
        -webkit-flex-wrap:wrap-reverse;
    }
    .last-xs{
        -webkit-order: 1;
        order: 1;
    }
    .first-xs{
        -webkit-order: -1;
        order: -1;
    }
    .xl{
        flex:1;
    }
    .xl-1{
        flex-basis: 8.333333%;
    }
    .xl-2{
        flex-basis:16.666667%;
    }
    .xl-3{
        flex-basis:25%;
    }
    .xl-4{
        flex-basis:33.333333%;
    }
    .xl-5{
        flex-basis:41.666667%;
    }
    .xl-6{
        flex-basis:50%;
    }
    .xl-7{
        flex-basis:58.333333%;
    }
    .xl-8{
        flex-basis:66.666667%;
    }
    .xl-9{
        flex-basis:75%;
    }
    .xl-10{
        flex-basis:83.333333%;
    }
    .xl-11{
        flex-basis:91.666667%;
    }
    .xl-12{
        flex-basis:100%;
    }
    .start-xl{
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .center-xl{
        -webkit-justify-content: center;
        justify-content: center;
    }
    .end-xl{
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    .between-xl{
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .around-xl{
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    .top-xl{
        align-items:flex-start;
        -webkit-align-items:flex-start;
    }
    .middle-xl{
        align-items:center;
        -webkit-align-items:center;
    }
    .bottom-xl{
        align-items:flex-end;
        -webkit-align-items:flex-end;
    }
    .baseline-xl{
        align-items:baseline;
        -webkit-align-items:baseline;
    }
    .xl-offset-1{
        flex-basis: 8.333333%;
    }
    .xl-offset-2{
        flex-basis:16.666667%;
    }
    .xl-offset-3{
        flex-basis:25%;
    }
    .xl-offset-4{
        flex-basis:33.333333%;
    }
    .xl-offset-5{
        flex-basis:41.666667%;
    }
    .xl-offset-6{
        flex-basis:50%;
    }
    .xl-offset-7{
        flex-basis:58.333333%;
    }
    .xl-offset-8{
        flex-basis:66.666667%;
    }
    .xl-offset-9{
        flex-basis:75%;
    }
    .xl-offset-10{
        flex-basis:83.333333%;
    }
    .xl-offset-11{
        flex-basis:91.666667%;
    }
    .xl-offset-12{
        flex-basis:100%;
    }
}