#maps_hotel{
	width: 800px;
	height: 600px;
}

#hotel_list{
	float: left;
	margin-right: 10px;
	font-size: 14px;
}
#hotel_map{
	float: right;
	font-size: 14px;
}
#hotel_list i{
	font-size: 13px;
	padding: 5px;
}
#hotel_map i{
	font-size: 15px;
	padding: 2px;
}
#forgot_text{
	float: right;
	padding-top: 9px;
}
#forgot-dialog{
	width: 30%;
}
.logo img{
	width:150px;
}
header#main-header{
	border-bottom: initial;
}
#nav-container{
	border-top:2px solid #0EBCF2;
}
.header-top{
	background: none;
}
.top-user-area .top-user-area-list > li > a{
	color:#0EBCF2;
	text-transform: uppercase;
}
footer#main-footer{
	background:#d6ecfa;
	color:#000;
	font-size:0.875em;
	padding: 0 0 30px 0;
}
footer#main-footer a{
	color:#000;
}
footer#main-footer .fa{
	color:#fff;
}
#footer-link li:after{
	content:'|';
	margin-left:10px;
}
#footer-link li:last-child:after{
	display: none;
}
footer#main-footer .flex>div{
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
}
footer#main-footer .logo{
	margin-bottom:0;
}
.flex{
	display:flex;
	display: -webkit-flex;
	flex-wrap:wrap;
}
.flex.between{
	justify-content:space-between;
	-webkit-justify-content:space-between;
}
.flex.middle{
	align-items:center;
	-webkit-align-items:center;
}
.flex-col{
	flex-direction:column;
	-webkit-flex-direction:column;
}
.flex.end{
	justify-content:flex-end;
	-webkit-justify-content:flex-end;
}
#asem a{
	background: #FFBC42;
}
dl .fa{
	margin-right:10px;
}
dt, dd{
	padding:10px 0;
}
dt{
	border-bottom:1px solid #e0e0e0;
	cursor: pointer;
}
dd{
	display: none;
}
.mrg-left{
	margin-left:20px;
}
.booking-item-rating{
	border-bottom: none;
}
@media (max-width:992px){
	.small-left{
		margin-left:50px;
	}
	.small-top{
		margin-top:50px;
	}
	.small-hidden{
		display:none;
	}
	#slimmenu .container{
		width: 100%;
		padding:0;
		margin:0;
	}
}
.loc-info .loc-info-weather-num{
	top:5px;
	right:10px;
}
#img{
	width:initial;
}
@media (min-width:1000px){
	.search-tabs-abs{
		max-width:400px;
	}
}
.bg-mask{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	-webkit-background-size: cover !important;
}
button{
	outline: none;
}
button:hover{
	outline: none;
}
button:after{
	outline: none;
}
#loading{
	width:30px;
	height:30px;
	background-image:url('../img/spiffygif_30x30.png');
	background-repeat: no-repeat;
	margin-right:20px;
	float:left;
}
.alert{
	display: none;
}
#partner img{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition:0.5s;
	-webkit-transition:0.5s;
	max-height:100px;
}
#partner img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.flex .booking-item-meta .booking-item-rating{
	margin-bottom:0;
	margin-left:20px;
}
.header-top .logo{
	display: inline-block;
}
.logo-text{
	padding-left:10px;
	color:#bbb;
	font-size:0.7em;
	text-transform: uppercase;
	line-height: -5px;
	position: relative;
	margin-left: 10px;
	font-weight: bold;
}
.logo-text::before{
	content:'';
	position: absolute;
	height: 100%;
	width: 1px;
	background: #bbb;
	top:0;
	left:0;
}
.header-top{
	margin:10px 0;
}
.header-top .phone{
	line-height: 40px;
	font-size:1em;
	color:#000;
	font-weight: bold;
}
.header-top .phone span{
	margin-left:5px;
}