#forgot_text{
    float: right;
    padding-top: 9px;
}
#forgot-dialog{
    width: 30%;
}
.logo img{
	width:150px;
}
header#main-header{
	border-bottom: initial;
}
#nav-container{
	border-top:2px solid #03629a;
}
.header-top{
	background: none;
}
.top-user-area .top-user-area-list > li > a{
	color:#03629a;
	text-transform: uppercase;
}
footer#main-footer{
	background:#d6ecfa;
	color:#000;
	font-size:0.875em;
	padding: 0 0 30px 0;
}
footer#main-footer a{
	color:#000;
}
footer#main-footer .fa{
	color:#fff;
}
#footer-link li:after{
	content:'|';
	margin-left:10px;
}
#footer-link li:last-child:after{
	display: none;
}
footer#main-footer .flex>div{
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
}
footer#main-footer .logo{
	margin-bottom:0;
}
.flex{
	display:flex;
	display: -webkit-flex;
	flex-wrap:wrap;
}
.flex.between{
	justify-content:space-between;
	-webkit-justify-content:space-between;	
}
.flex.middle{
	align-items:center;
	-webkit-align-items:center;
}
.flex.end{
	justify-content:flex-end;
	-webkit-justify-content:flex-end;	
}
#asem a{
	background: #FFBC42;
}
dl .fa{
    margin-right:10px;
}
dt, dd{
    padding:10px 0;
}
dt{
    border-bottom:1px solid #e0e0e0;
    cursor: pointer;
}
dd{
    display: none;
}
.mrg-left{
	margin-left:20px;
}
.booking-item-rating{
	border-bottom: none;
}
@media (max-width:992px){
	.small-left{
		margin-left:50px;
	}
	.small-top{
		margin-top:50px;
	}
	.small-hidden{
		display:none;
	}
	#slimmenu .container{
		width: 100%;
		padding:0;
		margin:0;
	}
}
.loc-info .loc-info-weather-num{
	top:5px;
	right:10px;
}
#img{
	width:initial;
}
@media (min-width:1000px){
.search-tabs-abs{
	max-width:400px;
}
}
.bg-mask{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	-webkit-background-size: cover !important;
}
button{
    outline: none;
}
button:hover{
    outline: none;
}
button:after{
    outline: none;
}
#loading{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top:0;
	left:0;
	display: flex;
	display: -webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:center;
	-webkit-justify-content:center;
}
#loading span{
	width:30px;
	height:30px;
	background-image:url('../img/spiffygif_30x30.png');
	background-repeat: no-repeat;
}


