{% extends "base.html" %}
{% block content %}
	<div class="search-result">
		<div class="box">
			<div class="center">
				<div id="demo" class="box jplist">
					<div class="search-filter">
						<div class="ui stackable search-body container">
							<div class="ui header-search stackable grid">
								<div class="four wide column">
									<div class="local example">
										<div class="ui search">
											<div class="ui fluid left icon input">
												<input class="prompt" type="text" value="Ulaanbaatar">
												<i class="marker icon"></i>
											</div>
											<div class="results"></div>
										</div>
									</div>
								</div>
								<div class="four wide column">
									<form class="ui form">
										<div class="ui fluid left icon input">
											<input type="text" name="reservation" id="reservation" placeholder="mm/dd/yyyy - mm/dd/yyyy" value=""/>
											<i class="calendar icon"></i>
										</div>
									</form>
								</div>
								<div class="three wide column">
									<select class="ui fluid search dropdown">
										<option value="1">1 өрөө</option>
										<option value="2">2 өрөө</option>
										<option value="3">3 өрөө</option>
										<option value="4">4 өрөө</option>
										<option value="5">5 өрөө</option>
										<option value="6">6 өрөө</option>
										<option value="7">7 өрөө</option>
										<option value="8">8 өрөө</option>
										<option value="9">9 өрөө</option>
										<option value="10">10 өрөө</option>
										<option value="11">11 өрөө</option>
										<option value="12">12 өрөө</option>
										<option value="13">13 өрөө</option>
										<option value="14">14 өрөө</option>
									</select>
								</div>
								<div class="three wide column">
									<select class="ui fluid search dropdown">
										<option value="1">1 хүн</option>
										<option value="2">2 хүн</option>
										<option value="3">3 хүн</option>
										<option value="4">4 хүн</option>
										<option value="5">5 хүн</option>
										<option value="6">6 хүн</option>
										<option value="7">7 хүн</option>
										<option value="8">8 хүн</option>
										<option value="9">9 хүн</option>
										<option value="10">10 хүн</option>
										<option value="11">11 хүн</option>
										<option value="12">12 хүн</option>
										<option value="13">13 хүн</option>
										<option value="14">14 хүн</option>
									</select>
								</div>
								<div class="two wide column">
									<div class="fluid ui red button">
										хайх
									</div>
									
								</div>
							</div>
							<div class="ui stackable grid">
								<div class="three wide column">
									<h4 class="ui header">
									Хайлтын үр дүн
									<div class="sub header">Нийт 102 зочид буудал</div>
									</h4>
								</div>
								<div class="four wide column">
									<div class="jplist-panel box panel-top">
										<div
											class="jplist-range-slider"
											data-control-type="range-slider"
											data-control-name="range-slider-prices"
											data-control-action="filter"
											data-path=".price"
											data-slider-func="pricesSlider"
											data-setvalues-func="priesValues">
											<div class="value" data-type="prev-value"></div>
											<div class="ui-slider" data-type="ui-slider"></div>
											<div class="value" data-type="next-value"></div>
										</div>
										
										
									</div>
								</div>
								<div class="two wide column">
									
									
									<div class="jplist-panel box panel-top">
										<div
											class="jplist-drop-down "
											data-control-type="filter-drop-down"
											data-control-name="category-filter"
											data-control-action="filter">
											<ul>
												<li><span data-path="default">Бүx од</span></li>
												<li><span data-path=".onestar"><i class="icon yellow star"></i></span> 1 </li>
												<li><span data-path=".twostar"><i class="icon yellow star"></i><i class="icon yellow star"></i></span> 2</li>
												<li><span data-path=".threestar"><i class="icon yellow star"></i><i class="icon yellow star"></i><i class="icon yellow star"></i></span>
											3 </li>
											<li><span data-path=".fourstar"><i class="icon yellow star"></i><i class="icon yellow star"></i><i class="icon yellow star"></i><i class="icon yellow star"></i></span> 4 </li>
											<li><span data-path=".fivestar"><i class="icon yellow star"></i><i class="icon yellow star"></i><i class="icon yellow star"></i><i class="icon yellow star"></i><i class="icon yellow star"></i></span> 5 </li>
										</ul>
									</div>
								</div>
							</div>
							<div class="right aligned seven wide column">
								
								<div class="ui breadcrumb">
									<a class="section">Эхлэл</a>
									<span class="divider">/</span>
									<div class="active section">Түгээмэл асуултууд</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="ui stackable search-content container">					
					<div class="ui stackable two column grid">
						<div class="row">
							<div class="search-result column">
								<div class="list box text-shadow">
									{% for res in results %}
										<div class="list-item box">
											<!-- img -->
											<div class="img left">
												<img class="ui fluid image" src="https://ihotel.mn/{{res.cover_image}}"/>
											</div>
											<div class="block left">
												<div class="review">
													<h4><a href="#">7.5</a></h4>
												</div>
											</div>
											<!-- data -->
											<div class="block right">
												<div class="price">
													<h4>${{res.min_rate | number_format }}</h4>
												</div>
												<div class="like-meta">
													<div class="ui heart rating" data-rating="0" data-max-rating="1"></div>
												</div>
												<div class="room-name">
													<h4>{{res.name}}</h4>
												</div>
											</div>
											<p class="theme">
												<span class="twostar">
												{% for i in range(1, res.stars) %}
                                                    <i class="icon yellow star"></i>
                                                {% endfor %}
												</span>
											</p>
											<div class="room-button">
												<div class="ui right labeled ">
													
													<div class="ui dropdown blue label">
														<div class="text">ЗАХИАЛАХ</div>
														<i class="dropdown icon"></i>
														<div class="menu">
															<div class="item"><a href="#" id="{{res.objectId}}" name="detail"><img class="ui small image" src="img/logo.png"></a></div>
															<div class="item"><a target="_blance" href="#"><img class="ui small image" src="img/booking.png"></a></div>
															<div class="item"><a target="_blance" href="#"><img class="ui small image" src="img/agado.png"></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>	
								<div class="box jplist-no-results text-shadow align-center">
									<div class="ui negative message">
										<div class="ui centered header">
											Буудал олдсонгүй
										</div>
									</div>
								</div>
								<div class="room-page">
									<div class="jplist-panel box panel-top">
										<div
											class="jplist-label"
											data-type="хуудас {current}-{pages}"
											data-control-type="pagination-info"
											data-control-name="paging"
											data-control-action="paging">
										</div>
										<div
											class="jplist-pagination"
											data-control-type="pagination"
											data-control-name="paging"
											data-control-action="paging"
											data-items-per-page="10">
										</div>
									</div>
								</div>	
							</div>
							<div class="search-google-map column">
								<div class="ihotel-google-map column">
									<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10695.015314249611!2d106.9234363!3d47.9218005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5d9692410e9a41b5%3A0x3372eb2a5a6155bf!2sNational+Information+Technology+Park!5e0!3m2!1sen!2smn!4v1476256956346" width="100%" height="700px" frameborder="0" style="border:0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripting %}
{{parent()}}
</script>
<link href="css/jplist.core.min.css" rel="stylesheet" type="text/css" />
<script src="js/jplist.core.min.js"></script>
<script  src="js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="css/jquery-ui.css" />
<link href="css/jplist.jquery-ui-bundle.min.css" rel="stylesheet" type="text/css" />
<script src="js/jplist.jquery-ui-bundle.min.js"></script>
<script src="js/jplist.filter-dropdown-bundle.min.js"></script>
<script src="js/jplist.pagination-bundle.min.js"></script>
<link href="css/jplist.pagination-bundle.min.css" rel="stylesheet" type="text/css" />
<script>
$('document').ready(function(){
	jQuery.fn.jplist.settings = {
		
		likesSlider: function ($slider, $prev, $next){
			$slider.slider({
				min: 0
				,max: 350
				,range: true
				,values: [0, 350]
				,slide: function (event, ui){
					$prev.text(ui.values[0] + ' likes');
					$next.text(ui.values[1] + ' likes');
				}
			});
		}
		
		,pricesSlider: function ($slider, $prev, $next){
			$slider.slider({
				min: 0
				,max: 1000
				,range: true
				,values: [0, 1000]
				,slide: function (event, ui){
					$prev.text('$' + ui.values[0]);
					$next.text('$' + ui.values[1]);
				}
			});
		}
	
		,priesValues: function ($slider, $prev, $next){
			$prev.text('₮' + $slider.slider('values', 0));
			$next.text('₮' + $slider.slider('values', 1));
		}
		
		,viewsSlider: function ($slider, $prev, $next){
			$slider.slider({
				min: 0
				, max: 4000
				, range: true
				, values: [0, 4000]
				, slide: function (event, ui) {
					$prev.text(ui.values[0] + ' views');
					$next.text(ui.values[1] + ' views');
				}
			});
		}
	
		,viewsValues: function ($slider, $prev, $next){
			$prev.text($slider.slider('values', 0) + ' views');
			$next.text($slider.slider('values', 1) + ' views');
		}
	};
		
	$('#demo').jplist({
		itemsBox: '.list'
		,itemPath: '.list-item'
		,panelPath: '.jplist-panel'
	});

	$(document).on("click",'a[name=detail]', function( event ) {
        event.preventDefault();
        var detialId = $(this).attr('id');
        var curId = detialId;
        var start = $("#start_1").val();
        var end = $("#end_1").val();
        var location = $("#location_1").val();
        var guests = $("#guests").val();
        var rooms = $("#rooms").val();
        var url = "index.php?detail=" + curId +"&depart=2017-01-0&end=2017-02-01&guests=1&rooms=1";
    	window.location.replace(url);
    });
});
</script>
{% endblock %}

