{% extends "base.html" %}
{% block content %}
        <div class="container">
            <h3 class="page-title">Бид</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-bigger">АйХотел ХХК нь 2014 онд байгуулагдсан. Олон улсын хэмжээнд зочид буудлын захиалгын үйлчилгээ явуулдаг шилдэг цахим хуудас <a>www.booking.com</a>, <a>www.agoda.com</a>-д өөрийн орны зочид буудал, амралтын газар, дэн буудлуудыг холбодог. Харилцагч байгууллагууддаа сургалт, сурталчилгаа, зөвлөгөө, гадаад харилцаа зэрэг чиглэлээр үйл ажиллагаагаа явуулж байна.</p>
                </div>
            </div>
            <div class="gap"></div>
        </div>
        <div class="bg-holder">
            <div class="bg-parallax" style="background-image:url(img/about.jpg);"></div>
            <div class="bg-mask"></div>
            <div class="bg-holder-content">
                <div class="container">
                    <div class="gap gap-big text-white">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>Work hard. Play hard.</h2>
                                <h2>Сайн бэлд. Сайн тогло.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="gap"></div>
            <h3>Зочид буудлын борлуулалт, зөвлөх үйлчилгээ</h3>
            <div class="row">
                <div class="col-md-8">
                    <p>Зочид буудлын олон улсын захиалгын үйлчилгээ явуулдаг шилдэг цахим хуудсууд болох www.booking.com, www.agoda.com –уудад өөрийн орны зочид буудал, амралтын газар, дэн буудлуудыг холбох үйлчилгээ. </p>
                    <p>Мөн хамтран ажилладаг зочид буудлууддаа менежмент, үйлчилгээний талаар зөвлөгөө өгч, сургалтыг зохион байгуулж, гадаад харилцаанд дэмжлэг үзүүлэн үйлчлүүлэгчдийн тоо, орлогыг нэмэгдүүлдэг юм.</p>
                    <p>Өнгөрсөн хугацаанд 2000 гаруй зочныг өөрийн сүлжээгээ дамжуулан зочид буудлуудад байрлуусан байна.</p>
                </div>
            </div>
            <div class="gap gap-small"></div>
            <h3>Зочид буудлын өрөөний удирдлагын систем</h3>
            <div class="row">
                <div class="col-md-8">
                    <p>2014 оноос зочид буудлын ресепшн, менежер, эздэд зориулсан шинэ буюу үүлэн технологийг ашигласан өрөөний удирдлагын системийг анхлан Монголд боловсруулан энэ онд ашиглалтанд оруулан одоогоор 11 зочид буудалд нэвтрүүлэн ажиллуулаад байна. Уг өрөөний удирдлагын системийг нэвтрүүлснээр зочид буудлууд нь захиалгыг бүрэн удирдах, өрөөний зохицуулалтуудыг хийх, олон улсын болон дотоодын захиалгын системүүдтэй холбогдох, хэрэглэгчийн мэдээлэлтэй болох, орлогын мэдээллийг хялбар боловсруулах, хяналт тавих давуу талуудыг бий болгосон юм.</p>
                    <p><a href="http://rs.ihotel.mn/ihotel">Энд дарж хэрэглэж үзнэ үү.</a></p>
                </div>
            </div>
            <div class="gap gap-small"></div>
            <h3>www.iHotel.mn зочид буудлын бүртгэл, захиалгын систем</h3>
            <div class="row">
                <div class="col-md-8">
                    <p>Монголын болон гадаад орны зочид буудал захиалгын хамгийн том системийг тус компани боловсруулж Уг системээр дамжуулан Монголын 80 гаруй зочид буудал, гадаадын 720,000 гаруй зочид буудлыг шууд захиалах боломжтой юм.</p>
                    <p>Хэрэглэгч өөрийн захиалах хүсэлтэй зочид буудал, өрөөний талаар дэлгэрэнгүй мэдээлэл аваад зогсохгүй зочид буудлын өрөөний дүүргэлтийн талаар мэдээлэл авах боломжтой юм.</p>
                    <p><a href="httpы://ihotel.mn/index.php?register">Буудалаа бүртгүүлэх</a></p>
                </div>
            </div>
            <div class="gap"></div>
            <h2>Манай хамт олон</h2>
            <div class="row">
                <div class="col-md-10">
                    <p class="text-bigger mb30"></p>
                </div>
            </div>
            <div class="row row-wrap" data-gutter="60">
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="AMaze" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Б. Золбадрал</h5>
                            <p class="thumb-meta text-small">Үүсгэн байгуулагч</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Chiara" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">С. Эрдэнэбат</h5>
                            <p class="thumb-meta text-small">Үүсгэн байгуулагч</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Afro" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Ш. Батбаяр</h5>
                            <p class="thumb-meta text-small">CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Bubbles" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Х.Хангай</h5>
                            <p class="thumb-meta text-small">CTO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Gamer Chick" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Ц.Наранбаяр</h5>
                            <p class="thumb-meta text-small">CTO</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Me with the Uke" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Г.Эрдэнэбилгүүн</h5>
                            <p class="thumb-meta text-small">CMO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Andrea" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Б.Золцэнгэл</h5>
                            <p class="thumb-meta text-small">CFO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Spidy" />
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Oliver Ross</h5>
                            <p class="thumb-meta text-small">Advisor</p>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Манай багийн нэг хэсэг болмоор байна уу?</h4>
            <div class="row">
                <div class="col-md-10">
                    <p>Бид оюунлаг, зүтгэлтэй залуустай хамтран ажилладаг. Та өөртөө итгэлтэй бол яагаад болохгүй гэж хамтран ажиллая. </p>
                    <a href="#">info@ihotel.mn</a> CV гээ явуулаарай.
                </div>
            </div>
            <div class="gap"></div>
        </div>
        {% endblock %}
{% block scripting %}
{{parent()}}

{% endblock %}
