{% extends "base.html" %}

{% block content %}
    <div class="container">
            <h1 class="page-title">Буудлаа бүртгүүлэх</h1>
        </div>
        <div class="gap"></div>
        <div class="container">
            <div class="row" data-gutter="60">
                <div class="col-md-4">
                    <h3>iHotel.mn-д тавтай морилно уу.</h3>
                </div>
                <div class="col-md-8">
                    <form>
                        <div class="form-group form-group-md form-group-select-plus">
                            <label>Буудлын төрөл</label>
                            <select class="form-control" id="type">
                                <option>Hotel</option>
                                <option>Apartment</option>
                                <option>Bed and breakfast</option>
                                <option>Country House</option>
                                <option>Guesthouse</option>
                                <option>Homestay</option>
                                <option>Farm stay</option>
                                <option>Lodge</option>
                                <option>Vacation home</option>
                                <option>Villa</option>
                                <option>Chalet</option>
                                <option>Hostel</option>
                                <option>Motel</option>
                                <option>Inn</option>
                                <option>Capsule Hotel</option>
                                <option>Condo hotel</option>
                                <option>Resort</option>
                                <option>Resort village</option>
                                <option>Campground</option>
                                <option>Luxury Tent</option>
                                <option>Riad</option>
                                <option>Ryokan</option>
                                <option>Love Hotel</option>
                                <option>Boat</option>
                                <option>Economy hotel</option>
                            </select>
                        </div>

                        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Буудлын нэр</label>
                            <input class="form-control" type="text" id="name" />
                        </div>
                        <div class="form-group-md">
                            <ul class="col-sm-6 list-unstyled" id="amenities_room_amenities_column1">
                                 <li id="container_139" class="room_items row">
                                       <div class="checkbox col-sm-12">
                                          <input type="checkbox" id="asem" class="i-check"  name="asem" value="1"/>
                                          ASEM HOTEL?
                                       </div>
                                 </li>
                            </ul> 
                        </div>
                        <input class="btn btn-primary" type="button" value="Бүртгүүлэх" id="add" />
                    </form>
                </div>
            </div>
        </div>
        <div class="gap"></div>
{% endblock %}
{% block scripting %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function() { 
           $("#add").click(function(){
                var a = $('input[name="asem"]:checkbox:checked').map(function() {return this.value;}).get();
                if(a==""){
                    a=0;
                }
                var n = $("#name").val();
                var t= $("#type").val();
                if(n==""){
                    alert("Буудлын нэр оруулах шаардлагатай");
                }else{
                    $.post("add.php", {
                        type: t,
                        name: n,
                        asem: a
                        }, function (result) {
                            if(result!=0){
                                var url = "index.php?hotel_add";  
                                window.location.replace(url);  
                            }
                            else{
                                alert(result);
                            }
                    });
                }
           }); 
        });
    </script>
{% endblock %}



