{% extends "asem.html" %}
{% block content %}
    <input type="hidden" value="{{start}}" id="start_4" />
    <input type="hidden" value="{{end}}" id="end_4"/>
    <input type="hidden" value="{{location}}" id="location_4"/>
    <input type="hidden" value="{{hotel.objectId}}" id="hotel_4"/>
    <input type="hidden" value="{{room.objectId}}" id="room_4"/>
    <input type="hidden" value="{{days}}" id="days_4"/>
    <input type="hidden" value="{{total}}" id="total_4"/>
    <input type="hidden" value="{{user.objectId}}" id="user_4"/>
    <div style="height:20px"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if user %}
                <div class="row">
                    <div class="col-md-6">
                         <a href="http://asem11.mn/"><img src='img/asem.png' style="width:100%;"></a>
                    </div>
                    <div class="col-md-6">
                        <img src="img/golomt-header.jpg" alt="Image Alternative text" title="Image Title" />
                        <img src="img/mastervisa.jpg" alt="Image Alternative text" title="Image Title" />
                        <form id="golomt_pay">
                            <input style="width:100%" type="submit" value="Pay now" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="col-md-6 small-hidden">
                     <a href="http://asem11.mn/"><img src='img/asem.png' style="width:100%;"></a>
                </div>
                <div class="col-md-6">
                    <h3>ASEM 11 Login</h3>
                    <form>
                        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Email</label>
                            <input class="form-control" placeholder="@" type="text" id="email"/>
                        </div>
                        <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="*****" id="password"/>
                        </div>
                        <div id="RecaptchaField1" class="form-group"></div>
                        <div class="alert alert-danger" id='login-alert'>
                            <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                            </button>
                            <p class="text-small"></p>
                        </div>
                        <input class="btn btn-primary" type="button" value="Login" id="login"/>
                        <a class="popup-text" id="forgot_text" href="#forgot-dialog" data-effect="mfp-zoom-out">Forgot password?</a>
                    </form>
                    <br />
                    <div class="alert alert-success hidden" id="register-success1">
                        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                        </button>
                        <p class="text-small"></p>
                    </div>
                    <div class="alert alert-danger hidden" id='login-alert1'>
                        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                        </button>
                        <p class="text-small"></p>
                    </div>
                    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="forgot-dialog">
                        <form>
                            <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                                <label>Please write your registered email address</label>
                                <input class="form-control" placeholder="example@example.com" type="text" id="forgot_email"/>
                            </div>
                            <div id="RecaptchaField2" class="form-group"></div>
                            <input class="btn btn-primary" type="button" value="илгээх" id="forgot_password"/>
                        </form>
                    </div>
                </div>
                <hr>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="booking-item-payment">
                    <header class="clearfix">
                        <a class="booking-item-payment-img" href="#">
                            <img src="{{hotel.cover_image}}" style="width:100%" alt="Image Alternative text" title="hotel 1" />
                        </a>
                        <h5 class="booking-item-payment-title"><a href="#">{{hotel.name}}</a></h5>
                        <ul class="icon-group booking-item-rating-stars">
                            {% for i in range(1, hotel.stars) %}
                            <li><i class="fa fa-star"></i></li>   
                            {% endfor %}
                        </ul>
                        <small ><i class="fa fa-map-marker"></i>{{hotel.address}}</small>
                    </header>
                    <ul class="booking-item-payment-details">
                        <li>
                            <h5>Total days of stay: {{days}}</h5>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{start}}</p>
                                <p class="booking-item-payment-date-weekday">{{day_start}}</p>
                            </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{end}}</p>
                                <p class="booking-item-payment-date-weekday">{{day_end}}</p>
                            </div>
                        </li>
                        <li>
                            <h5>Room</h5>    
                            <ul class="booking-item-payment-price">
                                {%for room in rooms%}
                                    <li>
                                        <p class="booking-item-payment-price-title">{{room.name}}</p>
                                        <p class="booking-item-payment-price-title" style="margin-left:10px">{{room.qty}}<small>/rooms</small></p>
                                        <p class="booking-item-payment-price-amount">${{room.sub}}<small>/per day</small></p>
                                    </li>
                                {%endfor%}
                            </ul>
                        </li>
                        <li>
                        {% if pickup == "budget" %}
                            <h5>Pickup</h5>
                            <ul class="booking-item-payment-price">
                                    <li>
                                        <p class="booking-item-payment-price-title"></p>
                                        <p class="booking-item-payment-price-title" style="margin-left:10px"><small>BUDGET</small></p>
                                        <p class="booking-item-payment-price-amount">$<small>25</small></p>
                                    </li>
                            </ul>
                        {% endif %}
                        {% if pickup == "vip" %}
                            <h5>Pickup</h5>
                            <ul class="booking-item-payment-price">
                                    <li>
                                        <p class="booking-item-payment-price-title"></p>
                                        <p class="booking-item-payment-price-title" style="margin-left:10px"><small>VIP</small></p>
                                        <p class="booking-item-payment-price-amount">$<small>200</small></p>
                                    </li>
                            </ul>
                        {% endif %}
                        </li>
                    </ul>
                    <p class="booking-item-payment-total">Total amount: <span>US$ {{total}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
    <input type="hidden" name="recaptcha1" id="recaptcha1" value="" />
    <input type="hidden" name="recaptcha2" id="recaptcha2" value="" />
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=mn"
async defer>
    </script>
{% endblock %}
{% block scripting %}
{{parent()}}
<script type="text/javascript">
    $('#login').click(function(){
        $('.alert').hide(0);
        var $this = $(this);
        $this.after('<div id="loading"></div>');
        $this.addClass('disabled');
        $.post("login.php", {
            email: $('#email').val(),
            password: $('#password').val(),
            g_recaptcha_response: $('#recaptcha1').val()
        }, function (result) {
            if(result==1){
                window.location.replace(window.location.href);   
            }
            else if(result==2){
                $('#loading').remove();
                $this.removeClass('disabled');
                $('#login-alert').fadeIn(500);
                $('#login-alert p').text('reCaptcha error!');
            }
            else{
                $('#loading').remove();
                $this.removeClass('disabled');
                $('#login-alert').fadeIn(500);
                $('#login-alert p').text('Нэвтрэх нэр эсвэл нууц үг буруу байна!');
            }
        });
    });
    $('#forgot_password').click(function(){
        var $this = $(this);
        $this.after('<div id="loading"></div>');
        $this.addClass('disabled');
        $.post("user.php", {
            forgot_password: $('#forgot_email').val(),
            g_recaptcha_response: $('#recaptcha2').val()
        }, function (result) {
            if(result==1){
                $(".mfp-close").trigger('click');
                $('#register-success1').removeClass('hidden');
                $('#register-success1 p').text('Please check your email');
            }
            else if(result==2){
                $(".mfp-close").trigger('click');
                $('#login-alert1').fadeIn(500);
                $('#login-alert1 p').text('reCaptche error!');
            }
            else{
                $(".mfp-close").trigger('click');
                $('#login-alert1').fadeIn(500);
                $('#login-alert1 p').text('Таны и-мэйл хаяг буруу байна!');
            }
        });
    });
    $("#golomt_pay").submit(function( event ) {
        {% if user %}
        event.preventDefault();
        var $this = $(this);
        $this.after('<div id="loading"></div>');
        $this.addClass('disabled');
        $.post("order.php", {
            end: $('#end_4').val(),
        }, function (result) {
            if(result!=0){
                var orderID = result;  
                post('https://m.egolomt.mn/billingnew/cardinfo.aspx', {key_number: '254251235225252244203251255231202171168165162162182164175',
                    trans_number: orderID, 
                    trans_amount: $('#total_4').val(), lang_ind: '1',
                    customer_id: '',
                    subID: '1'
                    });
            }
            else{
                $('#loading').remove();
                $this.removeClass('disabled');
                alert(result);
            }
        });
        {% endif %}
    });
    $('#add').click(function(){
        $.post("user.php", {
            email: $('#remail').val(),
            username: $('#rusername').val(),
            password: $('#rpassword').val()
        }, function (result) {
            if(result==1){
                alert("Амжилттай бүртгүүллээ. Та бүртгүүлсэн мэдээллээ ашиглан нэвтэрнэ үү");
                window.location.replace("index.php");  
            }
            else{
                alert(result);
            }
        });
    });
    function post(path, params, method) {
        method = method || "post"; 
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
}</script> 
<script type="text/javascript">
      var verifyCallback = function(response) {
        $("#recaptcha1").val(response);
      };
      var verifyCallback1 = function(response) {
        $("#recaptcha2").val(response);
      };
      var widgetId1;
      var onloadCallback = function() {
        widgetId1 = grecaptcha.render('RecaptchaField1', {
          'sitekey' : '6LfSXhoTAAAAAC9V-mDsf7yQr2-wOxmnZHKo7nMP',
          'callback' : verifyCallback,
          'theme' : 'light'
        });
        grecaptcha.render('RecaptchaField2', {
          'sitekey' : '6LfSXhoTAAAAAC9V-mDsf7yQr2-wOxmnZHKo7nMP',
          'callback' : verifyCallback1,
          'theme' : 'light'
        });
      };
</script>
{% endblock %}
