{% extends "asem.html" %}
{% block content %}
    <div class="gap"></div>
    <div class="container">
        <div class="row" data-gutter="60" id='asem2'>
            <div class="col-md-4">
                <h3>ASEM 11 Login</h3>
                <form>
                    <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                        <label>Email</label>
                        <input class="form-control" placeholder="@" type="text" id="email"/>
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="*****" id="password"/>
                    </div>
                    <div id="RecaptchaField1" class="form-group"></div>
                    <div class="alert alert-danger" id='login-alert'>
                        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                        </button>
                        <p class="text-small"></p>
                    </div>
                    <input class="btn btn-primary" type="button" value="Login" id="login"/>
                    <a class="popup-text" id="forgot_text" href="#forgot-dialog" data-effect="mfp-zoom-out">Forgot password?</a>
                </form>
                <br />
                <div class="alert alert-success hidden" id="register-success1">
                    <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                    </button>
                    <p class="text-small"></p>
                </div>
                <div class="alert alert-danger hidden" id='login-alert1'>
                    <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                    </button>
                    <p class="text-small"></p>
                </div>
                <div class="mfp-with-anim mfp-hide mfp-dialog" id="forgot-dialog">
                    <form>
                        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Email</label>
                            <input class="form-control" placeholder="example@example.com" type="text" id="forgot_email"/>
                        </div>
                        <div class="alert alert-success" id="forget_success">
                            <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                            </button>
                            <p class="text-small"></p>
                        </div>
                        <div class="alert alert-danger" id='forget_danger'>
                            <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                            </button>
                            <p class="text-small"></p>
                        </div>
                        <div id="RecaptchaField2" class="form-group"></div>
                        <input class="btn btn-primary" type="button" value="Send" id="forgot_password"/>
                    </form>
                </div>
            </div>
            <div class='col-md-8' style="border-left: 1px solid #cccccc">
                <h3>ASEM 11 Register</h3>
                <form id="asem_reg">
                    <div class='row row-wrap'>
                        <div class='col-md-8'>
                            <div class='form-group'>
                                <label>Attending type</label>
                                <select name="meeting_type" id="meeting_type" class='form-control' required>
                                    <option value="20">ASEM 11 Summit</option>
                                    <option value="10">ASEM 11 Journalist</option>
                                    <option value="1">9th Asia-Europe Parliamentary Partnership (ASEP9) Meeting</option>
                                    <option value="2">ASEM Senior Officials Meeting (SOM)</option>
                                    <option value="3">12th ASEM Finance Ministers’ Meeting (FinMM12)</option>
                                    <option value="4">ASEM Food Security: Farmer Training Session</option>                        
                                    <option value="5">11th Asia-Europe People’s Forum (AEPF11)</option>
                                    <option value="6">Model ASEM 2016</option>
                                    <option value="7">8th ASEF Editor’s Roundtable</option>
                                    <option value="8">ASEM Senior Officials’ Meeting (SOM)</option>
                                    <option value="9">15th Asia-Europe Business Forum (AEBF15)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='row row-wrap'>
                        <div class='col-md-6'>
                              <div class='form-group'>
                                  <label>Last Name</label>
                                  <input class='form-control' type='text' id='lastName' name='lastName' required>
                              </div>
                        </div>
                        <div class='col-md-6'>
                              <div class='form-group'>
                                  <label>First Name</label>
                                  <input class='form-control' type='text' id='firstName' name='firstName' required>
                              </div>
                        </div>
                        <div class='col-md-6'>
                              <div class='form-group'>
                                    <label>Country or Organization</label>
                                    <select name="location" id="location" class='form-control' required>
                                          <option value="AF">Afghanistan</option>
                                          <option value="AL">Albania</option>
                                          <option value="DZ">Algeria</option>
                                          <option value="AS">American Samoa</option>
                                          <option value="AD">Andorra</option>
                                          <option value="AO">Angola</option>
                                          <option value="AI">Anguilla</option>
                                          <option value="AQ">Antarctica</option>
                                          <option value="AR">Argentina</option>
                                          <option value="AM">Armenia</option>
                                          <option value="AW">Aruba</option>
                                          <option value="AU">Australia</option>
                                          <option value="AT">Austria</option>
                                          <option value="AZ">Azerbaijan</option>
                                          <option value="BS">Bahamas</option>
                                          <option value="BH">Bahrain</option>
                                          <option value="BD">Bangladesh</option>
                                          <option value="BB">Barbados</option>
                                          <option value="BY">Belarus</option>
                                          <option value="BE">Belgium</option>
                                          <option value="BZ">Belize</option>
                                          <option value="BJ">Benin</option>
                                          <option value="BM">Bermuda</option>
                                          <option value="BT">Bhutan</option>
                                          <option value="BO">Bolivia</option>
                                          <option value="BA">Bosnia and Herzegowina</option>
                                          <option value="BW">Botswana</option>
                                          <option value="BV">Bouvet Island</option>
                                          <option value="BR">Brazil</option>
                                          <option value="IO">British Indian Ocean Territory</option>
                                          <option value="BN">Brunei Darussalam</option>
                                          <option value="BG">Bulgaria</option>
                                          <option value="BF">Burkina Faso</option>
                                          <option value="BI">Burundi</option>
                                          <option value="KH">Cambodia</option>
                                          <option value="CM">Cameroon</option>
                                          <option value="CA">Canada</option>
                                          <option value="CV">Cape Verde</option>
                                          <option value="KY">Cayman Islands</option>
                                          <option value="CF">Central African Republic</option>
                                          <option value="TD">Chad</option>
                                          <option value="CL">Chile</option>
                                          <option value="CN">China</option>
                                          <option value="CX">Christmas Island</option>
                                          <option value="CC">Cocos (Keeling) Islands</option>
                                          <option value="CO">Colombia</option>
                                          <option value="KM">Comoros</option>
                                          <option value="CG">Congo</option>
                                          <option value="CD">Congo, the Democratic Republic of the</option>
                                          <option value="CK">Cook Islands</option>
                                          <option value="CR">Costa Rica</option>
                                          <option value="CI">Cote d'Ivoire</option>
                                          <option value="HR">Croatia (Hrvatska)</option>
                                          <option value="CU">Cuba</option>
                                          <option value="CY">Cyprus</option>
                                          <option value="CZ">Czech Republic</option>
                                          <option value="DK">Denmark</option>
                                          <option value="DJ">Djibouti</option>
                                          <option value="DM">Dominica</option>
                                          <option value="DO">Dominican Republic</option>
                                          <option value="EC">Ecuador</option>
                                          <option value="EG">Egypt</option>
                                          <option value="SV">El Salvador</option>
                                          <option value="GQ">Equatorial Guinea</option>
                                          <option value="ER">Eritrea</option>
                                          <option value="EE">Estonia</option>
                                          <option value="ET">Ethiopia</option>
                                          <option value="FK">Falkland Islands (Malvinas)</option>
                                          <option value="FO">Faroe Islands</option>
                                          <option value="FJ">Fiji</option>
                                          <option value="FI">Finland</option>
                                          <option value="FR">France</option>
                                          <option value="GF">French Guiana</option>
                                          <option value="PF">French Polynesia</option>
                                          <option value="TF">French Southern Territories</option>
                                          <option value="GA">Gabon</option>
                                          <option value="GM">Gambia</option>
                                          <option value="GE">Georgia</option>
                                          <option value="DE">Germany</option>
                                          <option value="GH">Ghana</option>
                                          <option value="GI">Gibraltar</option>
                                          <option value="GR">Greece</option>
                                          <option value="GL">Greenland</option>
                                          <option value="GD">Grenada</option>
                                          <option value="GP">Guadeloupe</option>
                                          <option value="GU">Guam</option>
                                          <option value="GT">Guatemala</option>
                                          <option value="GN">Guinea</option>
                                          <option value="GW">Guinea-Bissau</option>
                                          <option value="GY">Guyana</option>
                                          <option value="HT">Haiti</option>
                                          <option value="HM">Heard and Mc Donald Islands</option>
                                          <option value="VA">Holy See (Vatican City State)</option>
                                          <option value="HN">Honduras</option>
                                          <option value="HK">Hong Kong</option>
                                          <option value="HU">Hungary</option>
                                          <option value="IS">Iceland</option>
                                          <option value="IN">India</option>
                                          <option value="ID">Indonesia</option>
                                          <option value="IR">Iran (Islamic Republic of)</option>
                                          <option value="IQ">Iraq</option>
                                          <option value="IE">Ireland</option>
                                          <option value="IL">Israel</option>
                                          <option value="IT">Italy</option>
                                          <option value="JM">Jamaica</option>
                                          <option value="JP">Japan</option>
                                          <option value="JO">Jordan</option>
                                          <option value="KZ">Kazakhstan</option>
                                          <option value="KE">Kenya</option>
                                          <option value="KI">Kiribati</option>
                                          <option value="KP">Korea, Democratic People's Republic of</option>
                                          <option value="KR">Korea, Republic of</option>
                                          <option value="KW">Kuwait</option>
                                          <option value="KG">Kyrgyzstan</option>
                                          <option value="LA">Lao People's Democratic Republic</option>
                                          <option value="LV">Latvia</option>
                                          <option value="LB">Lebanon</option>
                                          <option value="LS">Lesotho</option>
                                          <option value="LR">Liberia</option>
                                          <option value="LY">Libyan Arab Jamahiriya</option>
                                          <option value="LI">Liechtenstein</option>
                                          <option value="LT">Lithuania</option>
                                          <option value="LU">Luxembourg</option>
                                          <option value="MO">Macau</option>
                                          <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                          <option value="MG">Madagascar</option>
                                          <option value="MW">Malawi</option>
                                          <option value="MY">Malaysia</option>
                                          <option value="MV">Maldives</option>
                                          <option value="ML">Mali</option>
                                          <option value="MT">Malta</option>
                                          <option value="MH">Marshall Islands</option>
                                          <option value="MQ">Martinique</option>
                                          <option value="MR">Mauritania</option>
                                          <option value="MU">Mauritius</option>
                                          <option value="YT">Mayotte</option>
                                          <option value="MX">Mexico</option>
                                          <option value="FM">Micronesia, Federated States of</option>
                                          <option value="MD">Moldova, Republic of</option>
                                          <option value="MC">Monaco</option>
                                          <option value="MN" selected>Mongolia</option>
                                          <option value="MS">Montserrat</option>
                                          <option value="MA">Morocco</option>
                                          <option value="MZ">Mozambique</option>
                                          <option value="MM">Myanmar</option>
                                          <option value="NA">Namibia</option>
                                          <option value="NR">Nauru</option>
                                          <option value="NP">Nepal</option>
                                          <option value="NL">Netherlands</option>
                                          <option value="AN">Netherlands Antilles</option>
                                          <option value="NC">New Caledonia</option>
                                          <option value="NZ">New Zealand</option>
                                          <option value="NI">Nicaragua</option>
                                          <option value="NE">Niger</option>
                                          <option value="NG">Nigeria</option>
                                          <option value="NU">Niue</option>
                                          <option value="NF">Norfolk Island</option>
                                          <option value="MP">Northern Mariana Islands</option>
                                          <option value="NO">Norway</option>
                                          <option value="OM">Oman</option>
                                          <option value="PK">Pakistan</option>
                                          <option value="PW">Palau</option>
                                          <option value="PA">Panama</option>
                                          <option value="PG">Papua New Guinea</option>
                                          <option value="PY">Paraguay</option>
                                          <option value="PE">Peru</option>
                                          <option value="PH">Philippines</option>
                                          <option value="PN">Pitcairn</option>
                                          <option value="PL">Poland</option>
                                          <option value="PT">Portugal</option>
                                          <option value="PR">Puerto Rico</option>
                                          <option value="QA">Qatar</option>
                                          <option value="RE">Reunion</option>
                                          <option value="RO">Romania</option>
                                          <option value="RU">Russian Federation</option>
                                          <option value="RW">Rwanda</option>
                                          <option value="KN">Saint Kitts and Nevis</option> 
                                          <option value="LC">Saint LUCIA</option>
                                          <option value="VC">Saint Vincent and the Grenadines</option>
                                          <option value="WS">Samoa</option>
                                          <option value="SM">San Marino</option>
                                          <option value="ST">Sao Tome and Principe</option> 
                                          <option value="SA">Saudi Arabia</option>
                                          <option value="SN">Senegal</option>
                                          <option value="SC">Seychelles</option>
                                          <option value="SL">Sierra Leone</option>
                                          <option value="SG">Singapore</option>
                                          <option value="SK">Slovakia (Slovak Republic)</option>
                                          <option value="SI">Slovenia</option>
                                          <option value="SB">Solomon Islands</option>
                                          <option value="SO">Somalia</option>
                                          <option value="ZA">South Africa</option>
                                          <option value="GS">South Georgia and the South Sandwich Islands</option>
                                          <option value="ES">Spain</option>
                                          <option value="LK">Sri Lanka</option>
                                          <option value="SH">St. Helena</option>
                                          <option value="PM">St. Pierre and Miquelon</option>
                                          <option value="SD">Sudan</option>
                                          <option value="SR">Suriname</option>
                                          <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                          <option value="SZ">Swaziland</option>
                                          <option value="SE">Sweden</option>
                                          <option value="CH">Switzerland</option>
                                          <option value="SY">Syrian Arab Republic</option>
                                          <option value="TW">Taiwan, Province of China</option>
                                          <option value="TJ">Tajikistan</option>
                                          <option value="TZ">Tanzania, United Republic of</option>
                                          <option value="TH">Thailand</option>
                                          <option value="TG">Togo</option>
                                          <option value="TK">Tokelau</option>
                                          <option value="TO">Tonga</option>
                                          <option value="TT">Trinidad and Tobago</option>
                                          <option value="TN">Tunisia</option>
                                          <option value="TR">Turkey</option>
                                          <option value="TM">Turkmenistan</option>
                                          <option value="TC">Turks and Caicos Islands</option>
                                          <option value="TV">Tuvalu</option>
                                          <option value="UG">Uganda</option>
                                          <option value="UA">Ukraine</option>
                                          <option value="AE">United Arab Emirates</option>
                                          <option value="GB">United Kingdom</option>
                                          <option value="US">United States</option>
                                          <option value="UM">United States Minor Outlying Islands</option>
                                          <option value="UY">Uruguay</option>
                                          <option value="UZ">Uzbekistan</option>
                                          <option value="VU">Vanuatu</option>
                                          <option value="VE">Venezuela</option>
                                          <option value="VN">Viet Nam</option>
                                          <option value="VG">Virgin Islands (British)</option>
                                          <option value="VI">Virgin Islands (U.S.)</option>
                                          <option value="WF">Wallis and Futuna Islands</option>
                                          <option value="EH">Western Sahara</option>
                                          <option value="YE">Yemen</option>
                                          <option value="ZM">Zambia</option>
                                          <option value="ZW">Zimbabwe</option>
                                    </select>
                              </div>
                        </div>
                        <div class='col-md-6'>
                              <div class='form-group'>
                                    <label>Telephone</label>
                                    <input class='form-control' type='text' id='telephone' name='telephone'>
                              </div>
                        </div>
                        <div class='col-md-6'>
                              <div class='form-group'>
                                    <label>E-mail</label>
                                    <input class='form-control' type='email' name='email' id="reg_email" required>
                              </div>
                        </div>
                        <div class='col-md-6'>
                              <div class='form-group'>
                                    <label>Password</label>
                                    <input class='form-control' type='password' name='password' id="reg_password" required>
                              </div>
                        </div>
                    </div>
                    <div class='row row-wrap'>
                        <div id="close">
                            <div class='col-md-3'>
                                  <div class='form-group'>
                                        <div class="input-daterange">
                                              <label>Arrival date </label>
                                              <input class='form-control arrival' type='text' id='arrival_date' name='arrival_date'>
                                        </div>
                                  </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='form-group'>
                                      <label>Not sure?</label>
                                      <input class='form-control' type='checkbox' id='not_sure' name='not_sure'>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='form-group'>
                                    <div class="input-timerange">
                                        <label>Time of landing</label>
                                        <input class='form-control time' type='text' id='arrival_time' name='arrival_time' placeholder="13:00">
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                  <div class='form-group'>
                                        <label>Flight#</label>
                                        <input class='form-control flight' type='text' id='arrival_flight' name='arrival_flight'>
                                  </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class='row row-wrap'>
                        <div class='col-md-5' id="RecaptchaField3"></div>
                    </div>
                    <div class='row row-wrap'>
                        <div class='col-md-5'>
                              <label>&nbsp;</label>
                              <button class='btn btn-primary' id="register" type='submit' style="width:100%">Register</button>
                        </div>
                    </div>
                    <div class='row row-wrap'>
                        <div class="col-md-6 alert alert-danger" id='login-alert2'>
                            <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span></button>
                            <p class="text-small"></p>
                        </div>
                    </div>
                    
                </form>
                <div class='row row-wrap'>
                    <div class='col-md-12'>
                        <div class="alert alert-success" id='register-success'>
                              <button class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
                              <p class="text-small"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="recaptcha1" id="recaptcha1" value="" />
    <input type="hidden" name="recaptcha2" id="recaptcha2" value="" />
    <input type="hidden" name="recaptcha3" id="recaptcha3" value="" />
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=en"
    async defer></script>
{% endblock %}
{% block scripting %}
{{parent()}}
    <script type="text/javascript">
        $('#login').click(function(){
            $('.alert').hide(0);
            var $this = $(this);
            $this.after('<div id="loading"></div>');
            $this.addClass('disabled');
            $.post("login.php", {
                email: $('#email').val(),
                password: $('#password').val(),
                asem: 1,
                g_recaptcha_response: $('#recaptcha1').val()
            }, function (result) {
                if(result==1){
                    if('{{list}}'==1){
                        window.location.replace("index.php?asem");  
                    }else{
                        window.location.replace("index.php");  
                    }
                }
                else if(result==2){
                    $('#loading').remove();
                    $this.removeClass('disabled');
                    $('#login-alert').fadeIn(500);
                    $('#login-alert p').text('reCaptcha error!');
                }
                else{
                    $('#loading').remove();
                    $this.removeClass('disabled');
                    $('#login-alert').fadeIn(500);
                    $('#login-alert p').text('Login information incorrect!');
                    grecaptcha.reset(widgetId2);
                }
            });
        });
    </script>
    <script type="text/javascript" src="js/login/asem_login.js" charset="utf-8"></script>
{% endblock %}
