{% extends "asem.html" %}
{% block content %}
    <div class="container">
        <h1 class="page-title">FAQ</h1>
    </div>
    <div class="container">
        <dl>
            {% for faq in faqs %}
            <dt><i class='fa fa-plus-square'></i>{{faq.header_en}}</dt>
            <dd>{{faq.content_en}}</dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}
{% block scripting %}
{{parent()}}
<script>
    $(function(){
            $('dt').click(function(){
                $(this).next().slideToggle();
                });
            });
</script>
{% endblock %}
