
{% extends "asem.html" %}
{% block content %}
    <input type="hidden" value="{{start}}" id="start_3" />
    <input type="hidden" value="{{end}}" id="end_3"/>
    <input type="hidden" value="{{guests}}" id="guests"/>
    <input type="hidden" value="{{rooms_1}}" id="rooms_1"/>
    <input type="hidden" value="{{hotel.objectId}}" id="hotel_3"/>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.php">Home</a>
            </li>
            <li><a href="index.php?asem">Ulaanbaatar</a>
            </li>
            <li class="active">{{hotel.name}}</li>
        </ul>
        <div class="booking-item-details">
            <header class="booking-item-header">
                <div class="row" style="padding:10px">
                    <div class="col-md-9" >
                        <div class='flex middle'>
                            <h2 class="lh1em" id="hotelname">{{hotel.name}}</h2>
                            <div class="booking-item-meta">
                                <div class="booking-item-rating">
                                    <ul class="icon-list icon-group booking-item-rating-stars">
                                        {% for i in range(1, hotel.stars) %}
                                        <li><i class="fa fa-star"></i></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p class="lh1em text-small" style="font-size:13px"><i class="fa fa-map-marker"></i> {{hotel.address}}</p>
                        <ul class="list list-inline text-small">
                            <li><a href="#"><i class="fa fa-envelope"></i> {{hotel.email}}</a>
                            </li>
                            <li><i class="fa fa-phone"></i> {{hotel.phone}}</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <p class="booking-item-header-price"><small></small>  <span class="text-lg">US$ {{hotel.min_rate}}</span>/night</p>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-6">
                    <div class="tabbable booking-details-tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-camera"></i>Images</a>
                            </li>

                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                    {% for image in hotel.images %}
                                    <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars" style="margin-right: 3px;">
                                    <img class="rating_image" src="">
                                </ul>
                                <span class="booking-item-rating-number"><b class="tr_reviews"></b> of 5 
                                    <small class="text-smaller">guest rating</small>
                                </span>
                            </div>
                            <p style="text-align: justify;">{{hotel.long_desc}}
                            </p>
                            {% if hotel.cancelation == 1 %}
                                <a href="https://ihotel.mn/Policy_1.pdf"> Download policy</a>
                            {%else%}
                                <a href="https://ihotel.mn/Policy_2.pdf"> Download policy</a>
                            {%endif%}
                        </div>
                        <div class="gap gap-small"></div>
                        <div id="map-canvas1" style="height:200px; margin-left:10px"></div>
                        <!-- <div class="col-md-12 active" id="google-map-tab">
                                        <div id="map-canvas" style="width:100%; height:140px;"></div>
                                    </div>-->
                    </div>  
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <h3>Rooms</h3>
        <div class="row">
            <div class="col-md-9">
                <div class="booking-item-dates-change">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-daterange" data-date-format="MM d, D">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Check-in</label>
                                                <input class="form-control"  type="text" id="start" data-date-format="yyyy-mm-dd" value="{{start}}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Check-out</label>
                                                <input class="form-control"  type="text" id="end" data-date-format="yyyy-mm-dd" value="{{end}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Adult</label>
                                    <select class="form-control " id="adult">
                                        <option selected="selected">{{guests}}</option>
                                        <option >1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Children</label>
                                    <select class="form-control" id="kids">
                                        <option selected="selected">0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>&nbsp;</label>
                                    <a class="btn btn-primary btn-md" id="search_a" >Search</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="gap gap-small"></div>
                <ul id="rooms" class="booking-list">
                    {% for room in rooms %}
                        <li>
                        <div name="order" class="booking-item" id="{{room.objectId}}">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                        {% for image in room.images %}
                                        <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="booking-item-title">{{room.room_type}}</h4>
                                    <h5 class="booking-item-title">{{room.name}}</h5>
                                    <p class="text-small">{{room.short_desc}}</p>
                                    <ul class="booking-item-features booking-item-features-sign clearfix">
                                        <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x {{room.adult_occupancy}}</span>
                                        </li>
                                        <li rel="tooltip" data-placement="top" title="Children Occupancy"><i class="fa fa-child"></i><span class="booking-item-feature-sign">x {{room.child_occupancy}}</span>
                                        </li>
                                        <li rel="tooltip" data-placement="top" title="Beds"><i class="fa fa-bed"></i><span class="booking-item-feature-sign">x {{room.num_beds}}</span>
                                        </li>
                                        <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="fa fa-expand"></i><span class="booking-item-feature-sign">{{room.roomt_size}} m2</span>
                                        </li>
                                    </ul>
                                    <ul class="booking-item-features booking-item-features-small clearfix">
                                        {% for fac in room.facilities %}
                                        <li rel="tooltip" data-placement="top" title="{{fac}}"><i class="im im-{{fac}}"></i>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <p  class="text-small">Select room quantity</p>
                                    <div class="form-group form-group-select-plus">
                                        <span class="booking-item-price">${{room.night_price}}</span><span>/night</span>
                                        <div class='flex select_room middle between' >
                                            <div rel="tooltip" class='tool' data-placement="top" title="Adults">
                                                <i class='fa fa-male'></i>
                                            </div>
                                            <select class="form-control form-group-select-plus" name="qty" room="{{room.room_type}}" price="{{room.night_price}}" roomid="{{room.objectId}}" persons="1" > 
                                                <option selected="selected">0</option>
                                                {% for i in range(1, room.num_rooms) %}
                                                <option value="{{i}}">{{i}} - ${{ i*room.night_price }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% if room.adult_occupancy > 1 %}
                                        {% if room.night_price2 > 0 %}
                                        {% if room.night_price2 != room.night_price %}
                                        <span class="booking-item-price">${{room.night_price2}}</span><span>/night</span>
                                        <div class='flex select_room between middle mrgn5'>
                                            <div rel="tooltip" class='tool' data-placement="top" title="Adults">
                                                <i class='fa fa-male'></i><i class='fa fa-male'></i>
                                            </div>
                                            <select class="form-control form-group-select-plus" name="qty" room="{{room.room_type}}" price="{{room.night_price2}}" roomid="{{room.objectId}}--2" persons="2" > 
                                                <option selected="selected">0</option>
                                                {% for i in range(1, room.num_rooms) %}
                                                <option value="{{i}}">{{i}} - ${{ i*room.night_price2 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                    {% endfor %}
                    {% for room in closed_rooms %}
                        <li>
                        <div name="order" class="booking-item" id="{{room.objectId}}">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                        {% for image in room.images %}
                                        <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="booking-item-title">{{room.room_type}}</h4>
                                    <h5 class="booking-item-title">{{room.name}}</h5>
                                    <p class="text-small">{{room.short_desc}}</p>
                                    <ul class="booking-item-features booking-item-features-sign clearfix">
                                        <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x {{room.adult_occupancy}}</span>
                                        </li>
                                        <li rel="tooltip" data-placement="top" title="Children Occupancy"><i class="fa fa-child"></i><span class="booking-item-feature-sign">x {{room.child_occupancy}}</span>
                                        </li>
                                        <li rel="tooltip" data-placement="top" title="Beds"><i class="fa fa-bed"></i><span class="booking-item-feature-sign">x {{room.num_beds}}</span>
                                        </li>
                                        <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="fa fa-expand"></i><span class="booking-item-feature-sign">{{room.roomt_size}} m2</span>
                                        </li>
                                    </ul>
                                    <ul class="booking-item-features booking-item-features-small clearfix">
                                        {% for fac in room.facilities %}
                                        <li rel="tooltip" data-placement="top" title="{{fac}}"><i class="im im-{{fac}}"></i>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <p  class="text-small" style="color:red">Soldout</p>
                                    <div class="form-group form-group-select-plus">
                                        <span class="booking-item-price">${{room.night_price}}</span><span>/night</span>
                                        <div class='flex select_room middle between' >
                                            <div rel="tooltip" class='tool' data-placement="top" title="Adults">
                                                <i class='fa fa-male'></i>
                                            </div>
                                        </div>
                                        {% if room.adult_occupancy > 1 %}
                                        {% if room.night_price2 > 0 %}
                                        {% if room.night_price2 != room.night_price %}
                                        <span class="booking-item-price">${{room.night_price2}}</span><span>/night</span>
                                        <div class='flex select_room between middle mrgn5'>
                                            <div rel="tooltip" class='tool' data-placement="top" title="Adults">
                                                <i class='fa fa-male'></i><i class='fa fa-male'></i>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                    {% endfor %}
                </ul>
                <div id="rating_div" class="row">
                    <div class="col-md-6">
                        <h4 class="lh1em">Summary</h4>
                        <ul class="list booking-item-raiting-summary-list">
                            <li>
                            <div class="booking-item-raiting-list-title">Sleep</div>
                            <ul id="rt_sleep" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Location</div>
                            <ul id="rt_location" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Service</div>
                            <ul id="rt_service" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Clearness</div>
                            <ul id="rt_clearness" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Rooms</div>
                            <ul id="rt_rooms" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4 class="lh1em">Traveler raiting</h4>
                        <ul class="list booking-item-raiting-list">
                            <li>
                            <div class="booking-item-raiting-list-title">Exellent</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_ex_w"style="width:0%;"></div>
                            </div>
                            <div id="raiting_ex" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Very Good</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_vg_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_vg" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Average</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_ar_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_ar" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Poor</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_pr_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_pr" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Terrible</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_tr_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_tr" class="booking-item-raiting-list-number">0</div>
                            </li>
                        </ul>
                    </div>
                    <a class="popup-text btn btn-primary"style="margin: 10px 0
                        30px;" href="#review-dialog" data-effect="mfp-zoom-out">Write a Reviews</a>
                </div>
                <h3 class="mb20">Hotel Reviews</h3>
                <ul id="reviewslist" class="booking-item-reviews list">
                </ul>
            </div>
            <div class="col-md-3">
                <div id="payment_info" class="booking-item-payment" style="display:none">
                    <ul class="booking-item-payment-details" style="width:100%">
                        <li>
                        <h5>Total days of stay: <span id="days"><span></h5>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day" id="checkin">2016-07-11</p>
                                </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day" id="checkout">2016-07-11</p>
                                </div>
                                </li>
                                <li>
                                <h5>Rooms</h5>

                                <span id="payment_rooms">

                                </span>

                                <ul class="booking-item-payment-price">
                                    <li>
                                    <p class="booking-item-payment-price-title">VAT</p>
                                    <p class="booking-item-payment-price-amount">(incluled)<small>/per day</small>
                                    </p>
                                    </li>
                                </ul>
                                <br />
                                <h5>Airport Pickup</h5>
                                <div>
                                    <div class="checkbox checkbox-small checkbox-border">
                                        <label><input class="i-check" type="checkbox" name="pickup" value="vip"/><a href="https://sixt.com">SIXT Limousine</a><span><small>$75</small></span></label>
                                    </div>
                                    <div class="checkbox checkbox-small checkbox-border">
                                        <label><input class="i-check" type="checkbox" name="pickup" value="budget"/>Budget
                                            <span><small>$25</small></span></label>
                                    </div>
                                </div>
                                <h5>Tour SIM</h5>
                                <div>
                                    <div class="checkbox checkbox-small checkbox-border">
                                        <label><input class="i-check" type="checkbox" name="sim" value="sim1"/><a href="#" data-toggle="tooltip" title="<img src='img/uni3.jpg' style='width:300px; height:300px '  />" class="white-tooltip">SINGLE 4LTE</a><span><small>$20</small></span></label>
                                    </div>
                                    <div class="checkbox checkbox-small checkbox-border">
                                        <label><input class="i-check" type="checkbox" name="sim" value="sim2"/><a href="#" data-toggle="tooltip" title="<img src='img/uni2.jpg' style='width:300px; height:300px '  />" class="white-tooltip">SINGLE PLUS 4LTE</a>
                                        <span><small>$30</small></span></label>
                                    </div>
                                    <div class="checkbox checkbox-small checkbox-border">
                                        <label><input class="i-check" type="checkbox" name="sim" value="sim3"/><a href="#" data-toggle="tooltip" title="<img src='img/uni1.jpg' style='width:300px; height:300px '  />" class="white-tooltip">DOUBLE 4LTE</a>
                                        <span><small>$50</small></span></label>
                                    </div>
                                </div>
                                <p class="booking-item-payment-total">Total amount: <span id="total"> </span>
                                </p>
                                <span name="ordernow" class="btn btn-primary ajax-full-width" id="{{room.objectId}}" style="width:100%">Order now</span>
                            </div>
                            <br>
                            <h4>Hotel features</h4>
                            <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                <li><i class="im im-wi-fi"></i><span class="booking-item-feature-title">Wi-Fi</span>
                                </li>
                                <li><i class="im im-parking"></i><span class="booking-item-feature-title">Parking</span>
                                </li>
                                <li><i class="im im-bus"></i><span class="booking-item-feature-title">Airport pickup</span>
                                </li>
                                <li><i class="im im-fitness"></i><span class="booking-item-feature-title">Fitness</span>
                                </li>
                                <li><i class="im im-pool"></i><span class="booking-item-feature-title">Indoor pool</span>
                                </li>
                                <li><i class="im im-spa"></i><span class="booking-item-feature-title">Sauna</span>
                                </li>
                                <li><i class="im im-restaurant"></i><span class="booking-item-feature-title">Food service</span>
                                </li>
                                <li><i class="im im-business-person"></i><span class="booking-item-feature-title">Meeting room</span>
                                </li>
                                <li><i class="im im-children"></i><span class="booking-item-feature-title">Kids room</span>
                                </li>
                            </ul>
                        </div>
                    </div>           
                </div>
                <div class="gap gap-small"></div>
            </div>
        </div>
        <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="review-dialog">
            <iframe id="write_review" src="https://ihotel.mn/" style="width:100%; height: 500px;" frameborder="0">
            </iframe>
        </div>
    </div>
{% endblock %}
{% block scripting %}
    {{parent()}}
    <script type="text/javascript" src="js/detail/asemdetail.js" charset="utf-8"></script>
    <script type="text/javascript">
    var total=0;
    function set_total(d){
        total=0;
        $('span[name=subtotal]').each(function(){
            var sub = $(this).text();
            total = total + parseInt(sub);
        });
        total = parseInt(d) * total;
        $("#total").text("US$ "+total);
    }
    var map = new google.maps.Map(document.getElementById('map-canvas1'), {
        zoom: 16,
        center: new google.maps.LatLng({{hotel.geolocation.latitude}}, {{hotel.geolocation.longitude}}),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var countinfo = 0; 
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map-canvas1'), {
            zoom: 16,
            center: new google.maps.LatLng({{hotel.geolocation.latitude}}, {{hotel.geolocation.longitude}}),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        marker = new google.maps.Marker({
            position: {lat: {{hotel.geolocation.latitude}}, lng: {{hotel.geolocation.longitude}}},
               map: map,
        });
    }

    </script>
{% endblock %}
