{% extends "asem.html" %}
{% block content %}
    <input type="hidden" value="{{start}}" id="start_4" />
    <input type="hidden" value="{{end}}" id="end_4"/>
    <input type="hidden" value="{{location}}" id="location_4"/>
    <input type="hidden" value="{{hotel.objectId}}" id="hotel_4"/>
    <input type="hidden" value="{{room.objectId}}" id="room_4"/>
    <input type="hidden" value="{{days}}" id="days_4"/>
    <input type="hidden" value="{{total}}" id="total_4"/>
    <input type="hidden" value="{{user.objectId}}" id="user_4"/>
    <div style="height:20px"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if user %}
                <div class="row">
                    <div class="col-md-12">
                        <img src="img/golomtvisa.png" alt="Image Alternative text" title="Image Title"  />
                        <p>Pay with Golomt Bank. Secure transaction with fast operation.</p>
                        <form id="golomt_pay">
                            <input style="margin-left: 27%;" type="submit" value="Pay with Golomt bank" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="col-md-4">
                    <h3>ASEM 11 Login</h3>
                    <form>
                        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Email</label>
                            <input class="form-control" placeholder="@" type="text" id="email"/>
                        </div>
                        <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="*****" id="password"/>
                        </div>
                        <div class="alert alert-danger hidden" id='login-alert'>
                            <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                            </button>
                            <p class="text-small"></p>
                        </div>
                        <input class="btn btn-primary" type="button" value="Login" id="login"/>
                        <a class="popup-text" id="forgot_text" href="#forgot-dialog" data-effect="mfp-zoom-out">Forgot password?</a>
                    </form>
                    <br />
                    <div class="alert alert-success hidden" id="register-success1">
                        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                        </button>
                        <p class="text-small"></p>
                    </div>
                    <div class="alert alert-danger hidden" id='login-alert1'>
                        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                        </button>
                        <p class="text-small"></p>
                    </div>
                    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="forgot-dialog">
                        <form>
                            <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                                <label>Email</label>
                                <input class="form-control" placeholder="example@example.com" type="text" id="forgot_email"/>
                            </div>
                            <input class="btn btn-primary" type="button" value="илгээх" id="forgot_password"/>
                        </form>
                    </div>
                </div>
                <hr>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="booking-item-payment">
                    <header class="clearfix">
                        <a class="booking-item-payment-img" href="#">
                            <img src="{{hotel.cover_image}}" style="width:100%" alt="Image Alternative text" title="hotel 1" />
                        </a>
                        <h5 class="booking-item-payment-title"><a href="#">{{hotel.name}}</a></h5>
                        <ul class="icon-group booking-item-rating-stars">
                            {% for i in range(1, hotel.stars) %}
                            <li><i class="fa fa-star"></i></li>   
                            {% endfor %}
                        </ul>
                    </header>
                    <ul class="booking-item-payment-details">
                        <li>
                            <h5>Total days of stay: {{days}}</h5>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{start}}</p>
                                <p class="booking-item-payment-date-weekday">{{day_start}}</p>
                            </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                            <div class="booking-item-payment-date">
                                <p class="booking-item-payment-date-day">{{end}}</p>
                                <p class="booking-item-payment-date-weekday">{{day_end}}</p>
                            </div>
                        </li>
                        <li>
                            <h5>Room</h5>    
                            <ul class="booking-item-payment-price">
                                {%for room in rooms%}
                                    <li>
                                        <p class="booking-item-payment-price-title">{{room.name}}</p>
                                        <p class="booking-item-payment-price-title" style="margin-left:10px">{{oom.qty}}<small>/rooms</small></p>
                                        <p class="booking-item-payment-price-amount">${{room.sub}}<small>/per day</small></p>
                                    </li>
                                {%endfor%}
                            </ul>
                        </li>
                    </ul>
                    <p class="booking-item-payment-total">Total amount: <span>US$ {{total}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}
{% block scripting %}
{{parent()}}
<script src="js/jquery.creditCardValidator.js"></script>
<script>
    $("#golomt_pay").submit(function( event ) {
        {% if user %}
        event.preventDefault();
        $.post("order.php", {
            location: $('#location_4').val(),
            total: $('#total_4').val(),
            days: $('#days_4').val(),
            start: $('#start_4').val(),
            hotel: $('#hotel_4').val(),
            room: $('#room_4').val(),
            end: $('#end_4').val(),
        }, function (result) {
            if(result!=0){
                var orderID = result;  
                post('https://m.egolomt.mn/billingnew/cardinfo.aspx', {key_number: '254251235225252244203251255231202171168165162162182164175',
                    trans_number: orderID, 
                    trans_amount: $('#total_4').val(), lang_ind: '1',
                    customer_id: '',
                    subID: '1'
                });
            }
            else{
                alert(result);
            }
        });

        {% else %}
        $.post("order.php", {
            name: $('#full_name').val(), 
            email: $('#email').val(), 
            phone: $('#phone').val(),
            location: $('#location_4').val(),
            total: $('#total_4').val(),
            days: $('#days_4').val(),
            start: $('#start_4').val(),
            hotel: $('#hotel_4').val(),
            room: $('#room_4').val(),
            end: $('#end_4').val(),
        }, function (result) {
            if(result!=0){
                var orderID = result;  
                post('https://m.egolomt.mn/billingnew/cardinfo.aspx', {key_number: '254251235225252244203251255231202171168165162162182164175',
                    trans_number: orderID, 
                    trans_amount: $('#total_4').val(), lang_ind: '1',
                    customer_id: '',
                    subID: '1'
                });
            }
            else{
                alert(result);
            }
        });
        event.preventDefault();
        {% endif %}
    });
    $('#login').click(function(){
     $.post("login.php", {
        email: $('#email').val(),
        password: $('#password').val()
    }, function (result) {
        if(result==1){
            window.location.replace(window.location.href);  
        }
        else{
            alert(result);
        }
    });
    });
    $('#add').click(function(){
     $.post("user.php", {
        email: $('#remail').val(),
        username: $('#rusername').val(),
        password: $('#rpassword').val()
    }, function (result) {
        if(result==1){
            alert("Амжилттай бүртгүүллээ. Та бүртгүүлсэн мэдээллээ ашиглан нэвтэрнэ үү");
            window.location.replace("index.php");  
        }
        else{
            alert(result);
        }
    });
    });
    function post(path, params, method) {
        method = method || "post"; 
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }
</script> 
{% endblock %}
