{% extends "asem.html" %}
{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.php?asem">Home page</a></li>
            <li class="active">Ulaanbaatar</li>
        </ul>
        <div style="height:20px"></div>
        <input type="hidden" id="location_1" value="Ulaanbaatar"/>
        <input type="hidden" id="country" value="Mongolia"/>
        <form class="booking-item-dates-change mb40">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                        <label>Destination</label>
                        <input class="form-control" id="location" name='location' value="Ulaanbaatar, Mongolia" type="text" disabled/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-daterange">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                    <label>Check-in</label>
                                    <input class="form-control" id="start_1" name="start_1" type="text" data-date-format="yyyy-mm-dd" {%if start %} value="{{start}}" {%else %} value="2016-06-01" {%endif%}/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                    <label>Check-out</label>
                                    <input class="form-control" id="end_1" name="end_1" type="text" data-date-format="yyyy-mm-dd" {%if end %} value="{{end}}" {%else %} value="2016-07-01" {%endif%}/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group- form-group-select-plus">
                                <label>Guests</label>
                                <select class="form-control" name="guests" id="guests">
                                    {% if guests %}
                                    <option selected="selected">{{guests}}</option>
                                    {%endif%}
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-select-plus">
                                <label>Rooms</label>
                                <select class="form-control" id="rooms" name="rooms">
                                    {% if rooms %}
                                    <option selected="selected">{{rooms}}</option>
                                    {%endif%}
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-3">
                <aside class="booking-filters booking-filters-white">
                    <h3>Features</h3>
                    <ul class="list booking-filters-list">  
                        <li>
                            <h5 class="booking-filters-title">Price</h5>
                            <input type="text" id="price-slider">
                        </li>
                        <li>
                        <h5 class="booking-filters-title">Stars</h5>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="5" />5 stars
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="4"  />4 stars 
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox"name="stars" value="3" />3 stars
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="2" />2 stars
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="1" />1 stars
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox"  name="stars" value="0" />No star
                        </div>
                        </li>
                        <li>
                        <h5 class="booking-filters-title">Extra</h5>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="wifi" />Wi-Fi
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="parking" />Parking
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox"  name="others" value="fitness" />Fitness
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="pool" />Indoor pool
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="saun" />Sauna
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox"  name="others" value="famroom"/>Family room
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="rest" />Pub
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="food_drink" value="restraurant" />Restraurant
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="food_drink" value="room_service" /> Room service
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="pool_spa" value="fitness_center" /> Fitness center
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="pool_spa" value="spa" /> SPA
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="transport" value="car_rentral" /> Car rental
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="transport" value="airport_shuttle_free" />Airport Shuttle (free)
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="transport" value="airport_shuttle_surcharge" />Airport Shuttle (surchange)
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="entertainment" value="baby_sitting_child_services" />Baby sitting
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="entertainment" value="playground" /> Playground 
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="miscellaneous" value="elevator" /> Elevator
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="miscellaneous" value="non_smoking_rooms" />Non-smoking Rooms
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="miscellaneous" value="soundproof_rooms" /> Soundproof rooms 
                        </div>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="nav-drop booking-sort small-top">
                    <h5 class="booking-sort-title"><a href="#">Sorting:<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                    <ul id="sorting" class="nav-drop-menu">
                        <li id="pricedown"><a href="#" name="sort" sort="priceup">Price (high to low)</a>
                        </li>
                        <li id="priceup"><a href="#" name="sort" sort="pricedown">Price (low to high)</a>
                        </li>
                        <li id="starup"><a href="#" name="sort" sort="starup">Star (high to low)</a>
                        </li>
                        <li id="stardown"><a href="#" name="sort" sort="stardown">Star (low to high)</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-drop booking-sort small-top" style="float:right;">
                    <h5 id="hotel_list"><a href="#" title="List"><i class="fa fa-list"></i>List</a></h5>
                    <h5 id="hotel_map"><a href="#" title="Map"><i class="fa fa-map-marker"></i>Map</a></h5>
                </div>
                <div id="maps_hotel" style="display: none;">
                    hello 
                </div>
                <ul class="booking-list" id="hotels">
                    {% for res in results %}
                    <li>
                      <a class="booking-item" id="{{res.objectId}}" href="#" title="{{res.name}}" name="detail">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="{{res.cover_image}}" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>{{res.images|length}}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class='flex'>
                                    <div>
                                        <h5 class="booking-item-title">{{res.name}}</h5>
                                    </div>
                                    <div>
                                        <div class="booking-item-rating mrg-left">
                                            <ul class="icon-group booking-item-rating-stars">
                                                {% for i in range(1, res.stars) %}
                                                <li><i class="fa fa-star"></i></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <small class="booking-item-address"><i class="fa fa-map-marker"></i> &nbsp;{{res.address}}</small><br><br><small class="booking-item-address">{{res.short_desc}}</small>
                            </div>
                            <div class="col-md-3"><span
                                    class="booking-item-price-from
                                small-hidden" style="margin-botoom:8px">from</span><span class="booking-item-price">${{res.min_rate}}</span><span>/night</span><span class="btn btn-primary small-left" name="detail" id="{{res.objectId}}">Choose room</span>
                            </div>
                        </div>
                    </a>
                    </li>
                    {% endfor %}
                </ul>
                <div id="loadmoreajaxloader" style="display:none;"><center><img style="width: 20px;" src="img/ajax-loader.gif" /></center></div>
            </div>
        </div>
    </div>
{% endblock %} 
{% block scripting %}
    {{parent()}}
    <script type="text/javascript" src="js/infobubble.js" charset="utf-8"></script>
    <script type="text/javascript">

    var checkedValues1; var checkedValues2; var checkedValues3; var checkedValues4; var checkedValues5; var checkedValues6; var checkedValues7;
    var values1; var values2; var values3; var values4; var values5; var values6; var values7;
    var keyup = false; var loadSkip = 0; var checkSkip = true; var results = []; var max = {{max}}; var min = {{ min }};

    {% for res in results %}
        {% if res.geolocation %}
            results.push({lat: {{res.geolocation.latitude}}, lng: {{res.geolocation.longitude}}, id: '{{res.objectId}}', avg: '{{res.min_rate}}'});
        {% endif %}
    {% endfor %}
    </script>
    <script type="text/javascript" src="js/list/asem_list.js" charset="utf-8"></script>
{% endblock %}
