{% extends "asem.html" %}
{% block content %}
<div class="gap"></div>
<div class="container">
    <div class="row" data-gutter="60" id='asem2'>
        <div class="col-md-4">
            <h3>ASEM 11 Login</h3>
            <form>
                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Email</label>
                    <input class="form-control" placeholder="@" type="text" id="email"/>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                    <label>Password</label>
                    <input class="form-control" type="password" placeholder="*****" id="password"/>
                </div>
                <div id="RecaptchaField1" class="form-group"></div>
                <div class="alert alert-danger" id='login-alert'>
                    <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                    </button>
                    <p class="text-small"></p>
                </div>
                <input class="btn btn-primary" type="button" value="Login" id="login"/>
                <a class="popup-text" id="forgot_text" href="#forgot-dialog" data-effect="mfp-zoom-out">Forgot password?</a>
            </form>
            <br />
            <div class="alert alert-success hidden" id="register-success1">
                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                </button>
                <p class="text-small"></p>
            </div>
            <div class="alert alert-danger hidden" id='login-alert1'>
                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                </button>
                <p class="text-small"></p>
            </div>
            <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="forgot-dialog">
                <form>
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Email</label>
                        <input class="form-control" placeholder="example@example.com" type="text" id="forgot_email"/>
                    </div>
                    <div class="alert alert-success" id="forget_success">
                        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                        </button>
                        <p class="text-small"></p>
                    </div>
                    <div class="alert alert-danger" id='forget_danger'>
                        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                        </button>
                        <p class="text-small"></p>
                    </div>
                    <div id="RecaptchaField2" class="form-group"></div>
                    <input class="btn btn-primary" type="button" value="Send" id="forgot_password"/>
                </form>
            </div>
        </div>
        <div class='col-md-8'>
            <h3>ASEM Register</h3>
            <ul>
                <li>
                    <h5><a href='index.php?asem1&type=1'>THE 9th ASIA-EUROPE PARLAMENTARY PARTNERSHIP (ASEP9) MEETING</a></h5>
                    <span class='add'>(Ulaanbaatar, Mongolia 21-23 April 2016)</span>
                </li>
            </ul>
        </div>
    </div>

    <input type="hidden" name="recaptcha1" id="recaptcha1" value="" />
    <input type="hidden" name="recaptcha2" id="recaptcha2" value="" />
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=en"
    async defer>
    </script>
</div>
{% endblock %}
{% block scripting %}
{{parent()}}
<script type="text/javascript">
$('#login').click(function(){
   $('.alert').hide(0);
   var $this = $(this);
   $this.after('<div id="loading"></div>');
   $this.addClass('disabled');
   $.post("login.php", {
    email: $('#email').val(),
    password: $('#password').val(),
    asem: 1,
    g_recaptcha_response: $('#recaptcha1').val()
}, function (result) {
    if(result==1){
        if('{{list}}'==1){
            window.location.replace("index.php?asem");  
        }else{
            window.location.replace("index.php");  
        }
    }
    else if(result==2){
        $('#loading').remove();
        $this.removeClass('disabled');
        $('#login-alert').fadeIn(500);
        $('#login-alert p').text('reCaptcha error!');
    }
    else{
        $('#loading').remove();
        $this.removeClass('disabled');
        $('#login-alert').fadeIn(500);
        $('#login-alert p').text('Нэвтрэх нэр эсвэл нууц үг буруу байна!');
    }
});
});
$('#forgot_password').click(function(){
 $.post("user.php", {
    forgot_password: $('#forgot_email').val(),
    g_recaptcha_response: $('#recaptcha2').val()
}, function (result) {
    if(result==1){
        $('#forget_success').fadeIn(100);
        $('#forget_success p').text('Та и-мэйл рүүгээ орж нууц үгээ сэргээнэ үү!');
    }
    else if(result==2){
        $('#forget_danger').fadeIn(100);
        $('#forget_danger p').text('ReCaptcha required');
    }
    else{
        $('#forget_danger').fadeIn(100);
        $('#forget_danger p').text('Incorrect an email');
    }
});
});
$('#add').click(function(){
 $.post("user.php", {
    email: $('#remail').val(),
    username: $('#rusername').val(),
    password: $('#rpassword').val()
}, function (result) {
    if(result==1){
        $('#register-success').removeClass('hidden');
        $('#register-success p').text('Бүртгэл амжилттай. Та и-мэйл рүүгээ орж бүртгэлийг идэвхижүүлнэ үү.');
    }
    else{
        $('#register-alert').removeClass('hidden');
        $('#register-alert p').text('Та өмнө нь бүртгэгдсэн эсвэл бүртгэлийн мэдээлэл буруу байна!');
    }
});
});
</script>
<script type="text/javascript">
var verifyCallback = function(response) {
    $("#recaptcha1").val(response);
};
var verifyCallback1 = function(response) {
    $("#recaptcha2").val(response);
};
var widgetId1;
var onloadCallback = function() {
    widgetId1 = grecaptcha.render('RecaptchaField1', {
      'sitekey' : '6LfSXhoTAAAAAC9V-mDsf7yQr2-wOxmnZHKo7nMP',
      'callback' : verifyCallback,
      'theme' : 'light'
  });
    grecaptcha.render('RecaptchaField2', {
      'sitekey' : '6LfSXhoTAAAAAC9V-mDsf7yQr2-wOxmnZHKo7nMP',
      'callback' : verifyCallback1,
      'theme' : 'light'
  });
};
</script>
{% endblock %}
