{% extends "asem.html" %}
{% block content %}
        <div class="container">
            <h3 class="page-title">Terms and Conditions<h3>
        </div>
        <div class="container">
            <h4>Terms of Use</h4>
            <p>iHotel company (“iHotel.mn”, “us”, “we” or “our” ) welcomes you to its website. The terms and conditions set out below and the policies are collectively referred. If you do not agree with the Terms and Conditions, please cease use of the website (ihotel.mn) immediately.</p>
            <p>The terms and Conditions, the content and the design are, as may amended from time to timeby iHotel LLC</p>
            <h4>Intellectual Property Rights</h4>
            <p>The content, photos, videos, logo, information  and other  all materials on the website areowned, operated and provided by iHotel.mn, its suppliers and providers.</p>
            <p>Any content of the website, may be used only for personal use. It is prohibited to use thecontent to be copied or published for commercial use without the consent of iHotel company.</p>
            <p>An unlawful use will constitute a material infringement of our intellectual property rights which include copyright and database right.</p>
            <h4>The content of third party/ accommodation provider</h4>
            <p>Based on the contract, the organizations’ content and price information are proved by third party/accommodation provider on the website.</p>
            <p>The information will be owned by third party/ accommodation provider and the website has no rights to use the information without conditions of the partner contract.</p>
            <p>We do not guarantee that, all information is accurate, complete, or correct, nor can we held responsible for any errors, any interruptions, breakdown, repair, upgrade, and misleading or untrue information or non delivery information. Each accommodation provider remains responsible at all times for the accuracy, completeness and correctness of your own property’s information. The customers are allowed to evaluate the website and the service of properties on the website..</p>
            <h4>Advertisement</h4>
            <p>The website has the right to place advertisements for commercial purposes.The website is not allowed to participate in the relationship between customers and third party/ accommodation provider and is not responsible for their misunderstanding and disputes.</p>
            <h4>Trademark</h4>
            <p>All service and products (exclude in own of third parties)  which were posted on the website are owned by iHotel company.All service and products of third party/ accommodation provider are owned by themselves.</p>
            <h4>Last Update</h4>
            <p>The terms and conditions of the website were updated on the 1st of February, 2016.</p>
        </div>

        {% endblock %}
{% block scripting %}
{{parent()}}

{% endblock %}
