<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <title>{% block title %} {% endblock %} {{ title }} </title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="hotel, Booking, Mongolia, iHotel" />
    <meta name="description" content="iHotel.mn">
    <meta name="author" content="iHotel.mn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico">
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>

    <!-- CUSTOM ICONS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- DEFAULT CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    {%if user.asem==1%} 
        <link rel="stylesheet" href="css/asem.css">
    <link rel="stylesheet" href="css/asem_mystyle.css">
    {%endif%}
    <script src="js/modernizr.js"></script>
    {% endblock %}
</head>
<body>
<div class="global-wrap">
    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 flex middle">
                        <a class="logo" href="index.php">
                            <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <div class='logo-text flex flex-col'>
                            <span>Зочид буудал захиалга</span>
                            <span>дэлхий даяар</span>
                        </div>
                    </div>
                    <div class='col-md-3 phone'><i class='fa fa-phone'></i><span>+976-99066350</span></div>
                    <div class="col-md-4 col-md-offset-1">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                {% if user %}
                                <li class="top-user-area-avatar">
                                <a href="index.php?settings">{{user.name}}</a>
                                </li>
                                <li><a href="index.php?logout">{%if user.asem==0%}Гарах{%else%}Logout{%endif%}</a>
                                </li>
                                {% else %}
                                <li><a href='index.php?register'>Бүртгүүлэх | Нэвтрэх</a></li>
                                {% endif %}
                                <li class="top-user-area-lang">
                                    {%if user.asem==0%}
                                        <a href="index.php?asem">
                                            <img src="img/flags/32/uk.png" alt="Image Alternative text" title="Image Title" />ENG</i>
                                        </a>
                                    {%else%}
                                        <a href="index.php?index.php">
                                            <img src="img/flags/32/mn.png" alt="Image Alternative text" title="Image Title" />MNG</i>
                                        </a>
                                    {%endif%}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav-container">

            <div class="nav">
                <ul class="slimmenu" id="slimmenu">
                    {%if user%} 
                        {%if user.asem==0%} 
                            <div class="container">
                                <li class="active"><a href="index.php?search">Зочид буудал</a></li>
                                <li><a href="https://www.sixt.com/php/reservation/agent_rateselection?tab_identifier=1456130987&context=&">Машин түрээс</a></li>
                                <li><a href="index.php?news">Мэдээ мэдээлэл</a></li>
                               <!-- <li><a href="index.php?tour">Аялал</a></li>-->
                                <li class='active' id='asem'><a href="index.php?asem">FOR ASEM GUESTS</a></li>
                            </div>
                        {%else%} 
                            <div class="container">
                                <li class="active">
                                    <a href="index.php?asem">ASEM ULAANBAATAR HOTELS</a>
                                </li>
                                <li>
                                    <a href="https://www.sixt.com/php/reservation/agent_rateselection?tab_identifier=1456130987&context=&">CAR RENT</a>
                                </li>
                                <li><a href="http://www.asem11.mn/">ASEM 2016 NEWS</a></li>
                                <!--<li><a href="index.php?asem-tours">TOURS</a></li>-->
                                <li><a href="index.php?asem-faq">FAQ</a></li>
                            </div>
                        {%endif%}
                    {%else%} 
                        <div class="container">
                            <li class="active"><a href="index.php?search">Зочид буудал</a></li>
                            <li><a href="https://www.sixt.com/php/reservation/agent_rateselection?tab_identifier=1456130987&context=&">Машин түрээс</a></li>
                            <li><a href="index.php?news">Мэдээ мэдээлэл</a></li>
                           <!-- <li><a href="index.php?tour">Аялал</a></li>-->
                            <li class='active' id='asem'><a href="index.php?asem">FOR ASEM GUESTS</a></li>
                        </div>
                    {%endif%}
                </ul>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <div class="gap"></div>
    {%if user.asem==0%} 
        <footer id="main-footer">
            <div class="container">
                <div class="flex between middle">
                    <div>
                        <a class="logo" href="index.php">
                            <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div>
                        <ul class="list list-horizontal list-space" id="footer-link">
                            <li><a href='index.php?about'>Бидний тухай</a></li>
                            <li><a href='index.php?terms'>Үйлчилгээний нөхцөл</a></li>
                            <li><a href='index.php?faq'>Асуулт хариулт</a></li>
                            <li><a href='index.php?contact'>Холбогдох</a></li>
                        </ul>
                    </div>
                </div>
                <div class='flex between middle'>
                    <div>
                        <p>Мэдээлэл Технологийн Үндэсний Парк 206 тоот, Улаанбаатар, 99066350, info@ihotel.mn</p>
                        <p>&copy 2016 iHotel.mn</p>
                    </div>
                    <div>
                        <ul class="list list-horizontal list-space">
                            <li>
                            <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {% else %}
        <footer id="main-footer">
            <div class="container">
                <div class="flex between middle">
                    <div>
                        <a class="logo" href="index.php">
                            <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div>
                        <ul class="list list-horizontal list-space" id="footer-link">
                            <li><a href='#'>Terms and Uses</a></li>
                            <li><a href='index.php?asem-faq'>FAQ</a></li>
                            <li><a href='http://www.asem11.mn/'>Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class='flex between middle'>
                    <div>
                        <p>National Information Technology Park , Room 206, Ulaanbaatar, Mongolia, info@ihotel.mn</p>
                        <p>&copy 2016 iHotel.mn</p>
                    </div>
                    <div>
                        <ul class="list list-horizontal list-space">
                            <li>
                            <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                            <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {%endif%}
</div>
{% block scripting %}
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/slimmenu.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>
    <script src="js/nicescroll.js"></script>
    <script src="js/dropit.js"></script>
    <script src="js/ionrangeslider.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/card-payment.js"></script>
    <script src="js/magnific.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/tweet.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/gridrotator.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/parsley.js"></script>
{% endblock %}
</body>
</html>
