{% extends "base.html" %}
{% block title %}Contact us{% endblock %}
{% block content %}
        <div class="container">
            <h1 class="page-title">Холбоо барих</h1>
        </div>
        <div class="container">
        </div>
        <div id="map-canvas" style="height:400px;"></div>
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-7">
                    <p>Таны санал хүсэлт, асуулт бүр бидэнд эрхэм.</p>
                    <form class="mt30">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Таны нэр</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Цахим шуудан</label>
                                    <input class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Захидал</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Илгээх" />
                    </form>
                </div>
                <div class="col-md-4">
                    <aside class="sidebar-right">
                        <ul class="address-list list">
                            <li>
                                <h5>Цахим шуудаг</h5><a href="#">info@ihotel.mn</a>
                            </li>
                            <li>
                                <h5>Утас</h5><a href="#">+976-88021087 </a>
                            </li>
                            <li>
                                <h5>Skype</h5><a href="#">khangai_khurelbaatar</a>
                            </li>
                            <li>
                                <h5>Хаяг</h5><address>Айхотел ХХК<br />Мэдээллийн Технологийн Үндэсний Парк<br> 206, 214 тоот, Сүхбаатар дүүрэг,<br />Бага Тойруу-49, Улаанбаатар-210646<br />Монгол улс<br /></address>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="gap"></div>
        </div>

        {% endblock %}
{% block scripting %}
{{parent()}}
{% endblock %}
