<!DOCTYPE HTML>
<html>
    <head>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/575f98a1eb544cb33e8c5c07/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <title>iHotel.mn coming soon</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="keywords" content="hotel, Booking, Mongolia, iHotel" />
        <meta name="description" content="iHotel.mn">
        <meta name="author" content="iHotel.mn">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/favicon.ico">
        <!-- GOOGLE FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>

        <!-- CUSTOM ICONS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- DEFAULT CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/mystyles.css">
        <link rel='stylesheet' href='css/flex.css'>
        <link rel="stylesheet" href="css/jquery-ui.css">
        <script src="js/modernizr.js"></script>
        <!-- Hotjar Tracking Code for https://ihotel.mn/ -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:209685,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </head>
    <body style="background-color: #03629a">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <a href="index.php?asem"><img src='img/logo_new.jpg' style="width:100%;    margin-top: 5%;"></a>
            <div class='col-md-12' style="text-align: center; margin-top: -15%; font-size: 25px;color: white">ТУН УДАХАГҮЙ</div>
            <div class='col-md-4' style="text-align: center;margin-top: 5%;"><i class='fa fa-phone' style="color: white"></i><span style="color: white; margin-left: 5px">+976-99066350</span></div>
            <div class='col-md-4' style="text-align: center;margin-top: 5%;"><i class='fa fa-envelope' style="color: white"></i><span style="color: white;margin-left: 5px"><a href="mailto:info@ihotel.mn?Subject=Hello%20again" style="color: white">info@ihotel.mn</a></span></div>
            <div class='col-md-4' style="text-align: center;margin-top: 5%;"><i class='fa fa-facebook' style="color: white"></i><span style="color: white; margin-left: 5px"><a href="https://www.facebook.com/ihotel.mn" style="color: white">/ihotel.mn</a></span></div>
        </div>
        <div class="col-md-3">
        </div>
    </body>
</html>