{% extends "base.html" %}
{% block content %}
    <input type="hidden" value="{{start}}" id="start_3" />
    <input type="hidden" value="{{end}}" id="end_3"/>
    <input type="hidden" value="{{guests}}" id="guests"/>
    <input type="hidden" value="{{rooms_1}}" id="rooms_1"/>
    <input type="hidden" value="{{hotel.objectId}}" id="hotel_3"/>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.php">Home</a>
            </li>
            <li><a href="index.php?location=Ulaanbaatar%2C+Mongolia&start={{start}}&end={{end}}&persons=1&guests=2">Ulaanbaatar</a>
            </li>
            <li class="active">{{hotel.name}}</li>
        </ul>
        <div class="booking-item-details">
            <header class="booking-item-header">
                <div class="row" style="padding:10px">
                        <div class="col-md-9" >
                            <div class='flex middle'>
                                <h2 class="lh1em" id="hotelname">{{hotel.name}}</h2>
                                <div class="booking-item-meta">
                                <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars">
                                    {% for i in range(1, hotel.stars) %}
                                        <li><i class="fa fa-star"></i></li>
                                    {% endfor %}
                                </ul>
                                </div>
                                </div>
                            </div>
                            <p class="lh1em text-small" style="font-size:13px"><i class="fa fa-map-marker"></i>  {{hotel.address}}</p>
                            <ul class="list list-inline text-small">
                                <li><a href="#"><i class="fa fa-envelope"></i> {{hotel.email}}</a>
                                </li>
                                <li><i class="fa fa-phone"></i> {{hotel.phone}}</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <p
                            class="booking-item-header-price"><small></small>
                            <span class="text-lg">US$ {{hotel.average_rate}}</span>/хоногийн</p>
                        </div>
                    </div>
            </header>
            <div class="row">
                <div class="col-md-6">
                    <div class="tabbable booking-details-tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-1"
                                data-toggle="tab"><i class="fa fa-camera"></i>Зураг</a>
                            </li>

                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                    {% for image in hotel.images %}
                                    <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars" style="margin-right: 3px;">
                                    <img class="rating_image" src="">
                                </ul>
                                <span class="booking-item-rating-number"><b class="tr_reviews"></b> of 5 
                                    <small class="text-smaller">guest rating</small>
                                </span>
                            </div>
                            <p style="text-align: justify;">{{hotel.long_desc}}
                            </p>
                        </div>
                        <div class="gap gap-small"></div>
                        <div id="map-canvas1" style="height:200px; margin-left:10px"></div>
                        <!-- <div class="col-md-12 active" id="google-map-tab">
                                    <div id="map-canvas" style="width:100%; height:140px;"></div>
                                </div>-->
                    </div>  
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <h3>Өрөөнүүд</h3>
        <div class="row">
            <div class="col-md-9">
                <div class="booking-item-dates-change">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-daterange" data-date-format="MM d, D">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Ирэх</label>
                                                <input class="form-control"  type="text" id="start" data-date-format="yyyy-mm-dd" value="{{start}}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Буцах</label>
                                                <input class="form-control"  type="text" id="end" data-date-format="yyyy-mm-dd" value="{{end}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Том хүн</label>
                                    <select class="form-control " id="adult">
                                        <option selected="selected">{{guests}}</option>
                                        <option >1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Хүүхэд</label>
                                    <select class="form-control" id="kids">
                                        <option selected="selected">0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>&nbsp;</label>
                                    <a class="btn btn-primary btn-md" id="search_a" >Хайх</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="gap gap-small"></div>
                <ul id="rooms" class="booking-list">
                    {% for room in rooms %}
                    <li>
                    <div name="order" class="booking-item" id="{{room.objectId}}">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                    {% for image in room.images %}
                                    <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="booking-item-title">{{room.room_type}}</h4>
                                <h5 class="booking-item-title">{{room.name}}</h5>
                                <p class="text-small">{{room.short_desc}}</p>
                                <ul class="booking-item-features booking-item-features-sign clearfix">
                                    <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x {{room.adult_occupancy}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Children Occupancy"><i class="fa fa-child"></i><span class="booking-item-feature-sign">x {{room.child_occupancy}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Beds"><i class="fa fa-bed"></i><span class="booking-item-feature-sign">x {{room.num_beds}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="fa fa-expand"></i><span class="booking-item-feature-sign">{{room.roomt_size}} m2</span>
                                    </li>
                                </ul>
                                <ul class="booking-item-features booking-item-features-small clearfix">
                                    <li rel="tooltip" data-placement="top" title="Air Conditioning"><i class="im im-air"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Flat Screen TV"><i class="fa fa-television"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Mini Bar"><i class="im im-bar"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Bathtub"><i class="im im-bathtub"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Kitchen"><i class="im im-kitchen"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Patio"><i class="im im-patio"></i>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Washing Machine"><i class="im im-washing-machine"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <span class="booking-item-price">${{room.night_price}}</span><span>/хоногийн</span>
                                <div class="form-group form-group-select-plus">
                                    <label>Боломжит өрөөнүүд</label>
                                    <select class="form-control form-group-select-plus" name="qty" room="{{room.room_type}}" price="{{room.night_price}}" roomid="{{room.objectId}}" > 
                                        <option selected="selected">0</option>
                                        {% for i in range(1, room.num_rooms) %}
                                            <option value="{{i}}">{{i}} - ${{ i*room.night_price }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                <div id="rating_div" class="row">
                    <div class="col-md-6">
                        <h4 class="lh1em">Summary</h4>
                        <ul class="list booking-item-raiting-summary-list">
                            <li>
                            <div class="booking-item-raiting-list-title">Sleep</div>
                            <ul id="rt_sleep" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Location</div>
                            <ul id="rt_location" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Service</div>
                            <ul id="rt_service" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Clearness</div>
                            <ul id="rt_clearness" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Rooms</div>
                            <ul id="rt_rooms" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4 class="lh1em">Traveler raiting</h4>
                        <ul class="list booking-item-raiting-list">
                            <li>
                            <div class="booking-item-raiting-list-title">Exellent</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_ex_w"style="width:0%;"></div>
                            </div>
                            <div id="raiting_ex" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Very Good</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_vg_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_vg" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Average</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_ar_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_ar" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Poor</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_pr_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_pr" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Terrible</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_tr_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_tr" class="booking-item-raiting-list-number">0</div>
                            </li>
                        </ul>
                    </div>
                    <a class="popup-text btn btn-primary"style="margin: 10px 0
                        30px;" href="#review-dialog" data-effect="mfp-zoom-out">Write a Reviews</a>
                </div>
                <h3 class="mb20">Hotel Reviews</h3>
                <ul id="reviewslist" class="booking-item-reviews list">
                </ul>
            </div>
            <div class="col-md-3">
                <div id="payment_info" class="booking-item-payment" style="display:none">
                    <ul class="booking-item-payment-details" style="width:100%">
                        <li>
                        <h5>Нийт хоногийн тоо: <span id="days"><span></h5>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day" id="checkin">2016-07-11</p>
                                </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day" id="checkout">2016-07-11</p>
                                </div>
                                </li>
                                <li>
                                <h5>Өрөөнүүд</h5>

                                <span id="payment_rooms">

                                </span>

                                <ul class="booking-item-payment-price">
                                    <li>
                                    <p class="booking-item-payment-price-title">VAT</p>
                                    <p class="booking-item-payment-price-amount">(incluled)<small>/хоногийн</small>
                                    </p>
                                    </li>
                                </ul>
                                <p class="booking-item-payment-total">Нийт дүн: <span id="total"> 4232</span>
                                </p>
                                <span name="ordernow" class="btn btn-primary
                                    ajax-full-width" id="{{room.objectId}}" style="width:100%">Захиалах</span>
                            </div>
                        <br>
                        <h4>Зочид буудлын онцлог</h4>
                        <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                            <li><i class="im im-wi-fi"></i><span class="booking-item-feature-title">Утасгүй интернет</span>
                            </li>
                            <li><i class="im im-parking"></i><span class="booking-item-feature-title">Автомашины зогсоол</span>
                            </li>
                            <li><i class="im im-bus"></i><span class="booking-item-feature-title">Airport pickup</span>
                            </li>
                            <li><i class="im im-fitness"></i><span class="booking-item-feature-title">Фитнесс</span>
                            </li>
                            <li><i class="im im-pool"></i><span class="booking-item-feature-title">Усан сан</span>
                            </li>
                            <li><i class="im im-spa"></i><span class="booking-item-feature-title">Саун</span>
                            </li>
                            <li><i class="im im-restaurant"></i><span class="booking-item-feature-title">Food service</span>
                            </li>
                            <li><i class="im im-business-person"></i><span class="booking-item-feature-title">Уулзалтын өрөө</span>
                            </li>
                            <li><i class="im im-children"></i><span class="booking-item-feature-title">Хүүхдүүдийн өрөө</span>
                            </li>
                        </ul>

                    </div>
                </div>           
            </div>
            <div class="gap gap-small"></div>
        </div>
    </div>
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="review-dialog">
        <iframe id="write_review" src="https://ihotel.mn" style="width:100%; height: 500px;" frameborder="0">
        </iframe>
    </div>
{% endblock %}
{% block scripting %}
{{parent()}}
<script type="text/javascript">
      var script = '<script type="text/javascript" src="https://google-maps-' +
          'utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble';
      if (document.location.search.indexOf('compiled') !== -1) {
        script += '-compiled';
      }
      script += '.js"><' + '/script>';
      document.write(script);
</script>
<script type="text/javascript">
    function set_total(d){
        var total=0;
        $('span[name=subtotal]').each(function(){
            var sub = $(this).text();
            total = total + parseInt(sub);
        });
        total = parseInt(d) * total;
        $("#total").text("US$ "+total);
    }

    $(document).ready(function() {
        initMap();
        $.ajax({
            type: "get",
            url:
            "https://api.tripadvisor.com/api/partner/2.0/map/47.9167,106.9167?key=4cc4b5b4bf074bce87fecc651006190e&q="+$('#hotelname').text(),
            dataType: "json",
            success: function(data){ 
                if(data.data.length != 0){
                    if(data.data[0].rating!=null){
                        var str = "https://"
                        var arr = data.data[0].api_detail_url.split('//');
                        var new_url = str+arr[1];
                        $.ajax({
                            type: "get",
                            url: new_url,
                            dataType: "json",
                            success: function(data){ 
                                $(".rating_image").attr('src', data.rating_image_url);
                                $(".tr_reviews").text(data.rating);
                                var max = 200;
                                $("#raiting_ex_w").attr('style','width:'+(data.review_rating_count[1]*100/max)+ '%;');
                               $("#raiting_ex").text(data.review_rating_count[1]);
                                $("#raiting_vg_w").attr('style','width:'+(data.review_rating_count[2]*100/max)+ '%;');
                                $("#raiting_vg").text(data.review_rating_count[2]);
                                $("#raiting_ar_w").attr('style','width:'+(data.review_rating_count[3]*100/max)+ '%;');
                                $("#raiting_ar").text(data.review_rating_count[3]);
                                $("#raiting_pr_w").attr('style','width:'+(data.review_rating_count[4]*100/max)+ '%;');
                                $("#raiting_pr").text(data.review_rating_count[4]);
                                $("#raiting_tr_w").attr('style','width:'+(data.review_rating_count[5]*100/max)+ '%;');
                                $("#raiting_tr").text(data.review_rating_count[5]);
                                $("#write_review").attr('src',data.write_review);
                                $("#rt_location").html('<li><img src="'+data.subratings[0].rating_image_url+'" alt="" /></li>');
                                $("#rt_sleep").html('<li><img src="'+data.subratings[1].rating_image_url+'" alt="" /></li>');
                                $("#rt_rooms").html('<li><img src="'+data.subratings[2].rating_image_url+'" alt="" /></li>');
                                $("#rt_service").html('<li><img src="'+data.subratings[3].rating_image_url+'" alt="" /></li>');
                                $("#rt_clearness").html('<li><img src="'+data.subratings[5].rating_image_url+'" alt="" /></li>');
                                var htmlreview="";
                                for(var j = 0; j<3; j++){
                                    htmlreview +='<li><div class="row"><div class="col-md-2"><div class="booking-item-review-person"><a class="booking-item-review-person-avatar round" href="#"><img src="https://static.tacdn.com/img2/generic/site/no_user_photo-v1.gif" alt="Image Alternative text" title="Good job"></a><p class="booking-item-review-person-name"><a href="#">'+data.reviews[j].user['username']+'</a></p></div></div><div class="col-md-10"><div class="booking-item-review-content"><h5>"'+data.reviews[j].title+'"</h5><ul class="icon-group booking-item-rating-stars"><img style="width:50px;" src="'+data.reviews[j].rating_image_url+'" alt="" /><small style="margin-left: 3px;">'+data.reviews[j].published_date+'</small></ul><p>'+data.reviews[j].text+'<a href="'+data.reviews[j].url+'">More</a></p></div></div></div></div></li>';
                                }
                                $('#reviewslist').html(htmlreview);
                            }
                        });
                    }else{
                        $(".booking-item-rating").hide();
                                            $("#rating_div").hide();
                        $(".mb20").hide();
                    } 
                }else{
                    $(".booking-item-rating").hide();
                    $("#rating_div").hide();
                    $(".mb20").hide();
                } 
            }
        });
        var start =$("#start_3").val();
        var end =$("#end_3").val();
        var formattedDate = new Date(start);
        var formattedDate1 = new Date(end);

        $("#start").datepicker({"autoclose": true}).on("change", function() {
            $("#end").focus();
        }).datepicker('setDate', formattedDate);
        $("#start").datepicker({ dateFormat: 'dd-mm-yy' });
        $("#end").datepicker({"autoclose": true}).on("change", function() {
            $("#num_people").focus();
        }).datepicker('setDate', formattedDate1).datepicker({ dateFormat: 'dd-mm-yy' });

        $("span[name=ordernow]").click(function( event ) {
            var room_ids = ['1'];
            var room_qtys = ['1'];
            var room_subs = ['1'];

            $('ul[name=order_room]').each(function(){
                var roomid = $(this).attr('roomid');
                room_ids.push(roomid);
            });
            $('span[name=qtys]').each(function(){
                var qty = parseInt($(this).text());
                room_qtys.push(qty);
            });

            $('span[name=subtotal]').each(function(){
                var sub = $(this).text();
                room_subs.push(sub);
            });

            var start = $("#start").val();
            var end = $("#end").val();
            var starta = new Date(start);
            var enda   = new Date(end);
            var diff = new Date(enda - starta);
            // get days
            var days = diff/1000/60/60/24;

            var hotel = $("#hotel_3").val();
            var room_str = room_ids.toString();
            var qty_str = room_qtys.toString();
            var sub_str = room_subs.toString();
   
            $.post("payment.php", {
                start: start,
                end: end,
                hotel: hotel,
                rooms : room_ids,
                qtys: qty_str,
                subs:sub_str,
                days:days
            },
            function (result) {
                if(result==1){
                    window.location.replace("index.php?payment");  
                }
                else{
                    alert(result);
                }
            });

        });
        $(document).on('change','select[name=qty]',function(e){
            var start =$("#start").val();
            var end =$("#end").val();
            var starta = new Date(start);
            var enda   = new Date(end);
            var diff = new Date(enda - starta);
            // get days
            var days = diff/1000/60/60/24;

            if($(this).val()>0){
                var roomid = $(this).attr('roomid');
                $('ul[roomid='+roomid+']').remove();
                $("#payment_info").show();


                $("#checkin").text(start);
                $("#checkout").text(end);
                $("#days").text(days);

                var room_name = $(this).attr('room');
                var price = $(this).attr('price');
                var subtotal = $(this).val()* price;

                $("#payment_rooms").append('<ul name="order_room" roomid="'+roomid+'"class="booking-item-payment-price"><li><p class="booking-item-payment-price-title">'+room_name+'</p><p class="booking-item-payment-price-title" style="margin-left:10px"><span name="qtys">'+$(this).val()+'</span><small>/өрөө</small></p><p class="booking-item-payment-price-amount">$<span name="subtotal">'+subtotal+'</span><small>/хоногийн</small></p></li></ul>'
                        );
                set_total(days);
            }else{
                var roomid = $(this).attr('roomid');
                $('ul[roomid='+roomid+']').each(function(){
                    $(this).remove();
                });
                set_total(days);
            }    
        });

        $("#search_a").click(function( event ) {
            $('select[name=qty]').each(function(){
                $(this).val("0");
            });
            $("#payment_info").hide();
            //ajax lisr available rooms  
        });
        /*$("a[name=order]").click(function( event ) {
          var curId = $(this).attr('id');
          var start = $("#start_3").val();
          var end = $("#end_3").val();
          var location = $("#location_3").val();
          var hotel = $("#hotel_3").val();
          var country = $("#country").val();
          var url = "index.php?payment=" + curId +"&depart=" + start + "&end=" + end + "&location=" +location+"&hotel="+hotel; 
          window.location.replace(url);
          });*/
    }); 
    var map = new google.maps.Map(document.getElementById('map-canvas1'), {
        zoom: 16,
        center: new google.maps.LatLng({{hotel.geolocation.latitude}}, {{hotel.geolocation.longitude}}),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var infoBubble;
    var infoBubble2; 
    var countinfo = 0; 
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map-canvas1'), {
            zoom: 16,
            center: new google.maps.LatLng({{hotel.geolocation.latitude}}, {{hotel.geolocation.longitude}}),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        marker = new google.maps.Marker({
            position: {lat: {{hotel.geolocation.latitude}}, lng: {{hotel.geolocation.longitude}}},
            map: map,
        });
    }
</script>
{% endblock %}
