{% extends "base.html" %}
{% block content %}
    <input type="hidden" value="{{start}}" id="start_3" />
    <input type="hidden" value="{{end}}" id="end_3"/>
    <input type="hidden" value="{{guests}}" id="guests"/>
    <input type="hidden" value="{{rooms_1}}" id="rooms_1"/>
    <input type="hidden" value="{{hotel.objectId}}" id="hotel_3"/>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.php">Нүүр хуудас</a>
            </li>
            <li><a href="index.php?city={{hotel.city}}">{{hotel.city}}</a>
            </li>
            <li class="active">{{hotel.name}}</li>
        </ul>
        <div class="booking-item-details">
            <header class="booking-item-header">
                <div class="row" style="padding:10px">
                        <div class="col-md-8" >
                            <div class='flex middle'>
                                <h2 class="lh1em" id="hotelname">{{hotel.name}}</h2>
                                <div class="booking-item-meta">
                                <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars">
                                    {% for i in range(1, hotel.stars) %}
                                        <li><i class="fa fa-star"></i></li>
                                    {% endfor %}
                                </ul>
                                </div>
                                </div>
                            </div>
                            <p class="lh1em text-small" style="font-size:13px"><i class="fa fa-map-marker"></i>  {{hotel.address}}</p>
                            <ul class="list list-inline text-small">
                                <li><a href="#"><i class="fa fa-envelope"></i> {{hotel.email}}</a>
                                </li>
                                <li><i class="fa fa-phone"></i> {{hotel.phone}}</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p
                            class="booking-item-header-price"><small></small>
                            <span class="text-lg">{%if hotel.asem == 1%}${%endif%} {{hotel.min_rate |number_format}}{%if hotel.asem == 0%}₮{%endif%}</span>/ эхлэх үнэ</p>
                        </div>
                    </div>
            </header>
            <div class="row">
                <div class="col-md-6">
                    <div class="tabbable booking-details-tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#tab-1"
                                data-toggle="tab"><i class="fa fa-camera"></i>Зураг</a>
                            </li>

                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-1">
                                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                    {% for image in hotel.images %}
                                    <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars" style="margin-right: 3px;">
                                    <img class="rating_image" src="">
                                </ul>
                                <span class="booking-item-rating-number"><b class="tr_reviews"></b> of 5 
                                    <small class="text-smaller">guest rating</small>
                                </span>
                            </div>
                            <p style="text-align: justify;">{{hotel.long_desc}}
                            </p>
                        </div>
                        <div class="gap gap-small"></div>
                        <div id="map-canvas1" style="height:200px; margin-left:10px"></div>
                        <!-- <div class="col-md-12 active" id="google-map-tab">
                                    <div id="map-canvas" style="width:100%; height:140px;"></div>
                                </div>-->
                    </div>  
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <h3>Өрөөнүүд</h3>
        <div class="row">
            <div class="col-md-9">
                <div class="booking-item-dates-change">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-daterange" data-date-format="MM d, D">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Ирэх</label>
                                                <input class="form-control"  type="text" id="start" data-date-format="yyyy-mm-dd" value="{{start}}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Буцах</label>
                                                <input class="form-control"  type="text" id="end" data-date-format="yyyy-mm-dd" value="{{end}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Том хүн</label>
                                    <select class="form-control " id="adult">
                                        <option selected="selected">{{guests}}</option>
                                        <option >1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Хүүхэд</label>
                                    <select class="form-control" id="kids">
                                        <option selected="selected">0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>&nbsp;</label>
                                    <a class="btn btn-primary btn-md" id="search_a" >Хайх</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="gap gap-small"></div>
                <ul id="rooms" class="booking-list">
                    {% for room in rooms %}
                    <li>
                    <div name="order" class="booking-item" id="{{room.objectId}}">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                    {% for image in room.images %}
                                    <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="booking-item-title">{{room.room_type}}</h4>
                                <h5 class="booking-item-title">{{room.name}}</h5>
                                <p class="text-small">{{room.short_desc}}</p>
                                <ul class="booking-item-features booking-item-features-sign clearfix">
                                    <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x {{room.adult_occupancy}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Children Occupancy"><i class="fa fa-child"></i><span class="booking-item-feature-sign">x {{room.child_occupancy}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Beds"><i class="fa fa-bed"></i><span class="booking-item-feature-sign">x {{room.num_beds}}</span>
                                    </li>
                                    <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="fa fa-expand"></i><span class="booking-item-feature-sign">{{room.roomt_size}} m2</span>
                                    </li>
                                </ul>
                                <ul class="booking-item-features booking-item-features-small clearfix">
                                    {% for fac in room.facilities %}
                                    <li rel="tooltip" data-placement="top" title="{{fac}}"><i class="im im-{{fac}}"></i>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <p class="text-small">Өрөөний тоо сонгоно уу</p>
                                <div class="form-group form-group-select-plus">
                                    <span class="booking-item-price">{%if hotel.asem == 1%}${%endif%} {{room.night_price|number_format}}{%if hotel.asem == 0%}₮{%endif%}</span><span>/өдөр</span>
                                    <div class='flex select_room middle between'>
                                        <div rel="tooltip" class='tool' data-placement="top" title="Adults">
                                            <i class='fa fa-male'></i>
                                        </div>
                                        <select class="form-control form-group-select-plus" name="qty" room="{{room.room_type}}" price="{{room.night_price}}" roomid="{{room.objectId}}" persons="1" > 
                                            <option selected="selected">0</option>
                                            {% for i in range(1, room.num_rooms) %}
                                                <option value="{{i}}">{{i}} - {%if hotel.asem == 1%}${%endif%} {{i*room.night_price|number_format}}{%if hotel.asem == 0%}₮{%endif%}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% if room.adult_occupancy > 1 %}
                                    {% if room.night_price2 > 0 %}
                                    {% if room.night_price2 != room.night_price %}
                                    <span class="booking-item-price">{%if hotel.asem == 1%}${%endif%} {{room.night_price2 |number_format}}{%if hotel.asem == 0%}₮{%endif%}</span><span>/өдөр</span>
                                    <div class='flex select_room between middle mrgn5'>
                                        <div rel="tooltip" class='tool' data-placement="top" title="Adults">
                                            <i class='fa fa-male'></i><i class='fa fa-male'></i>
                                        </div>
                                        <select class="form-control form-group-select-plus" name="qty" room="{{room.room_type}}" price="{{room.night_price2}}" roomid="{{room.objectId}}--2" persons="2" > 
                                            <option selected="selected">0</option>
                                            {% for i in range(1, room.num_rooms) %}
                                                <option value="{{i}}">{{i}} - {%if hotel.asem == 1%}${%endif%} {{i*room.night_price2|number_format}}{%if hotel.asem == 0%}₮{%endif%}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                <div id="rating_div" class="row">
                    <div class="col-md-6">
                        <h4 class="lh1em">Summary</h4>
                        <ul class="list booking-item-raiting-summary-list">
                            <li>
                            <div class="booking-item-raiting-list-title">Sleep</div>
                            <ul id="rt_sleep" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Location</div>
                            <ul id="rt_location" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Service</div>
                            <ul id="rt_service" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Clearness</div>
                            <ul id="rt_clearness" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Rooms</div>
                            <ul id="rt_rooms" class="icon-group booking-item-rating-stars">
                            </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4 class="lh1em">Traveler raiting</h4>
                        <ul class="list booking-item-raiting-list">
                            <li>
                            <div class="booking-item-raiting-list-title">Exellent</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_ex_w"style="width:0%;"></div>
                            </div>
                            <div id="raiting_ex" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Very Good</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_vg_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_vg" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Average</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_ar_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_ar" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Poor</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_pr_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_pr" class="booking-item-raiting-list-number">0</div>
                            </li>
                            <li>
                            <div class="booking-item-raiting-list-title">Terrible</div>
                            <div class="booking-item-raiting-list-bar">
                                <div id="raiting_tr_w" style="width:0%;"></div>
                            </div>
                            <div id="raiting_tr" class="booking-item-raiting-list-number">0</div>
                            </li>
                        </ul>
                    </div>
                    <a class="popup-text btn btn-primary"style="margin: 10px 0
                        30px;" href="#review-dialog" data-effect="mfp-zoom-out">Write a Reviews</a>
                </div>
                <h3 class="mb20">Hotel Reviews</h3>
                <ul id="reviewslist" class="booking-item-reviews list">
                </ul>
            </div>
            <div class="col-md-3">
                <div id="payment_info" class="booking-item-payment" style="display:none">
                    <ul class="booking-item-payment-details" style="width:100%">
                        <li>
                        <h5>Байрлах хоног: <span id="days"><span></h5>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day" id="checkin">2016-07-11</p>
                                </div><i class="fa fa-arrow-right booking-item-payment-date-separator"></i>
                                <div class="booking-item-payment-date">
                                    <p class="booking-item-payment-date-day" id="checkout">2016-07-11</p>
                                </div>
                                </li>
                                <li>
                                <h5>Өрөөнүүд</h5>

                                <span id="payment_rooms">

                                </span>

                                <ul class="booking-item-payment-price">
                                    <li>
                                    <p class="booking-item-payment-price-title">НӨАТ</p>
                                    <p class="booking-item-payment-price-amount">(Багтсан)<small>/хоногийн</small>
                                    </p>
                                    </li>
                                </ul>
                                <br />
                                <h5>Онгоцны буудлаас тосох</h5>
                                <div>
                                    <div class="checkbox checkbox-small checkbox-border">
                                        <label><input class="i-check" type="checkbox" name="pickup" value="vip"/>SIXT <span><small> {%if hotel.asem == 1%}$150{%endif%} {%if hotel.asem == 0%}40,000₮{%endif%}</small></span></label>
                                    </div>
                                    <div class="checkbox checkbox-small checkbox-border">
                                        <label><input class="i-check" type="checkbox" name="pickup" value="budget"/>Энгийн
                                        <span><small>{%if hotel.asem == 1%}$25{%endif%} {%if hotel.asem == 0%}50,000₮{%endif%}</small></span></label>
                                    </div>
                                </div>
                                <p class="booking-item-payment-total">Нийт дүн: <span id="total"> 4232</span>
                                </p>
                                <span name="ordernow" class="btn btn-primary ajax-full-width" id="{{room.objectId}}" style="width:100%">Захиалах</span>
                            </div>
                            <br>
                            <h4>Зочид буудлын онцлог</h4>
                            <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                <li><i class="im im-wi-fi"></i><span class="booking-item-feature-title">Утасгүй интернет</span>
                                </li>
                                <li><i class="im im-parking"></i><span class="booking-item-feature-title">Автомашины зогсоол</span>
                                </li>
                                <li><i class="im im-bus"></i><span class="booking-item-feature-title">Тусгай үйлчилгээ</span>
                                </li>
                                <li><i class="im im-fitness"></i><span class="booking-item-feature-title">Бялдаржуулах төв</span>
                                </li>
                                <li><i class="im im-pool"></i><span class="booking-item-feature-title">Бассейн</span>
                                </li>
                                <li><i class="im im-spa"></i><span class="booking-item-feature-title">Саун</span>
                                </li>
                                <li><i class="im im-business-person"></i><span class="booking-item-feature-title">Уулзалтын өрөө</span>
                                </li>
                                <li><i class="im im-children"></i><span class="booking-item-feature-title">Хүүхдүүдийн өрөө</span>
                                </li>
                            </ul>

                        </div>
                    </div>           
                </div>
                <div class="gap gap-small"></div>
            </div>
        </div>
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="review-dialog">
        <iframe id="write_review" src="https://ihotel.mn" style="width:100%; height: 500px;" frameborder="0">
        </iframe>
    </div>
{% endblock %}
{% block scripting %}
    {{parent()}}
    <script type="text/javascript" src="js/detail/detail.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).on("ifChanged",'input[name=pickup]', function( event ) {
            var s = 0;
            var checkedValues1 = $(' input[name="pickup"]:checkbox:checked').map(function() {return this.value;}).get();
            if(checkedValues1.length ==0){
                $("#total").text(total+" ₮");
            } 
            var thisId = this;
            $('input[name="pickup"]').each(function(){
                if(this == thisId){
                    if ($(this).is(":checked")) {
                        {%if hotel.asem == 1%}
                        $(this).val() == "budget" ? s=total+25 : s=total+200;
                        $("#total").text(s+"$");
                        {%else%}
                        $(this).val() == "budget" ? s=total+50000 : s=total+200000;
                        $("#total").text(s+"₮");
                        {%endif%}

                    }
                }
                else{
                    $(this).attr("checked", false);
                    $(this).parent().attr("class", "i-check");
                }
            });
        });
        var map = new google.maps.Map(document.getElementById('map-canvas1'), {
            zoom: 16,
            center: new google.maps.LatLng({{hotel.geolocation.latitude}}, {{hotel.geolocation.longitude}}),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var marker;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map-canvas1'), {
                zoom: 16,
                center: new google.maps.LatLng({{hotel.geolocation.latitude}}, {{hotel.geolocation.longitude}}),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            marker = new google.maps.Marker({
                position: {lat: {{hotel.geolocation.latitude}}, lng: {{hotel.geolocation.longitude}}},
                   map: map,
            });
        }
    </script>
{% endblock %}
