{% extends "base.html" %}
{% block content %}
    <input type="hidden" value="{{start}}" id="start_3" />
    <input type="hidden" value="{{end}}" id="end_3"/>
    <input type="hidden" value="{{num_person}}" id="persons_3"/>
    <input type="hidden" value="{{location}}" id="location_3"/>
    <input type="hidden" value="{{hotel.objectId}}" id="hotel_3"/>
    <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.php">Нүүр</a>
                </li>
                <li><a href="index.php?city={{location}}">{{location}}</a>
                </li>
                <li class="active">{{hotel.name}}</li>
            </ul>
            <div class="booking-item-details">
                <header class="booking-item-header">
                    <div class="row" style="padding:10px">
                        <div class="col-md-9" >
                            <h2 class="lh1em">{{hotel.name}}</h2>
                            <p class="lh1em text-small"><i class="fa fa-map-marker"></i>  {{hotel.address}}</p>
                            <ul class="list list-inline text-small">
                                <li><a href="#"><i class="fa fa-envelope"></i> {{hotel.email}}</a>
                                </li>
                                <li><a href="#"><i class="fa fa-home"></i> {{hotel.website}}</a>
                                </li>
                                <li><i class="fa fa-phone"></i> {{hotel.phone}}</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <p class="booking-item-header-price"><small></small>  <span class="text-lg">US$ {{hotel.average_rate}}</span>/өдөр</p>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="tabbable booking-details-tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-camera"></i>Images</a>
                                </li>

                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                        {% for image in hotel.images %}
                                        <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                        {% endfor %}
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="booking-item-meta">
                            <h2 class="lh1em mt40"></h2>
                            <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars">
                                    {% for room in rooms %}
                                        <li><i class="fa fa-star"></i></li>   
                                    {% endfor %}
                                </ul><span class="booking-item-rating-number"><b >4.7</b> of 5 <small class="text-smaller">сэтгэгдэлтэй</small></span>
                                <p><a class="text-default" href="#"> 1535 захиалга бүртгэгдсэн байна. </a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="text-align: justify;">{{hotel.long_desc}}
                                </p>
                            </div>
                            <div class="gap gap-small"></div>
                           <!-- <div class="col-md-12 active" id="google-map-tab">
                                <div id="map-canvas" style="width:100%; height:140px;"></div>
                            </div>-->
                        </div>  
                    </div>
                </div>
                </div>
                <div class="gap"></div>
                <h3>Өрөөний сонголт</h3>
                <div class="row">
                    <div class="col-md-9">
                        <div class="booking-item-dates-change">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-daterange" data-date-format="MM d, D">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                        <label>Ирэх</label>
                                                        <input class="form-control"  type="text" id="start" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                        <label>Гарах</label>
                                                        <input class="form-control"  type="text" id="end"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-group-select-plus">
                                            <label>Том хүн</label>
                                            <select class="form-control " id="num_people">
                                                <option selected="selected">1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-group-select-plus">
                                            <label>Хүүхэд</label>

                                            <select class="form-control">
                                                <option selected="selected">0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-group-select-plus">
                                            <label>&nbsp;</label>
                                            <a class="btn btn-primary btn-md" id="search_a" >Хайх</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="gap gap-small"></div>
                        <ul id="rooms" class="booking-list">
                            {% for room in rooms %}
                            <li>
                                <a name="order" class="booking-item" id="{{room.objectId}}">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                                {% for image in room.images %}
                                                    <img src="{{image}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />  
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="booking-item-title">{{room.name}}</h5>
                                            <p class="text-small">{{room.short_desc}}</p>
                                            <ul class="booking-item-features booking-item-features-sign clearfix">
                                                <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x {{room.adult_occupancy}}</span>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Children Occupancy"><i class="fa fa-child"></i><span class="booking-item-feature-sign">x {{room.child_occupancy}}</span>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Beds"><i class="fa fa-bed"></i><span class="booking-item-feature-sign">x {{room.num_beds}}</span>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="fa fa-expand"></i><span class="booking-item-feature-sign">{{room.roomt_size}} m2</span>
                                                </li>
                                            </ul>
                                            <ul class="booking-item-features booking-item-features-small clearfix">
                                                <li rel="tooltip" data-placement="top" title="Air Conditioning"><i class="im im-air"></i>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Flat Screen TV"><i class="fa fa-television"></i>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Mini Bar"><i class="im im-bar"></i>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Bathtub"><i class="im im-bathtub"></i>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Kitchen"><i class="im im-kitchen"></i>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Patio"><i class="im im-patio"></i>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Washing Machine"><i class="im im-washing-machine"></i>
                                                </li>
                                                <li rel="tooltip" data-placement="top" title="Pool"><i class="im im-pool"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3"><span class="booking-item-price">${{room.night_price}}</span><span>/өдөр</span>
                                            <span name="order" class="btn btn-primary" id="{{room.objectId}}">Захиалах</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Буудалын давуу талууд</h4>
                        <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                            <li><i class="im im-wi-fi"></i><span class="booking-item-feature-title">Wi-Fi Интернет</span>
                            </li>
                            <li><i class="im im-parking"></i><span class="booking-item-feature-title">Зогсоол</span>
                            </li>
                            <li><i class="im im-bus"></i><span class="booking-item-feature-title">Тосох үйлчилгээ</span>
                            </li>
                            <li><i class="im im-fitness"></i><span class="booking-item-feature-title">Финтнес</span>
                            </li>
                            <li><i class="im im-pool"></i><span class="booking-item-feature-title">Усан сан</span>
                            </li>
                            <li><i class="im im-spa"></i><span class="booking-item-feature-title">Саун</span>
                            </li>
                            <li><i class="im im-restaurant"></i><span class="booking-item-feature-title">Зоогийн газар</span>
                            </li>

                            <li><i class="im im-business-person"></i><span class="booking-item-feature-title">Бизнес төв</span>
                            </li>
                            <li><i class="im im-children"></i><span class="booking-item-feature-title">Хүүхдийн өрөө</span>
                            </li>
                        </ul>
                    </div>
                </div>           
            </div>
            <div class="gap gap-small"></div>
        </div>
{% endblock %}
{% block scripting %}
    {{parent()}}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var start =$("#start_3").val();
            var end =$("#end_3").val();
            var formattedDate = new Date(start);
            var formattedDate1 = new Date(end);

            $("#start").datepicker({"autoclose": true}).on("change", function() {
                $("#end").focus();
            }).datepicker('setDate', formattedDate);
            $("#start").datepicker({ dateFormat: 'dd-mm-yy' });
            $("#end").datepicker({"autoclose": true}).on("change", function() {
                $("#num_people").focus();
            }).datepicker('setDate', formattedDate1).datepicker({ dateFormat: 'dd-mm-yy' });
            
            $("span[name=order]").click(function( event ) {
                var curId = $(this).attr('id');
                var start = $("#start_3").val();
                var end = $("#end_3").val();
                var location = $("#location_3").val();
                var hotel = $("#hotel_3").val();
                var country = $("#country").val();
                var url = "index.php?payment=" + curId +"&depart=" + start + "&end=" + end + "&location=" +location+"&hotel="+hotel; 
                window.location.replace(url);
            });
            $("a[name=order]").click(function( event ) {
                var curId = $(this).attr('id');
                var start = $("#start_3").val();
                var end = $("#end_3").val();
                var location = $("#location_3").val();
                var hotel = $("#hotel_3").val();
                var country = $("#country").val();
                var url = "index.php?payment=" + curId +"&depart=" + start + "&end=" + end + "&location=" +location+"&hotel="+hotel; 
                window.location.replace(url);
            });
        }); 
    </script>
{% endblock %}



