{% extends "base.html" %}
{% block title %}Мэдээ{% endblock %}
{% block content %}
        <div class="container">
            <h1 class="page-title">Асуулт, хариулт</h1>
        </div>

       <div class="container">
            <dl>
                <dt><i class='fa fa-plus-square'></i>What's the difference between 32-bit and 64-bit versions of Windows</dt>
                <dd>The terms 32-bit and 64-bit refer to the way a computer's processor (also called a CPU) handles information. The 64-bit version of Windows handles large amounts of random access memory (RAM) more effectively than a 32-bit system. Not all devices can run the 64-bit versions of Windows.</dd>
                 <dt><i class='fa fa-plus-square'></i>What's the difference between 32-bit and 64-bit versions of Windows</dt>
                <dd>The terms 32-bit and 64-bit refer to the way a computer's processor (also called a CPU) handles information. The 64-bit version of Windows handles large amounts of random access memory (RAM) more effectively than a 32-bit system. Not all devices can run the 64-bit versions of Windows.</dd>
                 <dt><i class='fa fa-plus-square'></i>What's the difference between 32-bit and 64-bit versions of Windows</dt>
                <dd>The terms 32-bit and 64-bit refer to the way a computer's processor (also called a CPU) handles information. The 64-bit version of Windows handles large amounts of random access memory (RAM) more effectively than a 32-bit system. Not all devices can run the 64-bit versions of Windows.</dd>
                 <dt><i class='fa fa-plus-square'></i>What's the difference between 32-bit and 64-bit versions of Windows</dt>
                <dd>The terms 32-bit and 64-bit refer to the way a computer's processor (also called a CPU) handles information. The 64-bit version of Windows handles large amounts of random access memory (RAM) more effectively than a 32-bit system. Not all devices can run the 64-bit versions of Windows.</dd>
                 <dt><i class='fa fa-plus-square'></i>What's the difference between 32-bit and 64-bit versions of Windows</dt>
                <dd>The terms 32-bit and 64-bit refer to the way a computer's processor (also called a CPU) handles information. The 64-bit version of Windows handles large amounts of random access memory (RAM) more effectively than a 32-bit system. Not all devices can run the 64-bit versions of Windows.</dd>
            </dl>
        </div>
        <div class='container'>
            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">Malesuada vivamus fermentum</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-1" style="height: 0px;">
                                        <div class="panel-body">Condimentum elit sociis fringilla nascetur aliquet interdum taciti lacus tortor lacus natoque per justo nullam sed quam porta donec integer orci fermentum tortor posuere sem in ullamcorper nascetur eget</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="">Dignissim dictum</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-2" style="height: auto;">
                                        <div class="panel-body">Hendrerit pulvinar facilisis semper dictum porttitor non inceptos curae maecenas consequat tristique erat phasellus montes phasellus vehicula id consectetur nec</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">Conubia nulla interdum aptent mi</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-3" style="height: 0px;">
                                        <div class="panel-body">Mollis urna lorem dapibus aliquet netus quam vel fusce tincidunt magnis non orci phasellus pharetra purus placerat fames quis libero phasellus non potenti felis gravida ut accumsan laoreet torquent</div>
                                    </div>
                                </div>
                            </div>
        </div>

        {% endblock %}
{% block scripting %}
{{parent()}}
<script>
$(function(){
$('dt').click(function(){

    $(this).next().slideToggle();
    
});
});
</script>
{% endblock %}
