{% extends "base.html" %}
{% block content %}
    <!-- TOP AREA -->
    <div class="top-area show-onload">
        <div class="bg-holder full">
            <div class="bg-front bg-front-mob-rel">
                <div class="container">
                    <div class="search-tabs search-tabs-bg search-tabs-abs mt50">
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <form>
                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                            <label>Очих газар</label>
                                            <!--<input class="typeahead form-control" name="location" value="Ulaanbaatar, UB, Mongolia" type="text" />-->
                                            <input class="form-control" id="location" name="location" value="Ulaanbaatar, Mongolia" type="text" />
                                        </div>
                                        <div class="input-daterange">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                        <label>Ирэх</label>
                                                        <input class="form-control" name="start" type="text" data-date-format="yyyy-mm-dd" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                        <label>Буцах</label>
                                                        <input class="form-control" name="end" type="text" data-date-format="yyyy-mm-dd" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                        <label>Өрөө</label>
                                                        <select class="form-control" name="persons">
                                                            <option selected="selected" >1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                            <option>14</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                        <label>Хүний тоо</label>
                                                        <select class="form-control" name="guests">
                                                            <option>1</option>
                                                            <option selected="selected">2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                            <option>14</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='flex end'>
                                            <button class="btn btn-primary btn-lg" type="submit" id='search'>Хайх</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider">
                <div class="bg-holder full">
                    <div class="bg-mask"></div>
                    <div class="bg-mask" style="background-image:url(img/slide1.png);"></div>
                    <div class="bg-content">
                        <div class="container" id='mn'>
                            <div class="loc-info text-right hidden-xs hidden-sm">
                                <h3 class="loc-info-title"><img src="img/flags/32/mn.png" alt="Image Alternative text" title="Image Title" /><span></span></h3>
                                <p class="loc-info-weather"><span class="loc-info-weather-num"></span><img id='img'></p>
                                <ul class="loc-info-list">
                                    <li><a href='#' class='mnt'></a>
                                    </li>
                                    <li><a href='#' class="cny"></a>
                                    </li>
                                    <li><a href='#' class="eur"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-img hidden-lg" style="background-image:url(img/slide1.png);"></div>
            <div class="bg-mask hidden-lg"></div>
        </div>
    </div>
    <div class="container">
        <div class="gap gap-small"></div>
        <h3>ТОП ЧИГЛЭЛҮҮД</h3>
        <div class="row row-wrap">
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header">
                        <a class="hover-img curved" name="city" city="Ulaanbaatar">
                            <img src="img/ulaanbaatar.png" alt="Image Alternative text" title="196_365" />
                        </a>
                    </header>
                    <div class="thumb-caption">
                        <h4 class="thumb-title"><a class="text-darken" href="#">Улаанбаатар</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header">
                        <a class="hover-img curved" href="#" name="city" city="Darkhan">
                            <img src="img/erdenet.png" alt="Image Alternative text" title="El inevitable paso del tiempo" />
                        </a>
                    </header>
                    <div class="thumb-caption">
                        <h4 class="thumb-title"><a class="text-darken" href="#">Дархан</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumb">
                    <header class="thumb-header">
                        <a class="hover-img curved" href="#" name="city" city="Erdenet">
                            <img src="img/darkhan.png" alt="Image Alternative text" title="Upper Lake in New York Central Park" />
                        </a>
                    </header>
                    <div class="thumb-caption">
                        <h4 class="thumb-title"><a class="text-darken" href="#">Эрдэнэт</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <h3>ОНЦЛОХ БУУДЛУУД</h3>
        <div class="gap gap-small"></div>
        <div class="row">
            <div class="col-md-6">
                <ul class="booking-list">
                    {% for hotel in hotels %}
                    <a href="#" name="featured" hotelid="{{hotel.objectId}}">
                        <li>
                            <div class="booking-item booking-item-small">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="{{hotel.cover_image}}" alt="cover" title="hotel_cover" />
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="booking-item-title">{{hotel.name}}</h5>
                                        <ul class="icon-group booking-item-rating-stars">
                                            {% for i in range(1, hotel.stars) %}
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <p class="lh1em text-small" style="font-size:13px"><i class="fa fa-map-marker"></i>  {{hotel.address}}</p>
                                    </div>
                                    <div class="col-xs-2">
                                            <span class="booking-item-price-from">эхлэх үнэ</span>
                                            <br />
                                            <span class="booking-item-price">${{hotel.average_rate}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="booking-list">
                    {% for hotel2 in hotels2 %}
                    <a href="#" name="featured" hotelid="{{hotel2.objectId}}">
                        <li>
                            <div class="booking-item booking-item-small">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="{{hotel2.cover_image}}" alt="cover" title="hotel_cover" />
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="booking-item-title">{{hotel2.name}}</h5>
                                        <ul class="icon-group booking-item-rating-stars">
                                            {% for i in range(1, hotel2.stars) %}
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <p class="lh1em text-small" style="font-size:13px"><i class="fa fa-map-marker"></i>  {{hotel2.address}}</p>
                                    </div>
                                    <div class="col-xs-2"><span
                                            class="booking-item-price-from">эхлэх үнэ</span>
                                            <br />
                                            <span class="booking-item-price">${{hotel2.average_rate}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h3>ХАМТРАГЧ БАЙГУУЛЛАГУУД</h3>
        <div class="gap gap-small"></div>
        <div class='row flex middle center' id='partner'>
            <div class='col-md-offset-1 col-md-2 col-xs-6'>
                <a href='http://khurgultservice.mn/'><img src='img/part1.png'></a>
            </div>
            <div class='col-md-2 col-xs-6'>
                 <a href='https://www.sixt.com/'><img src='img/part2.png'></a>
            </div>
            <div class='col-md-2 col-xs-6'>
                 <a href='http://www.aseminfoboard.org/'><img src='img/part3.png'></a>
            </div>
            <div class='col-md-2 col-xs-6'>
                 <a href='https://www.jci.cc/'><img src='img/part4.png'></a>
            </div>
            <div class='col-md-2 col-xs-6'>
                <a href='http://www.chinggis-hotel.com/'><img src='img/part5.png'></a>
            </div>
            <div class='col-md-2 col-xs-6'>
                 <a href='http://alchemist.mn/'><img src='img/part6.png'></a>
            </div>
            <div class='col-md-2 col-xs-6'>
                 <a href='http://itpark.mn/'><img src='img/part7.png'></a>
            </div>
            <div class='col-md-2 col-xs-6'>
                 <a href='http://startupmongolia.com/'><img src='img/part8.png'></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripting %}
{{parent()}}
<script type="text/javascript">

    $(document).ready(function() {
        $('input.date-pick, .input-daterange, .date-pick-inline').datepicker({
            todayHighlight: true
        });

        $("a[name=featured]").on("click", function(event) {
            event.preventDefault();
            var curId = $(this).attr("hotelid");
            var url = "index.php?asemdetail=" + curId +"&depart=2016-06-01&end=2016-07-01&guests=1&rooms=1";
            window.location.replace(url);
        });
        $("a[name=city]").on("click", function(e) {
            e.preventDefault();
            var curId = $(this).attr("city");
            var url = "index.php?city=" + curId;
            window.location.replace(url);
        });

        $('input.date-pick, .input-daterange input[name="start"]').datepicker('setDate', 'today');
        $('.input-daterange input[name="end"]').datepicker('setDate', '+5d');

        $('input.time-pick').timepicker({
            minuteStep: 15,
            showInpunts: false
        })

        $('input.date-pick-years').datepicker({
            startView: 2
        });
    });
    $("#location").geocomplete();
    $.ajax({
        url:"https://api.apixu.com/v1/current.json?key=7e5bc4b7f5f54b7598144108160103&q=Ulaanbaatar",
        dataType:"json",
        success: function(data){
            if(data.current.temp_c > 0){
                var temp = '+'+data.current.temp_c;
            }else{
                var temp = data.current.temp_c
            }
            $('#mn h3 span').text(data.location.name);
            $('#mn .loc-info-weather-num').text(temp+'°C');
            var img = data.current.condition.icon;
            $('#img').load().attr('src', img);
        }
    });
    $.ajax({
        url:"http://apilayer.net/api/live?access_key=5463c8433389385312baf041c269be12&currencies=MNT,CNY,EUR&format=1",
        dataType:"json",
        success: function(data){
            var mnt = data.quotes.USDMNT.toFixed(2);
            var cny = data.quotes.USDCNY.toFixed(2);
            var eur = data.quotes.USDEUR.toFixed(2);

            $('.mnt').text(mnt+' ₮ | $');
            $('.cny').text(cny+' ¥ | $');
            $('.eur').text(eur+' € | $');
        }
    });
</script>
{% endblock %}
