{% extends "base.html" %}
{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Нүүр</a></li>
            <li class="active">{{location}}</li>
        </ul>
        <div style="height:20px"></div>
        <input type="hidden" id="location_1" value="{{location}}"/>
        <input type="hidden" id="country" value="{{country}}"/>
        <input type="hidden" id="start_1" value="{{start}}"/>
        <input type="hidden" id="end_1" value="{{end}}"/>
        <input type="hidden" id="num_person_1" value="{{num_person}}"/>
        <form class="booking-item-dates-change mb40">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                        <label>Зорчих газар</label>
                        <input class="form-control" id="location" name='location' value="{{location}}" type="text" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-daterange">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                    <label>Ирэх</label>
                                    <input class="form-control" id="start" name="start" type="text" data-date-format="yyyy-mm-dd"  {%if start %} value="{{start}}" {%else %} value="2016-06-01" {%endif%}  />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                    <label>Гарах</label>
                                    <input class="form-control" id="end" name="end" type="text" data-date-format="yyyy-mm-dd" {%if end %} value="{{end}}" {%else %} value="2016-07-01" {%endif%} />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group- form-group-select-plus">
                                <label>Зочид</label>
                                <select id="persons" class="form-control" name="persons">
                                    <option  selected="selected" >{{persons}}</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-select-plus">
                                <label>Өрөө</label>
                                <select id="guests" class="form-control" name="guests">
                                    <option selected="selected" >{{guests}}</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="btn btn-primary" type="submit">Хайх</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-3">
                <aside class="booking-filters booking-filters-white">
                    <h3>Шүүлт</h3>
                    <div class='input-ajax'>
                        <input id="tags" class="form-control" placeholder="Буудлын нэр ..." type="text" style="margin:10px; width:92%" />
                    </div>
                    <ul class="list booking-filters-list">  
                        <li>
                        <h5 class="booking-filters-title"></h5>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" id="asem_box" name="asem_box" value="5"/>ASEM MONGOLIA 2016 
                        </div>
                        <h5 class="booking-filters-title"></h5>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" id="tour_box" name="tour_box" value="5"/>Амралтын газрууд 
                        </div>
                        </li>
                        <li id="price_filter">
                        <h5 class="booking-filters-title">Үнэ</h5>
                        <input type="text" id="price-slider">
                        </li>
                        <li id="stars_filter">
                        <h5 class="booking-filters-title">Од</h5>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="5"/>5 одтой
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="4" />4 одтой 
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox"name="stars" value="3"/>3 одтой
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="2"/>2 одтой
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="stars" value="1"/>1 одтой
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox"  name="stars" value="0"/>Одгүй
                        </div>
                        </li>
                        <li>
                        <h5 class="booking-filters-title">Нэмэлт</h5>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="wifi" />Утасгүй интернет
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="parking" />Зогсоол
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="pool" />Бассейн
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="saun" />Саун
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox"  name="others" value="famroom"/>Гэр бүлийн өрөө
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="others" value="rest" />Баар
                        </div>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="food_drink" value="restraurant" />Ресторант
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="food_drink" value="room_service" /> Өрөөний үйлчилгээ
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="pool_spa" value="fitness_center" />Бялдаржуулах төв
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="pool_spa" value="spa" />СПА
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="transport" value="car_rentral" />Машин түрээс
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="transport" value="airport_shuttle_free" />Airport Shuttle (free)
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="transport" value="airport_shuttle_surcharge" />Airport Shuttle (surchange)
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="entertainment" value="baby_sitting_child_services" />Baby sitting
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="entertainment" value="playground" /> Тоглоомын талбай
                        </div>
                        </li>
                        <li>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="miscellaneous" value="elevator" /> Цахилгаан шат
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="miscellaneous" value="non_smoking_rooms" />Non-smoking Rooms
                        </div>
                        <div class="checkbox">
                            <input class="i-check" type="checkbox" name="miscellaneous" value="soundproof_rooms" /> Дуу тусгаарлагчтай өрөө
                        </div>
                        </li>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="nav-drop booking-sort small-top">
                    <h5 class="booking-sort-title"><a href="#">Эрэмбэлэх:<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                    <ul id="sorting" class="nav-drop-menu">
                        <li id="pricedown"><a href="#" name="sort" sort="priceup">Үнэ (ихээс бага руу)</a>
                        </li>
                        <li id="priceup"><a href="#" name="sort" sort="pricedown">Үнэ (багаас их рүү)</a>
                        </li>
                        <li id="starup"><a href="#" name="sort" sort="starup">Одоор (ихээс бага руу )</a>
                        </li>
                        <li id="stardown"><a href="#" name="sort" sort="stardown">Одоор (багаас их рүү)</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-drop booking-sort small-top" style="float:right;">
                    <h5 id="hotel_list"><a href="#" title="Жагсаалт"><i class="fa fa-list"></i>Жагсаалт</a></h5>
                    <h5 id="hotel_map"><a href="#" title="Газрын зураг"><i class="fa fa-map-marker"></i>Газрын зураг</a></h5>
                </div>
                <div id="maps_hotel" style="display: none;">
                </div>
                <ul class="booking-list" id="hotels">
                    {% for res in results %}
                    <li>
                    {% if res.sold_out %}
                    <a class="booking-item" id="{{res.objectId}}" asem="0" title="{{res.name}}">
                        {% else %}
                        <a class="booking-item" id="{{res.objectId}}" asem="0" title="{{res.name}}"href="#" name="detail">
                            {% endif %}

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="booking-item-img-wrap">
                                        <img src="{{res.cover_image}}" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                        <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>{{res.images|length}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class='flex'>
                                        <div>
                                            <h5 class="booking-item-title">{{res.name}}</h5>
                                        </div>
                                        <div>
                                            <div class="booking-item-rating mrg-left">
                                                <ul class="icon-group booking-item-rating-stars">
                                                    {% for i in range(1, res.stars) %}
                                                    <li><i class="fa fa-star"></i></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <small class="booking-item-address"><i class="fa fa-map-marker"></i> {{res.address}}</small><br><br><small class="booking-item-address">{{res.short_desc}}</small>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price-from small-hidden" style="margin-bottom:8px"> эхлэх үнэ</span><span
                                        class="booking-item-price">{{res.min_rate | number_format }}{%if res.asem == 1%}${%else%}₮{%endif%}</span><span>/өдөр</span><span class="small-left btn btn-primary {% if res.sold_out %} sold {%endif%}" id="{{res.objectId}}">{%if res.sold_out%} Sold out {%else%} Өрөө сонгох {%endif%}</span>
                                </div>
                            </div>
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="loadmoreajaxloader" style="display:none;"><center><img style="width: 20px;" src="img/ajax-loader.gif" /></center></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
{% block scripting %}
    {{parent()}}
    <script type="text/javascript" src="js/infobubble.js" charset="utf-8"></script>
    <script type="text/javascript">
    var checkedValues1; var checkedValues2; var checkedValues3; var checkedValues4; var checkedValues5; var checkedValues6; var checkedValues7;var values1; 
    var values2; var values3; var values4; var values5; var values6; var values7; var keyup = false;var loadSkip = 0;var checkSkip = true;var asem = false;
    var soldClass = "";var innerHtml = "";var tour = false;var results = []; var min = {{min}};var max = {{ max }};
    {% for res in results %}
    {% if res.geolocation %}
    results.push({lat: {{res.geolocation.latitude}}, 
        lng: {{res.geolocation.longitude}}, id: '{{res.objectId}}', avg: '{{res.min_rate | number_format}}'});
    {% endif %}
    {% endfor %}
    </script>
    <script type="text/javascript" src="js/list/list.js" charset="utf-8"></script>
{% endblock %}
