<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="img/new/favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,100,100italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/new/semantic.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/new/daterangepicker.css" />
		<link rel="stylesheet" href="css/new/reset.css">
		<link rel="stylesheet" href="css/new/style.css">
		<link rel="stylesheet" href="css/new/responsive.css">
		<script type="text/javascript" src="js/new/jquery-2.1.4.min.js"></script>
		<script src="js/new/semantic.min.js"></script>
		<script type="text/javascript" src="js/new/moment.js"></script>
		<script type="text/javascript" src="js/new/daterangepicker.js"></script>
		<link rel="stylesheet" href="css/new/flexslider.css" type="text/css" media="screen" />
		<title>{{title}}</title>
	</head>
	<body>
		
		<header>
			<div class="ui container">
				<div class="cd-logo"><a href="#0"><img src="img/new/logo-white.png" alt="Logo"></a></div>
				<div class="important-word"><i class="spinner loading icon"></i>Эд хөрөнгийг бус дурсамжийг цуглуул</div>
				
				<div class="dollar-exchange">
					<div class="ui dropdown dollar-exch">
						MNT
						<div class="menu">
							
							<div class="item exchange">USA $</div>
							<div class="item exchange">GBP £</div>
							<div class="item exchange">JPN ¥</div>
							<div class="item exchange">AUD $</div>
							<div class="item exchange">CHN </div>
							
						</div>
					</div>
				</div>
				<nav class="main-nav cd-main-nav-wrapper">
					<ul class="cd-main-nav">
						<li><a class="cd-signin" href="#0"><i class="user icon"></i>Нэвтрэх</a></li>
						<!--<li><a class="cd-signup" href="#0">Бүртгүүлэх</a></li>-->
						<li>
							<a href="#0" class="cd-subnav-trigger"><span>Булан</span></a>
							<ul>
								<li class="go-back"><a href="#0">Буцах</a></li>
								<li><a href="#0">Улс орнууд</a></li>
								<li><a href="#0">Аялах сэдэл</a></li>
								<li><a href="#0">Түгээмэл асуултууд</a></li>
								<li><a href="#0">Үйлчилгээний нөхцөл</a></li>
								<li><a href="#0" class="placeholder">Placeholder</a></li>
							</ul>
						</li>
						<li class="lang-switcher"><a href="#"><img src="img/new/eng.png"></a></li>
					</ul>
				</nav>
				<a href="#0" class="cd-nav-trigger"><span></span></a>
			</div>
		</header>
		<main class="cd-main-content"></main>
		
		
		<div class="home-banner">
			<ul class="rslides">
				<li><img src="img/new/banner1.jpg" alt=""></li>
				<li><img src="img/new/banner2.jpg" alt=""></li>
				<li><img src="img/new/banner3.jpg" alt=""></li>
			</ul>
		</div>
		
		<div id="main-search">
			<div class="ui stackable container">
				
				<div id="context2">
					<div class="ui stackable secondary menu">
						
						<a class="item active" data-tab="hotel"><i class="hotel icon"></i>Зочид буудал</a>
						
						<!-- <a class="item" data-tab="tour" class="hotel-tab"><i class="globe icon"></i>Aялал</a> -->
						<a href="https://www.sixt.com/php/reservation" target="_blance" class="item"><i class="car icon"></i>Машин түрээс</a>
						<a href="blog.html" class="item tab-travel"><i class="plane icon"></i>Аялах сэдэл</a>
						<!-- <a class="item" data-tab="travel" class="hotel-tab"><i class="map icon"></i>Аялах сэдэл</a>  -->
					</div>
					<div class="ui active tab segment" data-tab="hotel">
						
						
						<div class="ui grid stackable search-form">
							<div class="four wide column">
								<div class="local example">
									<div class="ui search">
										<div class="ui fluid left icon input">
											<input class="prompt" type="text" placeholder="Очих газар...">
											<i class="marker icon"></i>
										</div>
										<div class="results"></div>
									</div>
								</div>
								
							</div>
							<div class="four wide column">
								<div class="ui page stackable">
									
									
									
									<form class="ui form">
										<div class="ui fluid left icon input">
											<input type="text" name="reservation"
											id="reservation" placeholder="mm/dd/yyyy - mm/dd/yyyy"
											value=""/>
											<i class="calendar icon"></i>
										</div>
									</form>
									
									
									
									
								</div>
							</div>
							<div class="three wide column select-room">
								<select class="ui fluid search dropdown">
									<option value="">Өрөө</option>
									<option value="1">1 өрөө</option>
									<option value="2">2 өрөө</option>
									<option value="3">3 өрөө</option>
									<option value="4">4 өрөө</option>
									<option value="5">5 өрөө</option>
									<option value="6">6 өрөө</option>
									<option value="7">7 өрөө</option>
									<option value="8">8 өрөө</option>
									<option value="9">9 өрөө</option>
									<option value="10">10 өрөө</option>
									<option value="11">11 өрөө</option>
									<option value="12">12 өрөө</option>
									<option value="13">13 өрөө</option>
									<option value="14">14 өрөө</option>
								</select>
							</div>
							<div class="three wide column select-room">
								<select class="ui fluid search dropdown">
									<option value="">Хүний тоо</option>
									<option value="1">1 хүн</option>
									<option value="2">2 хүн</option>
									<option value="3">3 хүн</option>
									<option value="4">4 хүн</option>
									<option value="5">5 хүн</option>
									<option value="6">6 хүн</option>
									<option value="7">7 хүн</option>
									<option value="8">8 хүн</option>
									<option value="9">9 хүн</option>
									<option value="10">10 хүн</option>
									<option value="11">11 хүн</option>
									<option value="12">12 хүн</option>
									<option value="13">13 хүн</option>
									<option value="14">14 хүн</option>
								</select>
							</div>
							<div class="two wide search-btn column">
								<div class="fluid ui red button">
									хайх
								</div>
								
							</div>
						</div>
						
					</div>
					<!-- <div class="ui tab segment" data-tab="tour">
							TRAVEL
					</div> -->
					<div class="ui tab segment" data-tab="fly">
						FLY
					</div>
					<div class="ui tab segment" data-tab="travel">
						aylah sedel
					</div>
				</div>
			</div>
		</div>
		
		<section class="cd-hero">
			<ul class="cd-hero-slider autoplay">
				<li class="selected">
					<div class="cd-full-width">
						<h2>Илүү хялбар бас найдвартай</h2>
						<p>Бид үйлчлүүлэгчдийн <strong>туршлага</strong> дээр үндэслэн таны хэрэгцээнд төгс зохицох зочид буудлыг дэлхийн <strong>сая</strong> гаруй зочид буудлаас шүүж танд санал болгоно. Та эх хэл дээрээ сонголтоо хийж, аяллын зөвөлгөөг авсанаар учирч болох олон <strong>эрсдлээс</strong> сэргийлэх боломжтой.</p>
						
					</div>
				</li>
				<li>
					<div class="cd-full-width">
						<h2>Мэргэжлийн баг таны өмнөөс сонгож өгнө</h2>
						<p><strong>3 жилийн</strong> туршлагатай зөвлөх баг тантай буудлаа захиалахаас эхлээд буудалаасаа гарах хүртэл хамт байх болно. Таны <strong>цаг</strong> болон энергийг хэмнэнэ. Бид тухайн зочид буудлаас гэрээний дагуу хувь авах замаар орлого олдог учраас танаас ямар нэгэн <strong>нэмэлт төлбөр шимтгэл авахгүй,</strong> үнэ төлбөргүй үйлчилгээ юм. </p>
					</div>
					
				</li>
				<li>
					
					<div class="cd-full-width">
						<h2>Нэмэлт  төлбөр, хураамжгүй</h2>
						<p>Бид тухайн зочид буудлаас гэрээний дагуу хувь авах замаар орлого олдог учраас танаас ямар нэгэн <strong>нэмэлт төлбөр шимтгэл авахгүй,</strong> үнэ төлбөргүй үйлчилгээ юм. </p>
					</div>
					
				</li>
				<li class="cd-bg-video">
					<div class="cd-full-width">
						<h2>Очихдоо төлбөрөө төл</h2>
						<p>Буудал захиалах үед танаас ямар нэгэн <strong>төлбөр хураамж, урьдчилгаа авахгүй,</strong> та буудлын төлбөрөө очихдоо ресепшн дээр төлөх боломжтой. </p>
						
					</div>
				</li>
				<li>
					<div class="cd-full-width">
						<h2>Хямдралтай буудлууд Өргөн сонголт</h2>
						<p><strong>Айхотел ХХК</strong> нь олон улсын зочид буудал захиалгын номер нэг вэб сайт болох <strong>booking.com</strong> сайтын албан ёсны түнш бөгөөд тус сайтын <strong>1 сая гаруй зочид буудлыг</strong> танд санал болгож байна.
						Таны хүссэн байрлалд, чанартай үйлчилгээтэй, тав тухтай буудлуудаас <strong>хямдрал зарласан буудлуудыг</strong> тухай бүр олж санал болгох боломжтой. </p>
					</div>
				</li>
			</ul>
			<div class="cd-slider-nav">
				<nav>
					<span class="cd-marker item-1"></span>
					
					<ul>
						<li class="selected"><a href="#0"><img src="img/new/13.png"><label>Хялбар найдвартай </label></a></li>
						<li><a href="#0"><img src="img/new/5.png"><label>Мэргэжлийн <br>баг</label></a></li>
						<li><a href="#0"><img src="img/new/3.png"><label>Нэмэлт төлбөргүй</label></a></li>
						<li><a href="#0"><img src="img/new/8.png"><label>Очоод <br>төл</label></a></li>
						<li><a href="#0"><img src="img/new/9.png"><label>Өргөн <br>сонголт</label></a></li>
					</ul>
				</nav>
			</div>
		</section>
		
		<div class="admin-login">
			<div class="ui container">
				<div class="page-title">
					<div id="ihotel" class="ui stackable container ">
						<div class="sixteen wide center aligned column">
							<h4 id="contact">Удирдлагын системд нэвтрэх</h4>
						</div>
					</div>
				</div>
				<div class="ui stackable grid">
					<div class="three column row">
						
						<div class="center aligned column">
							<div class="ui segment ">
								<div class="content">
									<img class="ui tiny centered image" src="img/new/14.png">
								</div>
								<div class="content">
									<h4 class="ui sub header">Буудал нэмэх</h4>
								</div>
								<div class="extra content">
									<button class="ui button">Нэвтрэх</button>
								</div>
							</div>
						</div>
						<div class="center aligned column">
							<div class="ui segment ">
								<div class="content">
									<img class="ui tiny centered image" src="img/new/room.png">
								</div>
								<div class="content">
									<h4 class="ui sub header">Өрөөний удирдлагын систем</h4>
								</div>
								<div class="extra content">
									<button class="ui button">Нэвтрэх</button>
								</div>
							</div>
						</div>
						<div class="center aligned column">
							<div class="ui segment ">
								<div class="content">
									<img class="ui tiny centered image" src="img/new/hotel.png">
								</div>
								<div class="content">
									<h4 class="ui sub header">Зочид буудалын систем</h4>
								</div>
								<div class="extra content">
									<button class="ui button">Нэвтрэх</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="special-content">
			<div class="ui container">
				<div class="ui stackable grid">
					<div class="three column row">
						<div class="column">
							<h4 class="ui centered header"><i class="ui map icon"></i>Аялах сэдэл</h4>
							<div class="ui raised link cards">
								<div class="card">
									<div class="blurring dimmable image">
										<div class="ui inverted dimmer">
											<div class="content">
												<div class="center">
													<div class="ui primary button">Дэлгэрэнгүй</div>
												</div>
											</div>
										</div>
										<img src="img/new/news.jpg">
									</div>
									<div class="content footer-news">
										<a class="header">Зочид буудлуудыг захиалгын нэгдсэн системд хамруулна</a>
										<div class="meta">
											<span class="date"><i class="ui calendar icon"></i>2016-11-11</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<h4 class="ui centered header"><i class="ui globe icon"></i>Улс орнууд</h4>
							<div class="ui raised link cards">
								<div class="card">
									<div class="blurring dimmable image">
										<div class="ui inverted dimmer">
											<div class="content">
												<div class="center">
													<div class="ui primary button">Дэлгэрэнгүй</div>
												</div>
											</div>
										</div>
										<img src="img/new/country.jpg">
									</div>
									<div class="content footer-news">
										<a class="header">Монгол улс</a>
										<div class="meta">
											<span class="date"><i class="ui calendar icon"></i>2016-11-11</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<h4 class="ui centered header"><i class="ui tags icon"></i>Хямдрал</h4>
							<div class="ui raised link cards">
								<div class="card">
									<div class="blurring dimmable image">
										<div class="ui inverted dimmer">
											<div class="content">
												<div class="center">
													<div class="ui primary button">Дэлгэрэнгүй</div>
												</div>
											</div>
										</div>
										<div class="ui fluid image">
											<div class="ui red right ribbon label">
												164,000₮
											</div>
											<img src="img/new/hotel.jpg">
										</div>
										
									</div>
									<div class="content footer-news">
										<a class="header">Хүннү зочид буудал <i class="ui star icon"></i><i class="ui star icon"></i><i class="ui star icon"></i></a>
										Сүхбаатар дүүрэг, 11-р хороо, Их тойруу-13, 100 айл
										<div class="meta">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="people-say">
			<div class="ui container">
				<div class="ui two column centered stackable grid">
					<div class="column">
						<section class="slider">
							<div class="flexslider">
								<ul class="slides">
									<li>
										
										<article>
											<div id="owl">
												<div class="column row">
													<div class="large-12 columns testimonial">
														<div class="quote">
															<p>
															Би хурдан шуурхай, найрсаг үйлчигээтэй Айхотел компаниар үйлчлүүлэх бүртээ сэтгэл хангалуун байдаг. Мэргэжлийн баг нэмэлт төлбөргүйгээр зочид буудлыг минь захиалж өгч, очих гэж буй орны талаар зөвлөмж өгдөг нь аюулгүй аялах итгэл төрүүлдэг</p>
														</div>
														<div class="student">
															<div class="photo round-image"><img class="ui medium circular image" src="img/new/people1.jpg"> </div>
															<p>Т. Батцэцэг</p>
															<p>Мисс</p>
														</div>
													</div>
												</div>
											</div>
										</article>
									</li>
									<li>
										<article>
											<div id="owl">
												<div class="column row">
													<div class="large-12 columns testimonial">
														<div class="quote">
															<p>Айхотел компани бол хөрөнгө оруулалт босгоод үйл ажиллагаагаа бодитой эрхлээд явж байгаа Монголын шилдэг технологийн гарааны бизнес компаниудын нэг яахын аргагүй мөн билээ.</p>
														</div>
														<div class="student">
															<div class="photo round-image"><img class="ui medium circular image" src="img/new/people3.jpg">  </div>
															<p>Д. Бат-октябрь</p>
															<p>Techstars компанийн Зүүн Өмнөд Ази хариуцсан захирал </p>
														</div>
													</div>
												</div>
											</div>
										</article>
									</li>
									<li>
										<article>
											<div id="owl">
												<div class="column row">
													<div class="large-12 columns testimonial">
														<div class="quote">
															<p>Гадаад хэргийн яам нь Айхотел компанитай хамтран Ази-Европын дээд хэмжээний 11-дэх уулзалтын зочид төлөөлөгчдийн зочид буудлын захиалгыг ажлыг амжилттай зохион байгуулсан . Хийж буй ажилдаа хариуцлагатай мэргэжлийн баг хамт олонтой ажиллах таатай байлаа.</p>
														</div>
														<div class="student">
															<div class="photo round-image"><img class="ui medium circular image" src="img/new/people2.jpg"> </div>
															<p>Don Know</p>
															<p>TECHSTARS КОМПАНИЙН ЗҮҮН ӨМНӨД АЗИ ХАРИУЦСАН ЗАХИРАЛ</p>
														</div>
													</div>
												</div>
											</div>
										</article>
									</li>
									
									
								</ul>
							</div>
							
						</section>
					</div>
				</div>
			</div>
		</div>
		
		<div class="ui inverted vertical footer segment">
			<div class="ui center aligned container">
				<div class="ui stackable divided grid">
					<div class="five wide column">
						<h4 class="ui inverted header">Үндсэн цэс</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Улс орнууд</a>
							<a href="#" class="item">Аялах сэдэл</a>
							<a href="#" class="item">Түгээмэл асуултууд</a>
							<a href="#" class="item">Үйлчилгээний нөхцөл</a>
						</div>
					</div>
					<div class="six wide column footer-menu">
						<h4 class="ui inverted header">Бидэнтэй хамтрах</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Буудал нэмэх</a>
							<a href="#" class="item">Өрөөний удирдлагын систем</a>
							<a href="#" class="item">Гэрээт борлуулагч</a>
							<a href="#" class="item">Групп захиалга</a>
						</div>
					</div>
					<div class="five wide column footer-menu">
						<h4 class="ui inverted header">Бидний тухай</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">iHotel гэж юу вэ?</a>
							<a href="#" class="item">Бидний давуу тал</a>
							<a href="#" class="item">Бид хэн бэ?</a>
							<a href="#" class="item">Холбоо барих</a>
						</div>
					</div>
				</div>
				<div class="ui divider"></div>
			</div>
			<div class="copyright">
				<div class="ui center aligned stackable container">
					<div class="ui stackable grid">
						<div class="three column row">
							<div class="column"></div>
							<div class="column"><h5>© copyright 2016 www.iHotel.mn - <a href="#">Айхотел ххк</a></h5></div>
							<div class="column">
								
								<ul class="social-link">
									<li><a><i class="icon facebook"></i></a></li>
									<li><a><i class="icon twitter"></i></a></li>
									<li><a><i class="icon google plus"></i></a></li>
									<li><a><i class="icon linkedin"></i></a></li>
									<li><a><i class="icon instagram"></i></a></li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- login heseg -->
		
		<div class="cd-user-modal">
			<div class="cd-user-modal-container">
				<ul class="cd-switcher">
					<li><a href="#0">Нэтврэх</a></li>
					<li><a href="#0">Бүртгүүлэх</a></li>
				</ul>
				<div id="cd-login">
					<form class="ui form">
						<div class="field">
							<input type="text" name="first-name" placeholder="Имэйл">
						</div>
						<div class="field">
							
							<input type="password" name="last-name" placeholder="Нууц үг">
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" tabindex="0" class="hidden">
								<label>Намайг сануулах</label>
							</div>
						</div>
						<div class="field">
							<button class="ui default fluid button" type="submit">НЭВТРЭХ</button>
						</div>
						<div class="field">
							<button class="ui fluid facebook button"><i class="facebook icon"></i>Facebook</button>
						</div>
						
						<button class="ui fluid google plus button"><i class="google plus icon"></i>Google Plus</button>
						
						<p class="cd-form-bottom-message"><a href="#0">Нууц үгээ мартсан уу?</a></p>
					</form>
				</div>
				<div id="cd-signup">
					<form class="ui form">
						<div class="field">
							<input type="text" name="first-name" placeholder="Имэйл">
						</div>
						<div class="field">
							<input type="text" name="first-name" placeholder="Имэйл">
						</div>
						<div class="field">
							<input type="password" name="last-name" placeholder="Нууц үг">
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" tabindex="0" class="hidden">
								<label> Би зөвшөөрч байна!</label>
							</div>
						</div>
						<button class="ui fluid button" type="submit">БҮРТГҮҮЛЭХ</button>
						<p><a href="#">Манай сайтны дүрэмтэй танилцан уу!!!</a></p>
					</form>
				</div>
				<div id="cd-reset-password">
					<p class="ui center aligned container">Та нууц үгээ мартсан уу? Та манай сайтанд бүртгүүлсэн бүртгэлтэй имэйл хаягаа оруулна уу!</p>
					<form class="ui form">
						<div class="field">
							
							<input type="text" name="first-name" placeholder="Имэйл">
						</div>
						<button class="ui fluid button" type="submit">Нууц үг илгээх</button>
						<p class="cd-form-bottom-message"><a href="#0">Буцах</a></p>
					</form>
				</div>
			</div>
		</div>
		<!-- end login -->
		
		<script src="js/new/modernizr.js"></script>
		<script type="text/javascript" src="js/new/components/popup.js"></script>
		<script type="text/javascript" src="js/new/components/dropdown.js"></script>
		<script type="text/javascript" src="js/new/components/transition.js"></script>
		<script src="js/new/iframe-content.js"></script>
		<script src="js/new/main.js"></script>
		<script src="js/new/responsiveslides.min.js"></script>
		<script>
				var content = [
				{ title: 'Andorra' },
				{ title: 'United Arab Emirates' },
				{ title: 'Afghanistan' },
				{ title: 'Antigua' },
				{ title: 'Anguilla' },
				{ title: 'Albania' },
				{ title: 'Armenia' },
				{ title: 'Netherlands Antilles' },
				{ title: 'Angola' },
				{ title: 'Argentina' },
				{ title: 'American Samoa' },
				{ title: 'Austria' },
				{ title: 'Australia' },
				{ title: 'Aruba' },
				{ title: 'Aland Islands' },
				{ title: 'Azerbaijan' },
				{ title: 'Bosnia' },
				{ title: 'Barbados' },
				{ title: 'Bangladesh' },
				{ title: 'Belgium' },
				{ title: 'Burkina Faso' },
				{ title: 'Bulgaria' },
				{ title: 'Bahrain' },
				{ title: 'Burundi' }
				];
		</script>
		<script>
		$(function() {
		$(".rslides").responsiveSlides();
		});
		</script>
		<script>
		$('#context1 .menu .item')
		.tab({
		context: $('#context1')
		})
		;
		$('#context2 .menu .item')
		.tab({
		context: 'parent'
		})
		;
		</script>
		<script>
		$('.special.cards .image').dimmer({
		on: 'hover'
		});
		</script>
		<script>
		$('.ui.checkbox')
		.checkbox()
		;
		$('.ui.accordion')
		.accordion()
		;
		$('.clear.example .button')
		.on('click', function() {
		$('.clear.example .ui.dropdown')
		.dropdown('clear')
		;
		})
		;
		$(document)
		.ready(function() {
		$('.ui.dropdown')
		.dropdown({
		on: 'click'
		})
		;
		})
		;
		$('.clear.example .button')
		.on('click', function() {
		$('.clear.example .ui.dropdown')
		.dropdown('clear')
		;
		})
		;
		$('.ui.search')
		.search({
		source: content
		})
		;
		$('.ui.rating')
		.rating()
		;
		</script>
		
		<script defer src="js/new/jquery.flexslider.js"></script>
		<script type="text/javascript">
		$(function(){
		SyntaxHighlighter.all();
		});
		$(window).load(function(){
		$('.flexslider').flexslider({
		animation: "slide",
		controlsContainer: $(".custom-controls-container"),
		customDirectionNav: $(".custom-navigation a"),
		
		});
		});
		</script>
		<script type="text/javascript">
		$('#reservation').daterangepicker({
		"autoApply": true,
		"showCustomRangeLabel": true,
		"alwaysShowCalendars": true,
		"startDate": "11/12/2016",
		"endDate": "11/18/2016",
		"opens": "center"
		}, function(start, end, label) {
		console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
		});
		</script>
		
	</body>
</html>