       {% extends "base.html" %} 
{% block title %}Мэдээ{% endblock %} 
{% block content %}          
<div class='gap'></div>
       <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <div class="sidebar-widget">
                            <div class="Form">
                                <input class="form-control" placeholder="Search..." type="text" />
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Categories</h4>
                            <ul class="icon-list list-category">
                                <li><a href="#"><i class="fa fa-angle-right"></i>Photos <small >(63)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Vacation <small >(94)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Flights <small >(56)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Travel Advices <small >(80)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Trending Now <small >(83)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Hotels <small >(89)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Places to Go <small >(69)</small></a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Travel Stories <small >(64)</small></a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Popular Posts</h4>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Viva Las Vegas" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Molestie praesent</a></h5>
                                        <p class="thumb-list-item-desciption">Natoque rhoncus rhoncus sociis taciti</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Eleifend dis</a></h5>
                                        <p class="thumb-list-item-desciption">Adipiscing ligula porttitor ipsum a</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Cup on red" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Porta nunc</a></h5>
                                        <p class="thumb-list-item-desciption">Mattis a lacinia vulputate blandit</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Twitter Feed</h4>
                            <div class="twitter" id="twitter"></div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Recent Comments</h4>
                            <ul class="thumb-list thumb-list-right">
                                <li>
                                    <a href="#">
                                        <img class="rounded" src="img/70x70.png" alt="Image Alternative text" title="Afro" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">6 minutes ago</p>
                                        <h4 class="thumb-list-item-title"><a href="#">Keith Churchill</a></h4>
                                        <p class="thumb-list-item-desciption">Erat praesent cursus taciti a dictum ridiculus...</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="rounded" src="img/70x70.png" alt="Image Alternative text" title="Gamer Chick" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">5 minutes ago</p>
                                        <h4 class="thumb-list-item-title"><a href="#">Joseph Hudson</a></h4>
                                        <p class="thumb-list-item-desciption">Iaculis faucibus etiam nisl facilisi massa ut...</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="rounded" src="img/70x70.png" alt="Image Alternative text" title="AMaze" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">5 minutes ago</p>
                                        <h4 class="thumb-list-item-title"><a href="#">Cheryl Gustin</a></h4>
                                        <p class="thumb-list-item-desciption">Tempor risus quisque egestas venenatis potenti lobortis...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Archive</h4>
                            <ul class="icon-list list-category">
                                <li><a href="#"><i class="fa fa-angle-right"></i>July 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>June 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>May 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>April 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>March 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>February 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>January 2014</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>December 2014</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Gallery</h4>
                            <div class="row row-no-gutter">
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="The Big Showoff-Take 2" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Spidy" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="b and w camera" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Happy Bokeh Day" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="sunny wood" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Good job" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="a dreamy jump" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="hover-img" href="#">
                                        <img src="img/100x100.png" alt="Image Alternative text" title="Me with the Uke" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Facebook</h4>
                            <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="1" data-header="1" data-show-border="1" data-width="233"></div>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <a class="hover-img" href="#">
                                <img src="img/1200x500.png" alt="Image Alternative text" title="196_365" /><i class="fa fa-link box-icon-# hover-icon round"></i>
                            </a>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Image Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">17 October, 2014</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Carol Blevins</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Web</a>, <a href="#">Design</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">11 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">Ornare euismod nec est justo massa gravida fames vulputate auctor egestas ante suscipit augue lacinia gravida velit conubia pharetra mollis risus facilisis dignissim lobortis euismod dolor placerat maecenas vel ultrices id lacus proin ante vulputate ornare congue placerat quam vivamus ante lacinia hendrerit rhoncus ad habitasse ante taciti vivamus auctor</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <blockquote>Est amet ultrices ipsum quam natoque cum pellentesque potenti phasellus aenean egestas iaculis duis mi porta litora mi conubia dictum</blockquote>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Quoute Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">15 October, 2014</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Brandon Burgess</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Lifestyle</a>, <a href="#">Web</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">10 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">Dictumst libero rutrum erat est fusce vestibulum aliquam ultricies adipiscing parturient class tempor suspendisse facilisis molestie gravida phasellus tincidunt vel aliquet sociosqu tempor laoreet dignissim diam elementum neque massa aliquam leo maecenas duis enim litora pulvinar aliquam dictumst quis laoreet diam per facilisis cursus hac ante mus aenean sem dapibus</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <div class="fotorama" data-allowfullscreen="true">
                                <img src="img/1200x500.png" alt="Image Alternative text" title="196_365" />
                                <img src="img/1200x500.png" alt="Image Alternative text" title="196_365" />
                                <img src="img/1200x500.png" alt="Image Alternative text" title="196_365" />
                            </div>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Slider Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">04 October, 2014</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Neil Davidson</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Web</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">12 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">Vulputate pellentesque fermentum eu dolor volutpat laoreet dui eu luctus egestas cursus posuere egestas tristique vivamus lectus senectus dictumst a velit hac facilisi bibendum duis laoreet vel mus porta cum himenaeos est hac augue et nascetur phasellus feugiat tempor facilisi nulla magna tortor sagittis parturient pellentesque mus tristique purus lacinia</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header"><a class="post-link" href="#">Google.com</a>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Link Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">22 September, 2014</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Oliver Ross</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Lifestyle</a>, <a href="#">Web</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">7 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">Sociosqu fermentum pellentesque sagittis ultrices volutpat odio donec amet nam fringilla quisque lacus tellus praesent aliquam scelerisque eros erat convallis himenaeos neque ullamcorper odio taciti dapibus cursus ornare magnis tempor vivamus quisque vivamus amet senectus at montes mattis pellentesque curae tristique nullam vestibulum convallis et eget posuere nec iaculis per</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <iframe src="//www.youtube.com/embed/6iHwPfirtUg" frameborder="0" allowfullscreen></iframe>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Youtube Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">27 August, 2014</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Cheryl Gustin</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Design</a>, <a href="#">Travel</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">14 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">Fringilla laoreet himenaeos hendrerit posuere eu fringilla ante dictum cras urna habitasse potenti nibh tincidunt non ridiculus purus ipsum pharetra fringilla dictum elit tempus suscipit vulputate neque bibendum felis sagittis curae nostra dictum ornare dictum fermentum justo dapibus iaculis mus malesuada leo velit curabitur in auctor ornare ligula nam cubilia</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <iframe src="http://player.vimeo.com/video/103721959" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Vimeo Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">27 June, 2014</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Richard Jones</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Travel</a>, <a href="#">Design</a>, <a href="#">Typography</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">16 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">Sagittis fusce malesuada porttitor blandit odio elit hac in lacus lacinia magnis laoreet aptent massa dolor lacus hac litora at class placerat quisque dictumst orci tempor himenaeos curae sed etiam quisque auctor sagittis primis tortor metus felis nec enim nisl nostra per sagittis ullamcorper imperdiet fusce viverra mollis taciti lectus</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <header class="post-header">
                            <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150793348&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
                        </header>
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Audio Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">11 March, 2014</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Joseph Hudson</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Travel</a>, <a href="#">Typography</a>, <a href="#">Lifestyle</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">5 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">Accumsan litora faucibus felis mi lacinia sociis commodo suscipit pulvinar ligula nibh litora malesuada ipsum orci felis facilisi interdum neque torquent egestas pharetra est cum tellus ultrices aliquam nam gravida hendrerit primis class egestas primis porta egestas non eleifend risus turpis commodo nisi felis nullam risus aliquam curae fusce elit</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <!-- START BLOG POST -->
                    <div class="article post">
                        <div class="post-inner">
                            <h4 class="post-title"><a class="text-darken" href="#">Default Post Type</a></h4>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">28 July, 2013</a>
                                </li>
                                <li><i class="fa fa-user"></i><a href="#">Leah Kerr</a>
                                </li>
                                <li><i class="fa fa-tags"></i><a href="#">Web</a>, <a href="#">Digital</a>
                                </li>
                                <li><i class="fa fa-comments"></i><a href="#">11 Comments</a>
                                </li>
                            </ul>
                            <p class="post-desciption">A blandit aenean fusce eleifend hendrerit ac fringilla vehicula eget odio orci hac mauris tincidunt tellus dis nec eleifend commodo per enim orci urna malesuada tincidunt nec libero turpis fermentum accumsan est non tristique interdum ligula sit luctus purus nulla et imperdiet maecenas suspendisse diam lorem nisi quis elit augue</p><a class="btn btn-small btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                    <!-- END BLOG POST -->
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">6</a>
                        </li>
                        <li><a href="#">7</a>
                        </li>
                        <li class="dots">...</li>
                        <li><a href="#">43</a>
                        </li>
                        <li class="next"><a href="#">Next Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                        {% endblock %} 
{% block scripting %} 
{{parent()}}

{% endblock %}