{% extends "base.html" %} 
{% block content %}          
<div class='gap'></div>
<div class="container">
    <div class="row">
        {% block subcontent %}
        {% endblock %}
        <div class="col-md-3">
            <aside class="sidebar-right">
                <div class="sidebar-widget">
                    <div class="Form">
                        <input class="form-control" placeholder="Хайлт..." type="text" id='search'/>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <h4>Ангилал</h4>
                    <ul class="icon-list list-category">
                        <li><a href="index.php?news_category=Travel Advices">
                            <i class="fa fa-angle-right"></i>Аялалын зөвлөгөө <small>({{category.travel_advice}})</small></a>
                        </li>
                        <li><a href="index.php?news_category=Hotels">
                            <i class="fa fa-angle-right"></i>Зочид Буудлууд <small>({{category.hotels}})</small></a>
                        </li>
                        <li><a href="index.php?news_category=Places to Go">
                            <i class="fa fa-angle-right"></i>Сонин хачин <small >({{category.place_to_go}})</small></a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
{% endblock %} 
{% block scripting %} 
{{parent()}}
<script>
$(document).ready(function(){
    $('#search').keypress(function(e){
        if(e.keyCode == 13){
            var key = $('#search').val();
            var url = "index.php?news_search="+key;
            window.location.replace(url);
        }
    });
});
</script>
{% endblock %}
