{% extends "base.html" %}
{% block content %}
<div class="gap"></div>
<div class="container">
    <div class="row" data-gutter="60">
        <div class="col-md-4">
            <h3>Нэвтрэх</h3>
            <form>
                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Цахим шуудан</label>
                    <input class="form-control" placeholder="@" type="text" id="email"/>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                    <label>Нууц үг</label>
                    <input class="form-control" type="password" placeholder="*****" id="password"/>
                </div>
                <div class="alert alert-danger" id='login-alert'>
                    <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                    </button>
                    <p class="text-small"></p>
                </div>
                <input class="btn btn-primary" type="button" value="Нэвтрэх" id="login"/>
                <a class="popup-text" id="forgot_text" href="#forgot-dialog" data-effect="mfp-zoom-out">Нууц үг мартсан</a>
            </form>
            <br />
            <div class="alert alert-success" id="register-success1">
                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                </button>
                <p class="text-small"></p>
            </div>
            <div class="alert alert-danger" id='login-alert1'>
                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                </button>
                <p class="text-small"></p>
            </div>
            <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="forgot-dialog">
                <form>
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Цахим шуудан</label>
                        <input class="form-control" placeholder="example@example.com" type="text" id="forgot_email"/>
                    </div>
                    <input class="btn btn-primary" type="button" value="илгээх" id="forgot_password"/>
                </form>
            </div>
        </div>
        <div class="col-md-4 small-top">
            <h3>Бүртгүүлэх үү?</h3>
            <form>
                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Нэр</label>
                    <input class="form-control" placeholder="Х.Бат-Итгэл" type="text" id="rusername" />
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show" ></i>
                    <label>Цахим шуудан</label>
                    <input class="form-control" placeholder="@" type="email" id="remail" />
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show" ></i>
                    <label>Нууц үг</label>
                    <input class="form-control" type="password" placeholder="****" id="rpassword" />
                </div>
                <div class="alert alert-success" id='register-success'>
                    <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                    </button>
                    <p class="text-small"></p>
                </div>
                <div class="alert alert-danger" id='register-alert'>
                    <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span>
                    </button>
                    <p class="text-small"></p>
                </div>
                <input id="add" class="btn btn-primary" type="button" value="Бүртгүүлэх" />
            </form>
        </div>
        <div class='col-md-4 small-hidden'>
            <a href="index.php?asem"><img src='img/asem.png' style="width:120%; margin-top:46px"></a>

        </div>
    </div>
</div>
{% endblock %}
{% block scripting %}
{{parent()}}
<script type="text/javascript">
    $('#login').click(function(){
        $('.alert').hide(0);
        var $this = $(this);
        $this.after('<div id="loading"></div>');
        $this.addClass('disabled');
        $.post("login.php", {
            email: $('#email').val(),
            password: $('#password').val()
        },
        function (result) {
            if(result==1){
                window.location.replace("index.php");
            }
            else{
                $('#loading').remove();
                $this.removeClass('disabled');
                $('#login-alert').fadeIn(500);
                $('#login-alert p').text('Нэвтрэх нэр эсвэл нууц үг буруу байна!');
            }
        });
    });
    $('#add').click(function(){
        $('#register-success').hide();
        $('#register-alert').hide();
        var $this = $(this);
        $this.after('<div id="loading"></div>');
        $this.addClass('disabled');
        $.post("user.php", {
            email: $('#remail').val(),
            username: $('#rusername').val(),
            password: $('#rpassword').val()
        }, function (result) {
            if(result==1){
                $('#loading').remove();
                $('#register-success').fadeIn(500);
                $('#register-success p').text('Бүртгэл амжилттай боллоо. Та и-мэйл рүүгээ орж бүртгэлээ идэвхижүүлнэ үү!');
            }
            else{
                $('#loading').remove();
                $this.removeClass('disabled');
                $('#register-alert').fadeIn(500);
                $('#register-alert p').text('Та өмнө нь бүртгэгдсэн эсвэл бүртгэлийн мэдээллээ буруу бөглөсөн байна!');
            }
        });
    });
    $('#forgot_password').click(function(){
        $('#register-success1').hide();
        $('#login-alert1').hide();
        $.post("user.php", {
            forgot_password: $('#forgot_email').val(),
        }, function (result) {
            if(result==1){
                $(".mfp-close").trigger('click');
                $('#register-success1').fadeIn(500);
                $('#register-success1 p').text('Та и-мэйл рүүгээ орж нууц үгээ сэргээнэ үү!');
            }
            else{
                $(".mfp-close").trigger('click');
                $('#login-alert1').fadeIn(500);
                $('#login-alert1 p').text('Таны и-мэйл хаяг буруу байна!');
            }
        });
    });
</script>
{% endblock %}
