{% extends "base.html" %}
{% block title %}Үйлчилгээний нөхцөл{% endblock %}
{% block content %}
        <div class="container">
            <h3 class="page-title">Үйлчилгээний нөхцөл<h3>
        </div>
        <div class="container">
            <h4>Ерөнхий зүйл</h4>
            <p>iHotel.mn цахим хуудсыг болон түүнд агуулагдаж байгаа бүх текст, фото, график, видео, дуу авианы контентуудыг бүхэлд нь Айхотел ХХК хариуцдаг болно. Хэрэглэгч нь энэхүү журамд нийцүүлэн уг сайтыг хэрэглэх ёстой.Хэрвээ дурдсан нөхцлүүдийг зөвшөөрөхгүй бол сайтад хандах болон хэрэглэхээс татгалзахыг зөвлөж байна.</p>
             <p>Айхотел ХХК нь үйлчилгээний нөхцөлд хүссэн үедээ өөрчлөлт хийх бүрэн эрхтэй. Хийгдсэн өөрчлөлтүүд нь сайтад нийтлэгдсэн мөчөөс хүчин төгөлдөр үйлчилнэ. Хэрэглэгч нь нөхцөлд орсон өөрчлөлтийг нийтлэгдсэнээс хойш хэрэглэвэл хүлээн зөвшөөрсөнд тооцогдоно.</p>
             <p>Айхотел ХХК нь сайтын агуулга, үйлчилгээний бүтэц, хэлбэр загвар зэрэгт хүссэн үедээ, хүссэн өөрчлөлт шинэчлэлтээ хийх эрхтэй.</p>
            <h4>Оюуны өмчлөл</h4>
            <p>Сайтад нийтлэгдсэн текст, дуу авиа, график зураг, лого, фото, видео болон бусад бүх контентуудын оюуны өмчлөл нь Монгол Улсын холбогдох хууль тогтоомжийн дагуу баталгаажсан болно.</p>
            <p>Сайтын аливаа контентыг хэрэглэгч нь зөвхөн хувийн хэрэгцээндээ ашиглах эрхтэй. Айхотел ХХК-ийн зөвшөөрөлгүйгээр контентыг хувилж тараах, нийтлэх, арилжааны зорилгоор ашиглахыг хориглоно.</p>
            <p>Хэрэглэгч нь сайтын аливаа контентыг хуулж, татаж авснаар өмчлөх эрх шилжихгүй гэдгийг анхааруулж байна.</p>
            <h4>Гуравдагч этгээдийн контент</h4>
            <p>Сайт нь гэрээний үндсэн дээр гуравдагч мэдээллийн эх үүсвэрийн контент,байгууллагын үйлчилгээний танилцуулга, үнийн саналыг нийтэлнэ.</p>
            <p>Тэдгээр мэдээлэл нь тус тусын зохиогч, өмчлөгчтэй байх ба сайт нь гэрээнийнөхцлөөс гадуур эзэмших эрхгүй.</p>
            <p>Гуравдагч этгээдийн контентод туссан мэдээллийн үнэн зөв байдал, үйлчилгээний чанарын өмнөөс цахим хуудас нь хариуцлага хүлээхгүй. Хэрэглэгч нь эдгээр контентын үнэн зөв байдал, үйлчилгээний чанарт зэрэгт хувийн үнэлэлт дүгнэлтээ өгөх үүрэгтэй.</p>
            <h4>Сурталчилгаа</h4>
            <p>Цахим хуудас нь арилжааны зорилгоор сурталчилгаа байршуулах эрхтэй.</p>
            <p>Хэрэглэгч болон сурталчлагч байгууллагын хоорондын харилцаанд Цахим хуудас огт оролцохгүй ба үүнтэй холбоотой үүссэн аливаа маргаан, үл ойлголцолд Сайт хариуцлага хүлээхгүй.</p>
            <h4>Барааны тэмдэгт</h4>
            <p>Цахим хуудаст нийтлэгдсэн Айхотел ХХК-нд харъяалагдах бүх үйлчилгээ, бүтээгдэхүүний барааны тэмдэгт нь тус компаний өмчид тооцогдоно.</p>
            <p>Цахим хуудаст нийтлэгдсэн гуравдагч этгээдүүдийн барааны тэмдэгтүүд нь тус тусын эзэмшигчдийн өмчид тооцогдоно.</p>
            <h4>Шинэчлэл</h4>
            <p>Энэхүү үйлчилгээний нөхцөл нь 2016 оны 2-р сарын 1-нд шинэчлэгдсэн болно.</p>
        </div>

        {% endblock %}
{% block scripting %}
{{parent()}}

{% endblock %}
