{% extends "user.html" %}

{% block user_content %}
{% if hotels %}
<a href="index.php?add_general" class="btn btn-primary" value="">Шинэ буудал оруулах</a>
<div class="gap-small"></div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Нэр</th>
            <th>Байршил</th>
            <th>Өрөөний тоо</th>
            <th>Бүртэгдсэн</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="orders">
        {% for hotel in hotels %}
        <tr>
            <td class="text-center" data-name='№'>
                {{loop.index}}
            </td>
            <td data-name='Нэр'>{{hotel.name}}</td>
            <td data-name='Байршил'>{{hotel.city}}</td>
            <td data-name='Өрөөний тоо'>{{hotel.num_rooms}}</td>
            <td data-name='Бүртгэгдсэн'>{{hotel.createdAt | date("Y-m-d")}}</td>
            <td data-name='Статус'>{% if hotel.status==1 %}
                <i class="fa fa-check" name="{{hotel.objectId}}"></i>
                {%elseif hotel.status == 2%}
                <i class="fa fa-check-circle" name="{{hotel.objectId}}"></i>
                {%else%}
                <i class="fa fa-times-circle"></i>
                {%endif%}
            </td>
            <td class="operations">
                <a name="{{hotel.objectId}}" class="btn btn-primary edit ajax" href="#" onclick="edit_hotel('{{hotel.objectId}}')">Засах</a>
                {% if hotel.homepage ==0 %}
                <a name="{{hotel.objectId}}" set="1" class="btn btn-primary set" href="#">Set</a>
                {%else%}
                <a name="{{hotel.objectId}}" set="0" class="btn btn-primary unset" href="#">Unset</a>
                {%endif%}
                <a name="{{hotel.objectId}}"  class="btn btn-default ajax" href="#" onclick="disable_hotel('{{hotel.objectId}}')">Цуцлах</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h4>Сайн байна уу</h4>
<p>Одоогоор та буудал нэмээгүй байна <a href="index.php?add_general">Энд</a> дарж анхны буудалаа үүсгэнэ үү.</p>
{% endif %}
{% endblock %}

{% block scripting %}
{{parent()}}
<script>
$(document).on('click', '.set', function(){
    var name = $(this).attr('name');
    var $this = $(this);

    if (confirm('Та итгэлтэй байна уу?')) {
        $.ajax({
            type: "POST",
            url: "delete.php",
            data: {data:name,action:3},
            success: function(data, textStatus, jqXHR)
            {  
                $this.text('Unset');
                $this.removeClass('set').addClass('unset');
            },
            error: function(xhr, textStatus, errorThrown){
                alert(textStatus);
            }
        });
    }
});
$(document).on('click', '.unset', function(){
    var name = $(this).attr('name');
    var $this = $(this);

    if (confirm('Та итгэлтэй байна уу?')) {
        $.ajax({
            type: "POST",
            url: "delete.php",
            data: {data:name,action:4},
            success: function(data, textStatus, jqXHR)
            {    
                $this.text('Set');
                $this.removeClass('unset').addClass('set');
           },
           error: function(xhr, textStatus, errorThrown){
            alert(textStatus);
        }
    });
    }
});   
</script>
{% endblock %}
