{% extends "user.html" %}
{% block user_content %}
{% if orders %}
    {%if user.asem==0%}
        <div class="checkbox">
            <label><input class="i-check" type="checkbox" />Зөвхөн идэвхтэй байгааг харая</label>
        </div>
        <table class="table table-bordered table-striped table-booking-history">
            <thead>
                <tr>
                    <th></th>
                    <th>Буудал</th>
                    <th>Байршил</th>
                    <th>Захиалсан</th>
                    <th>Огноо</th>
                    <th>Төлбөр ₮</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="orders">
            {% for order in orders %}
            <tr>
                <td class="text-center">
                    {% if order.status == 1 %}
                    <i class="fa fa-check" name="{{order.objectId}}"></i>
                    {% elseif order.status == 2 %}
                    <i class="fa fa-check-circle" name="{{order.objectId}}"></i>
                    {% elseif order.status == 0 %}
                    <i class="fa fa-times-circle"></i>
                    {%endif%}
                </td>
                <td class="booking-history-title">{{order.hotel.name}}</td>
                <td>{{order.location}}</td>
                <td>{{order.createdAt | date("Y-m-d")}}</td>
                <td>{{order.start}}<i class="fa fa-long-arrow-right"></i>{{order.end}}</td>
                <td>{{order.total}}</td>

                <td class="text-center">{%if order.status==-1%} Банкны хяналтанд <a name="{{order.objectId}}" class="btn btn-default btn-sm" href="#" onclick="cancel('{{order.objectId}}')">Цуцлах</a> {%elseif order.status==-3%} Цуцлагдсан {%else%} Батлагдсан{%endif%}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {%else%}
        <h5>Reservations</h5> 
        <table class="table table-bordered table-striped table-booking-history">
            <thead>
                <tr>
                    <th></th>
                    <th>Hotel name</th>
                    <th>Location</th>
                    <th>Order date</th>
                    <th>Date</th>
                    <th>Days</th>
                    <th>Payment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="orders">
            {% for order in orders %}
            <tr>
                <td class="text-center">
                    {% if order.status==1 %}
                    <i class="fa fa-check" name="{{order.objectId}}"></i>
                    {%elseif order.status == 2%}
                    <i class="fa fa-check-circle" name="{{order.objectId}}"></i>
                    {%else%}
                    <i class="fa fa-times-circle"></i>
                    {%endif%}
                </td>
                <td class="booking-history-title">{{order.hotel.name}}</td>
                <td>Ulaanbaatar, Mongolia</td>
                <td>{{order.createdAt | date("Y-m-d")}}</td>
                <td>{{order.start}}<i class="fa fa-long-arrow-right"></i>{{order.end}}</td>
                <td>{{order.days}}</td>
                <td>${{order.total}}</td>

                <td class="text-center">{%if order.status==-1%}<strong>Under bank control</strong> <a name="{{order.objectId}}" class="btn btn-primary btn-sm" href="#" onclick="cancel('{{order.objectId}}')">Cancel this booking </a>{%elseif order.status==-3%} Cancelled {%else%} <strong>Confirmed</strong> {%endif%}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if start %}
            <h5>Payment due reservations</h5>
            <table class="table table-bordered table-striped table-booking-history">
                <thead>
                    <tr>
                        <th></th>
                        <th>Hotel name</th>
                        <th>Location</th>
                        <th>Order date</th>
                        <th>Date</th>
                        <th>Payment $</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="orders">
                <tr>
                    <td class="text-center">
                        {% if order.status==1 %}
                        <i class="fa fa-check" name="{{order.objectId}}"></i>
                        {%elseif order.status == 2%}
                        <i class="fa fa-check-circle" name="{{order.objectId}}"></i>
                        {%else%}
                        <i class="fa fa-times-circle"></i>
                        {%endif%}
                    </td>
                    <td class="booking-history-title">{{hotel.name}}</td>
                    <td>Ulaanbaatar, Mongolia (ASEM 11)</td>
                    <td>Just now</td>
                    <td>{{start}}<i class="fa fa-long-arrow-right"></i>{{end}}</td>
                    <td>{{total}}</td>

                    <td class="text-center"><a name="{{order.objectId}}" class="btn btn-primary btn-sm" href="index.php?asem_payment" >Pay now</a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    {%endif%} 
{% else %}
    {%if user.asem==0%} 
        <h4>Сайн байна уу</h4>
        <p>Одоогоор та захиалга хийгээгүй байна. <a href="index.php?search">Энд</a> дарж анхны захиалгаа хийнэ үү. Анхны захиалгаа 10% хөнгөлөлттэй үнээр хийгээрэй.</p>
    {%else%} 
        <h4>Greeting ASPAC 2017 guest</h4>
        {% if start %}
        <h5>Payment due reservations</h5>
        <table class="table table-bordered table-striped table-booking-history">
            <thead>
                <tr>
                    <th></th>
                    <th>Hotel name</th>
                    <th>Location</th>
                    <th>Order date</th>
                    <th>Date</th>
                    <th>Payment $</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="orders">
            <tr>
                <td class="text-center">
                    {% if order.status==1 %}
                    <i class="fa fa-check" name="{{order.objectId}}"></i>
                    {%elseif order.status == 2%}
                    <i class="fa fa-check-circle" name="{{order.objectId}}"></i>
                    {%else%}
                    <i class="fa fa-times-circle"></i>
                    {%endif%}
                </td>
                <td class="booking-history-title">{{hotel.name}}</td>
                <td>Ulaanbaatar, Mongolia (ASPAC)</td>
                <td>Just now</td>
                <td>{{start}}<i class="fa fa-long-arrow-right"></i>{{end}}</td>
                <td>{{total}}</td>

                <td class="text-center"><a name="{{order.objectId}}" class="btn btn-primary btn-sm" href="index.php?asem_payment" >Pay now</a>
                </td>
            </tr>
            </tbody>
        </table>
        <p>To cancel current order please make new reservation. <a href="index.php?asem">Click here</a> to make new reservation.</p> 
        {% else %}
        <p>You haven't done any hotel booking currently. Please book you hotel as soon as possible. <a href="index.php?asem">Click here</a> to order your first booking.</p> 
        {%endif%}
    {%endif%}
{% endif %}
{% endblock %}
